{% extends "prodtask/_index.html" %}

{% load static from staticfiles %}


{% block extra_css %}
{{ block.super }}


{% endblock %}
{% block subtitle %}
{% if title %}{{ title }}{% endif %}
{% endblock %}
{% block body %}



<style type="text/css">

    @import "{% static "css/dataTables.tableTools.css" %}";
     @import "{% static "css/prodtask.css" %}";
    @import "{% static "css/dataTables.foundation.min.css" %}";
    @import "{% static "css/jquery.dataTables.min.css" %}";

    .dataTables_wrapper .dataTables_paginate .paginate_button {padding: 0em 0em;}

    td.details-control {
    background: url('http://legacy.datatables.net/release-datatables/examples/examples_support/details_open.png') no-repeat center center;
    cursor: pointer;
    }
    tr.shown td.details-control {
    background: url('http://legacy.datatables.net/release-datatables/examples/examples_support/details_close.png') no-repeat center center;
    }

</style>

    <script type="text/javascript" src="{% static "js/jquery-1.11.3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.dataTables-1.10.10.js" %}"></script>
    <script type="text/javascript" src="{% static "js/cookie-1.4.0.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dataTables.foundation-1.10.10.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dataTables.tableTools-2.2.3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fnProcessingIndicator-1.10.10.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.json-2.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/foundation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/prodtask.js" %}"></script>



        {% if get_tasks_by_url %}
            <div class="row">
            <div class="small-6 large-6 columns">
                <input type="text" id="find_tasks_url" value="{{ params_for_bigpanda  }}">
            </div>
            <div class="small-3 large-3 columns">
                <a class="button postfix" id="btn_find_jobs">Go</a>
            </div>
             <div class="small-1 large-1 columns">
                <a class="button postfix alert" id="btn_clean_table">X</a>
            </div>
            </div>
        {% endif %}
        <div class="row">
         <div class="small-6 large-6 columns">
         <table id ='stepStat'></table>
             </div>

            <div class="small-6 large-6 columns">
        <table id ='statusStat'></table>
                </div>
        </div>
            <table id="example" class="display" cellspacing="0" width="100%">

           <thead>
           <tr>
           <th></th>
           <th>Task Name</th>
           <th>TaskID</th>
           <th>Owner</th>
           <th>ReqID</th>
           <th>Status</th>
           <th>Priority</th>
           <th style="font-size : 50%">(Current) Priority</th>

           <th>Events</th>
           <th style="font-size : 50%">Failure %</th>
           <th>Step</th>
           </tr>
           </thead>
           <tfoot>
           <tr>
           <th></th>
           <th>Task Name</th>
           <th>TaskID</th>
           <th>Owner</th>
           <th>ReqID</th>
            <th id="statusFilter">Status</th>

           <th>Priority</th>
           <th >(Current) Priority</th>

           <th>Events</th>
           <th >Failure %</th>
          <th id="stepsFilter">Step</th>
           </tr>
           </tfoot>
        </table>
<h6 >Tasks selected: <span id="selectedTasksNumber">0</span></h6>
<!--
         <div class="small-3 large-3 columns">
            <a class="button postfix" id="btn_handle_jobs">Action</a>
         </div>
-->


    <script type="text/javascript">
        $(document).foundation();
    </script>

    <div class="left">

        {% include "reqtask/_task_manage_panel.html" %}

    </div>

{% csrf_token %}


    <script type="text/javascript" class="init">
    {% autoescape off %}
        {% if reqid %}
            var reqID = {{ reqid }};
        {% else %}
            var reqID = false;
        {% endif %}
        {% if get_tasks_by_url %}
            var useInputURL = true;
        {% else %}
            var useInputURL = false;
        {% endif %}

    {% endautoescape %}
        var runStatusList = [];
        var goodStatusList = [];

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                }
            }
        });

        /* Formatting function for row details - modify as you need */
        function format ( d ) {
        // `d` is the original data object for the row
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<tr>'+
                '<td>Task name:</td>'+
                '<td>'+ '<a href="'+construct_django_url("/prodtask/task/", d.id)+'">'+ d.name+ '</a>'+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Input Dataset :</td>'+
                '<td>'+d.primary_input+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>BigPanDA link :</td>'+
                '<td>'+'<a href="http://bigpanda.cern.ch/task/'+ d.id+'/">'+"http://bigpanda.cern.ch/task/"+ d.id+'</a>'+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Outputs:</td>'+
                '<td>'+ d.output_formats+'</td>'+
            '</tr>'+


            '</table>';
        }



        $(document).ready(function() {

            $('#example tfoot th').each( function () {
                    var title = $(this).text();
                    if( title !== '')
                        $(this).html( '<input class="SearchFooter" type="text" placeholder="Search '+title+'" />' );
                } );


	        var table = $('#example').DataTable({
	                    "bProcessing" : true,
                        dataType : "json",
                        columns : [
                                {
                                "className":      'details-control',
                                "orderable":      false,
                                "data":           null,
                                "defaultContent": ''
                                },
                                {
                                "data" : "name",
                                "visible" : true

                                },
                                {"data" : "id" },
                                {"data" : "username"},
                                {"data" : "request_id" },
                                {"data" : "status"},
                                {"data" : "priority",
                                "visible" : false
                                },
                                {"data" : "current_priority" },
                                {"data" : "total_events" },
                                {"data" : "failure_rate" },
                                {
                                "data" : "step_name",
                                "visible" : true
                                }

                        ],
                        dom: 'T<"clear">lftirp',
                        tableTools: {
                            "sRowSelect": "os",
                            "fnRowSelected" : function(){
                                $("#selectedTasksNumber").html(table.rows('.selected').data().length);
                            },
                            "fnRowDeselected" : function(){
                                $("#selectedTasksNumber").html(table.rows('.selected').data().length);
                            },
                            "aButtons": [
                                            {
                                                "sExtends":    "select",
                                                "sButtonText": "Select Filtered",
                                                "fnClick": function (nButton, oConfig, oFlash) {
                                                                        var oTT = TableTools.fnGetInstance('example');
                                                                        oTT.fnSelectAll(true); //True = Select only filtered rows (true). Optional - default false.
                                                                        }
                                            },
                                            "select_none"
                                        ]
 //                           "aButtons": [ "select_all", "select_none" ]
                        },
                        "aLengthMenu": [[10, 50, 100, 500, 1000], [10, 50, 100, 500, 1000]],
                        "aoColumnDefs": [{
                                            "aTargets": [5],
                                            "mRender": function ( data, type, full ) {
                                                //return '<a href="http://bigpanda.cern.ch/task/'+data+'/">'+data+'</a>'
                                                return '<span class="rstat tstat '+data+'">'+ data+ '</span>'
                                            }

                                        },
                                        {
                                            "aTargets": [1],
                                            "mRender": function ( data, type, full ) {
                                                //return '<a href="http://bigpanda.cern.ch/task/'+data+'/">'+data+'</a>'
                                                return '<span style="font-size : 80%;word-wrap: break-word;">'+ data+ '</span>'
                                            },

                                        },
                                        {
                                            "aTargets": [2],
                                            "mRender": function ( data, type, full ) {
                                                //return '<a href="http://bigpanda.cern.ch/task/'+data+'/">'+data+'</a>'
                                                return '<a href="'+construct_django_url("/prodtask/task/", data)+'">'+ data+ '</a>'
                                            }
                                        },
                                        {
                                            "aTargets": [4],
                                            "mRender": function ( data, type, full ) {
                                                return '<a href="'+construct_django_url("/prodtask/inputlist_with_request/", data)+'">'+data+'</a>'
                                            }
                                        }

                                        ],
                        "rowCallback": function ( row, data, index ) {

                                    if (data.current_priority == null){
                                        $('td:eq(6)', row).html( data['priority'] );
                                        }
                                                                    },

                        "order": [[1, 'asc']]

                        //fnInitComplete : function() {
                        //    $("thead tr").clone().appendTo($("tfoot")) ;
                        //}
                    });





        table.columns().every( function () {

                        var column = this;

                        $( 'input', this.footer() ).on( 'keyup change', function () {
                                //console.log(column.data());
                                column.search( this.value ).draw();

                        } );
        } );

        table.on( 'select', function ( e, dt, type, indexes ) {
                console.log('test');
               $("#selectedTasksNumber").html(table.rows('.selected').data().length);
            } );







        $('#example tbody').on( 'click', 'tr', function () {
                //$(this).toggleClass('selected');
                $(this).toggleClass('active');
            } );
        $('#example').on( 'select', function (e, dt, type, indexes ) {
                //$(this).toggleClass('selected');

                console.log('test');
               $("#selectedTasksNumber").html(table.rows('.selected').data().length);
            } );

        //$("#btn_find_tasks").click(function(){






        //} );
            //$(".dataTables_processing").css('visibility','hidden');
        find_tasks();
        $("#statusFilter input").css({'display':'none'});
        $("#stepsFilter input").css({'display':'none'});
            // Add event listener for opening and closing details
        $('#example tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );

            if ( row.child.isShown() ) {
            // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
            }
            } );




        } );
    function filterStatus(){
        var tab = $('#example').DataTable();
        var filterString = [];
        var propertyStatus = ['total','active','good'];
        $(".changeStatusCheckbox:checked").each(function() {
            {#                   8 = "checkbox".length#}
            var status = $(this).attr("id").slice('cb'.length);

            if (propertyStatus.indexOf(status)==-1) {
                filterString.push(status);
            }

        });
        tab.columns(5).search(filterString.join('|'),true,false).draw();
    }
     function reDrawStatus(statusList){
            $('#statusStat').html('<tr id="statusHeader"></tr><tr id="statusBody"></tr><tr id="statusChoose"></tr>');
            for(i=0;i<statusList.length;i++){
                $('#statusHeader').append('<th><span class=" rstat tstat  '+ statusList[i]['name']+' changeStatusFilter" style="cursor: pointer;">'+statusList[i]['name']+'</span></th>');
                $('#statusBody').append('<th >'+statusList[i]['count']+'</th>');
                $('#statusChoose').append('<th><input id="cb'+statusList[i]['name']+'" type="checkbox" class=" '+ statusList[i]['name']+' changeStatusCheckbox" checked></th>');
                if (statusList[i]['property']['active']){
                    runStatusList.push(statusList[i]['name']);
                }
                if (statusList[i]['property']['good']){
                    goodStatusList.push(statusList[i]['name']);
                }
            }

            $(".changeStatusFilter").click(function changeStatusFilterFun(){
                var newStatus = $(this).html();
                if (newStatus=='total'){
                    $(".changeStatusCheckbox").prop("checked", true);
                } else{
                    $(".changeStatusCheckbox").prop("checked", false);

                }
                 if (newStatus=='active'){
                     for(i=0;i<runStatusList.length;i++){
                         $("input."+runStatusList[i]+".changeStatusCheckbox").prop("checked", true);
                     }
                 }
                 if (newStatus=='good'){
                     for(i=0;i<goodStatusList.length;i++){
                         $("input."+goodStatusList[i]+".changeStatusCheckbox").prop("checked", true);
                     }
                 }
                 $("input."+newStatus+".changeStatusCheckbox").prop("checked", true);
                filterStatus();
            });
            $(".changeStatusCheckbox").click(function changeStatusFilterFun(){
                var checkedStatus = $(this).attr("id").slice('cb'.length);
                switch (checkedStatus){
                    case 'total':
                        $(".changeStatusCheckbox").prop("checked", $(this).prop("checked"));
                        break;
                    case 'active':
                        if($(this).prop("checked")){
                            $(".changeStatusCheckbox").prop("checked", false);
                            $(this).prop("checked",true);
                            for(i=0;i<runStatusList.length;i++){
                             $("input."+runStatusList[i]+".changeStatusCheckbox").prop("checked", true);
                            }
                        }

                        break;
                    case 'good':
                        if($(this).prop("checked")){
                            $(".changeStatusCheckbox").prop("checked", false);
                            $(this).prop("checked",true);
                             for(i=0;i<goodStatusList.length;i++){
                                 $("input."+goodStatusList[i]+".changeStatusCheckbox").prop("checked", true);
                             }
                        }
                        break;
                }

                filterStatus();
            });
     }
          function reDrawSteps(stepsList){
            $('#stepStat').html('<tr id="stepsHeader"></tr><tr id="stepsBody"></tr><tr id="stepsChoose"></tr>');
            for(i=0;i<stepsList.length;i++){
                step_name = stepsList[i]['name'].replace(" ",'_');
                $('#stepsHeader').append('<th><span class=" rstat tstat  '+ step_name+' changeStepsFilter" style="cursor: pointer;">'+stepsList[i]['name']+'</span></th>');
                $('#stepsBody').append('<th >'+stepsList[i]['count']+'</th>');
                $('#stepsChoose').append('<th><input id="cb'+step_name+'" type="checkbox" class=" '+ step_name+' changeStepsCheckbox" checked></th>');

            }

            $(".changeStepsFilter").click(function changeStepsFilterFun(){
                var newSteps = $(this).html();
                if (newSteps=='total'){
                    $(".changeStepsCheckbox").prop("checked", true);
                } else{
                    $(".changeStepsCheckbox").prop("checked", false);

                }
                 $("input."+newSteps.replace(" ",'_')+".changeStepsCheckbox").prop("checked", true);
                filterSteps();
            });
            $(".changeStepsCheckbox").click(function changeStepsFilterFun(){
                var checkedSteps = $(this).attr("id").slice('cb'.length);
                switch (checkedSteps){
                    case 'total':
                        $(".changeStepsCheckbox").prop("checked", $(this).prop("checked"));
                        break;
                }

                filterSteps();
            });
     }
         function filterSteps(){
                var tab = $('#example').DataTable();
                var filterString = [];
                var propertySteps = ['total'];
                $(".changeStepsCheckbox:checked").each(function() {
                    {#                   8 = "checkbox".length#}
                    var steps = $(this).attr("id").slice('cb'.length);

                    if (propertySteps.indexOf(steps)==-1) {
                        filterString.push('^'+steps.replace('_'," ")+'$');
                    }

                });
                tab.columns(10).search(filterString.join('|'),true,false).draw();
        }
        function find_tasks(){
             var parameters = {};
            if (reqID){
                 parameters = {'reqid':reqID};
            }
                if(useInputURL){
                    parameters = {'site':$('#find_tasks_url').val()}
                }
            var ajaxUrl =  "/reqtask/get_tasks/";
            $('#example').dataTable().fnProcessingIndicator();
            $.ajax({
                url: ajaxUrl,
                type: "POST",
                data: $.toJSON(parameters),
                dataType: "json",
                complete: function (jqXHR, textStatus) {

                    var data =  $.parseJSON(jqXHR.responseText);
                    $('#example').dataTable().fnClearTable();
                    if (data.data.length !== 0) {
                        $('#example').dataTable().fnAddData(data.data);
                    }
                    $('#example').dataTable().fnDraw();
                    reDrawStatus(data.status_stat);
                    reDrawSteps(data.steps_stat);
                    $('#example').dataTable().fnProcessingIndicator(false);



                } // 'complete' event handler

            });

        };

        $("#btn_find_jobs").click(function(){
            $("#statusStat").html('');
            find_tasks();


        } );
        $("#btn_clean_table").click(function(){

            $("#find_tasks_url").val('');
            $("#statusStat").html('');
            var oTable = $('#example').dataTable();
                    oTable.fnClearTable();
                    oTable.fnAddData(data);
                    oTable.fnDraw();
        } );

        $("#btn_handle_jobs").click(function(){


            var table = $('#example').DataTable();
            var data = table.rows('.selected').data().toArray();
            alert( table.rows('.selected').data().length +' job(s) selected for ACTION' );
            var ajaxUrl =  "/reqtask/tasks_action/";

            $.ajax({
                url: ajaxUrl,
                type: "POST",
                data: $.toJSON(data),
                dataType: "json",
                complete: function (jqXHR, textStatus) {
                    alert(jqXHR.responseText);


                }

            });

        }  );


    </script>



{% endblock %}