{% extends "atlas/_index_grid.html" %}
{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA jobs{% endblock %}
{% block subtitle %}PanDA {{view}} dashboard{{ viewParams.selection }}{% endblock %}
{% block body %}

{{ viewParams.header }}

{% if viewParams.MON_VO != 'ATLAS' %}

<table width=800><tr><td>
This page summarizes recent job status for VOs, clouds and sites. Click on the numbers to see job listings.
Failure rates above 5% are shown in red.
Click the cloud name in the overall summary to go to the cloud's site summary.
Click the job counts to go to job listings.
</tr></td></table>
<p>

<div class='section'>VO / Cloud / Site summary</div>
{% else %}

{% if view == 'analysis' %}
<div class='section'>Analysis jobs</div>
{% elif view == 'production' %}
<div class='section'>Production jobs</div>
{% else %}
<div class='section'>All jobs</div>
{% endif %}

{% if view != 'analysis' %}

{% if cloudview == 'region' %}

<table width=800><tr><td>
This view associates jobs with clouds on the basis of the region in which the processing site is located.
The alternative <a href="{{ url }}">'cloud' view</a> associates jobs with clouds on the basis of which Tier 1 the job is assigned to (which can be different for a site participating in multi-cloud production).
Failure rates above 5% are shown in red.
Click the cloud name in the overall summary to go to the cloud's site summary.
Click the job counts to go to job listings.
</tr></td></table>
<p>
{% endif %}

{% if cloudview == 'cloud' %}
<table width=800><tr><td>
This view associates jobs with clouds on the basis of which Tier 1 the job is assigned to (which can be different from the 'home cloud' of the processing site for a site participating in multi-cloud production). Thus in this view you may see sites listed in the CA cloud which are not located in CA.
The alternative <a href="{{ url }}?cloudview=region">'region' view</a> associates jobs with clouds on the basis of the region in which the processing site is located.
Failure rates above 5% are shown in red.
Click the cloud name in the overall summary to go to the cloud's site summary.
Click the job counts to go to job listings.
</tr></td></table>
<p>
{% endif %}

{% else %}

<table width=800><tr><td>
Failure rates above 5% are shown in red.
Click the cloud name in the overall summary to go to the cloud's site summary.
Click the job counts to go to job listings.
</tr></td></table>
<p>

{% endif %}

<div class='section'>Cloud / Site summary</div>
{% endif %}

<table>

{% if viewParams.MON_VO != 'ATLAS' %}

<tr bgcolor="lightcyan">
<th> VO </th>
<th> nJobs </th>
<th> assigned </th>
<th> activated </th>
<th> sent </th>
<th> starting </th>
<th> running </th>
<th> holding </th>
<th> transferring </th>
<th> finished </th>
<th> failed </th>
<th> cancelled </th>
<th> % failed </th>
</tr>

{% for vo in vosummary %}
<tr height=10 colspan=12></tr>
<tr>
<th  bgcolor=whitesmoke> {{ vo.name }} </th>
<th  bgcolor=whitesmoke align='right'> <a href="{% url 'jobList' %}?vo={{ vo.name }}&hours={{hours}}&jobtype={{ view }}">{{ vo.count }}</a> </th>
{% for state in vo.statelist %}
<th  bgcolor=whitesmoke align='right'> <a href="{% url 'jobList' %}?vo={{ vo.name }}&jobstatus={{ state.name }}&hours={{hours}}&jobtype={{ view }}"> <span class="{{ state.name }}">{{ state.count }}</span></a> </th>
{% endfor %}
<th  bgcolor=whitesmoke align='right'>{{ vo.pctfail|safe  }} </th>
</tr>
{% endfor %}
<tr height=10 colspan=12></tr>

{% endif %}


<tr bgcolor="lightcyan">
<th> Cloud </th>
<th> nJobs </th>
<th> assigned </th>
<th> activated </th>
<th> sent </th>
<th> starting </th>
<th> running </th>
<th> holding </th>
<th> transferring </th>
<th> finished </th>
<th> failed </th>
<th> cancelled </th>
<th> % failed </th>
</tr>

{% for cloud in summary %}
<tr height=10 colspan=12></tr>
<tr>
<th  bgcolor=whitesmoke> {% if cloud.name != 'All' %}<a href="#cloud_{{ cloud.name }}">{{ cloud.name }}</a> {% else %}  {{ cloud.name }} {% endif %}</th>
<th  bgcolor=whitesmoke align='right'><a href="{% url 'jobList' %}?cloud={{ cloud.name }}&hours={{hours}}&jobtype={{ view }}"> {{ cloud.count }} </a></td>
{% for state in cloud.statelist %}
<th  bgcolor=whitesmoke align='right'><a href="{% url 'jobList' %}?cloud={{ cloud.name }}&jobstatus={{ state.name }}&hours={{hours}}&jobtype={{ view }}"> <span class="{{ state.name }}"> {{ state.count }}</span></a> </td>
{% endfor %}
<th  bgcolor=whitesmoke align='right'>{{ cloud.pctfail|safe  }} </th>
</tr>
{% endfor %}


{% for cloud in summary %}

{% if cloud.name != 'All' %}

<tr height=10 colspan=12></tr>
<tr>
<td class="tablesection"> <a name="cloud_{{ cloud.name }}">{{ cloud.name }}</a> Cloud, Sites </td>
<td class="tablesection"> nJobs </td>
<td class="tablesection"> assigned </td>
<td class="tablesection"> activated </td>
<td class="tablesection"> sent </td>
<td class="tablesection"> starting </td>
<td class="tablesection"> running </td>
<td class="tablesection"> holding </td>
<td class="tablesection"> transferring </td>
<td class="tablesection"> finished </td>
<td class="tablesection"> failed </td>
<td class="tablesection"> cancelled </td>
<th class="tablesection"> % failed </th>
</tr>

<tr height=10 colspan=12></tr>
<tr>
<th bgcolor=whitesmoke> {{ cloud.name }} Cloud</th>
<th bgcolor=whitesmoke align='right'> <a href="{% url 'jobList' %}?cloud={{ cloud.name }}&hours={{hours}}&jobtype={{ view }}">{{ cloud.count }}</a> </th>
{% for state in cloud.statelist %}
<th bgcolor=whitesmoke align='right'> <a href="{% url 'jobList' %}?cloud={{ cloud.name }}&jobstatus={{ state.name }}&hours={{hours}}&jobtype={{ view }}"><span class="{{ state.name }}">{{ state.count }}</span></a> </th>
{% endfor %}
<th  bgcolor=whitesmoke align='right'>{{ cloud.pctfail|safe  }} </th>
</tr>
{% for site in cloud.summary %}
<tr>
<td> {{ site.name }} </td>
<td align='right'><a href="{% url 'jobList' %}?computingsite={{ site.name }}&hours={{hours}}&jobtype={{ view }}"> {{ site.count }} </a></td>
{% for state in site.summary %}
<td class='{{state.name}}' align='right'><a href="{% url 'jobList' %}?computingsite={{ site.name }}&jobstatus={{ state.name }}&hours={{hours}}&jobtype={{ view }}"> <span class="{{ state.name }}"> {{ state.count }} </span></a> </td>
{% endfor %}
<td>{{ site.pctfail|safe  }} </td>
</tr>
{% endfor %}

{% endif %}

{% endfor %}
</table>

{% endblock %}

{% block bottom_info %}
{% endblock %}

{% block left_menu %}
{% comment %}
<div class="left-menu">
  {% block left_menu_content %}
    <span class="left-menu-title">Menu</span>
     <br> <a class="left-menu-item" href="{{ prefix }}/#">Home</a>
  {% endblock %}
</div>
{% endcomment %}
{% endblock %}
