<p><a mat-raised-button  [routerLink]="['/gp-stats']" [queryParams]="{type: dataType}" >Back to overview</a></p>

<mat-radio-group  [(ngModel)]="dataType"  (ngModelChange)="changeType()"  aria-label="Select">
  <mat-radio-button [value]="'mc'">MC</mat-radio-button>
  <mat-radio-button [value]="'data'" style="padding-left: 10px">Data</mat-radio-button>
</mat-radio-group>

<mat-divider></mat-divider>
<h5>Number of datasets/ Size marked for deletion versus format and ptag ({{dataType}})</h5>
<mat-divider></mat-divider>

<mat-radio-group  [(ngModel)]="showNumbers"  (ngModelChange)="changeType()"  aria-label="Select">
  <mat-radio-button [value]="0">Datasets</mat-radio-button>
  <mat-radio-button [value]="1" style="padding-left: 10px">Size</mat-radio-button>
  @if (chosenFormat!==null) {
    <div> <span>Format chosen: {{chosenFormat}}</span>
    <a  [routerLink]='"."' [queryParamsHandling]="'merge'" [queryParams]="{base: null}" >  Show all</a></div>
  }
</mat-radio-group>
<table class="gp-matrix" mat-table [dataSource]="statMatrix" multiTemplateDataRows="true" (mouseleave)="hoverTable=false" >
  <ng-container matColumnDef="firstColumn" [sticky]="true">
    <th mat-header-cell *matHeaderCellDef > Format </th>
    <td class="gp-matrix-element"  mat-cell *matCellDef="let element" [ngClass] = "{'highlight' : hoverTable && (element['firstColumn'] == hoveredFormat)}">
      <a [routerLink]='"."' [queryParamsHandling]="'merge'" [queryParams]="{base: baseFormatFromOutput(element['firstColumn'])}" >{{element['firstColumn']}}</a> </td>
    </ng-container>

    @for (amiTag of availableAMITags; track amiTag) {
      <ng-container  matColumnDef="{{amiTag}}">
        <th class="gp-matrix-element" mat-header-cell *matHeaderCellDef [ngClass] = "{'highlight' :hoverTable &&  (amiTag == hoveredAMITag)}" > {{amiTag}} </th>
        <td class="gp-matrix-element" mat-cell *matCellDef="let element" (mouseover)="highlightRowAndColumn(amiTag, element['firstColumn'])"
          [ngClass] = "{'highlight' :hoverTable && ((amiTag == hoveredAMITag) || (element['firstColumn'] == hoveredFormat)) }">
          @if (element[amiTag][showNumbers]>0) {
            <a (click)="showTable(dataType,'DAOD_' + element['firstColumn'],amiTag)"
              [fragment]="amiTag"  style="color: red; cursor:pointer;">
              @if (showNumbers==0) {
                <div >{{element[amiTag][showNumbers]}}</div>
                }@if (showNumbers==1) {
                <div >{{element[amiTag][showNumbers]|datasetSize}}</div>
              }</a>
            }
            @if (element[amiTag][showNumbers]==0) {
              <span>0</span>
            }</td>
          </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="displayColumns;  sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
      </table>
@if(selectedTag()) {
<div id="gp-exclusion-fast">
  <app-gp-exclusion-fast  [amiTag]="selectedTag().amiTag"
                          [dataType]="dataType"
                          [outputType]="selectedTag().outputType" >
  </app-gp-exclusion-fast>
</div>
}
