{% extends "atlas/_base_grid.html" %}{% load url from future %}
{% block title %}ATLAS PanDA{% endblock %}
{% block page_title %}ATLAS PanDA Monitoring{% endblock %}
{% block bl_page_title %}ATLAS PanDA Monitoring{% endblock %}
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
{% block gacode %}UA-44940804-1{% endblock %}
{% block gaweb %}pandawms.org{% endblock %}
{% block subtitle %}ATLAS PanDA{% endblock %}
{% comment %}  
{% block top_menu_1 %}{% endblock %}
{% block top_menu_all_2 %}{% endblock %}{% block top_menu_all_3 %}{% endblock %}
{% block top_menu_all_4 %}{% endblock %}{% block top_menu_all_5 %}{% endblock %}
{% block top_menu_6 %}
          <a href="#">Help</a>
          <ul class="dropdown">
            <li><a href="http://pandawms.org/monreq">Monitoring requirements</a></li>
          </ul>
{% endblock %}
{% endcomment %}
{% block header-nav-chain-1 %}<a href="{% url 'index' %}">{{ APP_NAME }}</a>{% endblock %}{% block header-nav-chain-1-separator %}{{ SEPARATOR_NAVIGATION_ITEM|safe }}{% endblock %}
{% block header-nav-chain-2 %}<a href="{% url 'index' %}">ItemSub1</a>{% endblock %}{% block header-nav-chain-2-separator %}{{ SEPARATOR_NAVIGATION_ITEM|safe }}{% endblock %}
{% block header-nav-chain-3 %}<a href="{% url 'index' %}">ItemSub2</a>{% endblock %}{% block header-nav-chain-3-separator %}{{ SEPARATOR_NAVIGATION_ITEM|safe }}{% endblock %}
{% block header-nav-chain-4 %}<a href="{% url 'index' %}">ItemSub3</a>{% endblock %}{% block header-nav-chain-4-separator %}{{ SEPARATOR_NAVIGATION_ITEM|safe }}{% endblock %}
{% block header-nav-chain-5 %}<a href="{% url 'index' %}">ItemSub4</a>{% endblock %}{% block header-nav-chain-5-separator %}{{ SEPARATOR_NAVIGATION_ITEM|safe }}{% endblock %}
{% block header-nav-chain-6 %}<a href="{% url 'index' %}">CurrentView</a>{% endblock %}
{% block left_menu %}{% endblock %}
{% block body %}{% endblock %}
{% block body_mobile %}{% endblock %}
{% block bottom_info %}{% endblock %}
{% comment %}  
{% block bottom_copy %}{% endblock %}
{% block bottom_link_all_1 %}{% endblock %}
{% block bottom_link_all_2 %}{% endblock %}
{% block bottom_link_all_3 %}{% endblock %}
{% block bottom_link_4 %}<a href="{% url 'index' %}">{{ APP_NAME }}</a>{% endblock %}
{% endcomment %}




{% block top_menu_all_1 %}
<li class="has-dropdown">
          <a href="#">Requests</a>
          <ul class="dropdown">
            <li><a href="{% url 'prodtask:request_table' %}">Requests</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'prodtask:request_create' %}">Create MC Request</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'prodtask:dpd_request_create' %}">Create DPD Request</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'prodtask:reprocessing_request_create' %}">Create Reprocessing Request</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'prodtask:short_hlt_form' %}">Create HLT Request - simple</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'prodtask:hlt_request_create' %}">Create HLT Request</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'prodtask:eventindex_request_create' %}">Create EventIndex Request</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'prodtask:mcpattern_table' %}">MC Pattern</a></li>
            <li><a href="{% url 'prodtask:mcpriority_table' %}">MC Priority</a></li>
            <li><a href="{% url 'prodtask:make_default_report' %}">Problems report</a></li>
          </ul>
</li>
{% endblock %}


{% block top_menu_all_2 %}
<li class="has-dropdown">
          <a href="#">Tasks</a>
          <ul class="dropdown">
            <li><a href="{% url 'prodtask:task_table' %}">Tasks</a></li>
            <li class="divider"></li>
          </ul>
</li>
    <li class="has-dropdown">
          <a href="#">Train</a>
          <ul class="dropdown">
            <li><a href="{% url 'prodtask:train_create' %}">Create Train</a></li>
            <li><a href="{% url 'prodtask:trains_list' %}">Train List</a></li>
            <li><a href="{% url 'prodtask:pattern_train_list' %}">Pattern List</a></li>
          </ul>
</li>
<li class="has-dropdown">
          <a href="#">Datasets</a>
          <ul class="dropdown">
            <li><a href="{% url 'prodtask:production_dataset_table' %}">Aborted and Obsolete Datasets</a></li>
            <li><a href="{% url 'getdatasets:request_data_form' %}">Search</a></li>
          </ul>
</li>

<li class="has-dropdown">
          <a href="#">Error retry</a>
          <ul class="dropdown">
            <li><a href="{% url 'prodtask:retry_errors_list' %}">Retry errors list</a></li>
            <li><a href="{% url 'prodtask:retry_errors_create' %}">Create error</a></li>
          </ul>
</li>



<li>
          <a href="http://dashb-atlas-data.cern.ch/ddm2/" target="_blank">DDMDash</a>
</li>

<li>
          <a href="http://dashb-atlas-ssb.cern.ch/dashboard/request.py/siteview#currentView=Shifter+view&highlight=false" target="_blank">SSB</a>
</li>
{% endblock %}

{% block top_menu_all_5 %}
<li>
          <a href="{% url 'index' %}">Quick search</a>
</li>
{% endblock %}

{% block top_menu_all_6 %}
    <li class="has-dropdown">
      {% block top_menu_6 %}
      <a href="#">Help</a>
      <ul class="dropdown">
        <li><a href="http://twiki.cern.ch/twiki/bin/view/PanDA/PanDA">PanDA home</a></li>
        <li><a href="http://pandawms.org">Big PanDA home</a></li>
      </ul>
      {% endblock %}
    </li>

{% if user.is_authenticated %}
    <li class="has-dropdown">
        <a href="#">{{ user.first_name.0 }}. {{ user.last_name }}</a>
        <ul class="dropdown">
            <li> <a href="{% url 'prodtask:userinfo' %}">Account info ({{ user.username }})</a> </li>
            {% if user.is_superuser %}
            <li> <a href="{% url 'admin:index' %}">Admin interface</a>  </li>
            {% endif %}
            <li> <a href="{% url 'prodtask:logout' %}?next={{ request.get_full_path }}">Logout</a> </li>
        </ul>
    </li>

{% else %}
    <li>
        <a href="{% url 'prodtask:login' %}?next={{ request.get_full_path }}">Login</a>
    </li>
{% endif %}


{% endblock %}

