{% extends parent_template %}

{% load static from staticfiles %}


{% block extra_css %}
{{ block.super }}

{% endblock %}

{% block base_js %}
{{ block.super }}
{% endblock %}

{% block extra_js %}
{{ block.super }}

    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.json-2.4.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/foundation.js' %}"></script>


{% endblock %}


{% block subtitle %}
{{pre_form_text|safe}}
{% endblock %}

{% block body %}
    <h1>{{ error }}</h1>
    <span>AMI: <a href="http://ami.in2p3.fr/app?subapp=tagsShow&userdata={{ amitag }}">{{ amitag }}</a></span>
    <span>DKB: <a href="/dkb/#/task_keywords/{{ amitag }}">{{ amitag }}</a></span>
    <table>
    <thead>

    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {%  for key,value in ami_tag_dict.items %}
        <tr >
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
    </tbody>

    </table>
        <table>
    <thead>

    <tr>
        <th>SW tag</th>
        <th>Image Name</th>
        <th>Image Type</th>
    </tr>
    </thead>
    <tbody>
    {%  for sw,image,image_type in sw_containers %}
        <tr >
            <td><a href="http://ami.in2p3.fr/app?subapp=tagsShow&userdata={{ sw }}">{{ sw }}</a></td>
            <td>{{ image }}</td>
            <td>{{ image_type }}</td>
        </tr>
    {% endfor %}
    </tbody>

    </table>
{% endblock %}