
 <mat-form-field >
   <mat-label>Current AMI tag     </mat-label>
     <input matInput  [(ngModel)]="currentAMITag"  >
 </mat-form-field>
    <button mat-raised-button color="primary" [routerLink]="['.']" [queryParams]="{'amiTag':currentAMITag}" [disabled]="" >Proceed</button>
 <br>
     <ng-container *ngIf="loadingData">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>
  <ng-container *ngIf="loadingError">
    <h3>{{loadingError}}</h3>
    </ng-container>
<ng-container *ngIf="derivationData$| async as derivationData">

  <ng-container *ngIf="!loadingData">
  <mat-card appearance="outlined">
  <mat-card-header>
    Filters
  </mat-card-header>
    <div>
  <mat-form-field appearance="fill">
  <mat-label>Outputs</mat-label>
  <mat-select [formControl]="selectedOutputs" multiple (selectionChange)="filterChanged$.next(1)">
        <mat-option>
    <ngx-mat-select-search [showToggleAllCheckbox]="true"
                           (toggleAll)="toggleSelectAll($event, filteredSelectedOutputs$, selectedOutputs, allOutputs)"
                           placeholderLabel="Search"
                           [formControl]="searchFilterOutputs" [toggleAllCheckboxTooltipMessage]="'Select All / Unselect All'"
                           [toggleAllCheckboxChecked]="true" [noEntriesFoundLabel]="'Nothing found'"
                           [toggleAllCheckboxTooltipPosition]="'above'"></ngx-mat-select-search>
      </mat-option>
    <mat-option *ngFor="let output of filteredSelectedOutputs$ | async" [value]="output" >{{output}}</mat-option>
  </mat-select>
</mat-form-field>
    <mat-form-field appearance="fill">
  <mat-label>Requests</mat-label>
  <mat-select   [formControl]="selectedRequests" multiple (selectionChange)="filterChanged$.next(1)" panelClass="panel-requests">
    <mat-option>
    <ngx-mat-select-search [showToggleAllCheckbox]="true"
                           (toggleAll)="toggleSelectAll($event, filteredRequests$, selectedRequests, currentRequestsIDs)"
                           placeholderLabel="Search"
                           [formControl]="searchFilterRequests" [toggleAllCheckboxTooltipMessage]="'Select All / Unselect All'"
                           [toggleAllCheckboxChecked]="true" [noEntriesFoundLabel]="'Nothing found'"
                           [toggleAllCheckboxTooltipPosition]="'above'"></ngx-mat-select-search>
      </mat-option>
    <mat-option *ngFor="let value of filteredRequests$ | async" [value]="value.reqid" [matTooltip]="value.description + ' ' + value.ref_link.split('/').slice(-1)" >{{value.reqid}} <a href="{{value.ref_link}}">{{value.description}} - {{value.ref_link.split('/').slice(-1)}}</a></mat-option>
  </mat-select>
</mat-form-field>
      <mat-form-field appearance="fill">

    <mat-label>Projects</mat-label>
  <mat-select [formControl]="selectedProjects" multiple (selectionChange)="filterChanged$.next(1)">
            <mat-option>
    <ngx-mat-select-search [showToggleAllCheckbox]="true"
                           (toggleAll)="toggleSelectAll($event, filteredProjects$, selectedProjects, allProjects)"
                           placeholderLabel="Search"
                           [formControl]="searchFilterProjects" [toggleAllCheckboxTooltipMessage]="'Select All / Unselect All'"
                           [toggleAllCheckboxChecked]="true" [noEntriesFoundLabel]="'Nothing found'"
                           [toggleAllCheckboxTooltipPosition]="'above'"></ngx-mat-select-search>
      </mat-option>
    <mat-option *ngFor="let value of filteredProjects$ | async" [value]="value" >{{value}}</mat-option>
  </mat-select>
</mat-form-field>
  <mat-checkbox [(ngModel)]="filterBroken" (change)="filterChanged$.next(1)">Filter out containers with only broken tasks</mat-checkbox>
      </div>
    <div>
          <mat-form-field style="width: 100%">
    <mat-label>Filter by name</mat-label>
      <input matInput #containerNameFilter [(ngModel)]="containerNameFilterValue" (input)="searchTerms$.next(containerNameFilter.value)" >
    </mat-form-field>
      </div>
  <div style="overflow-wrap: anywhere"> Chosen outputs: {{selectedOutputs.value}}, Filtered containers: {{containersToCopy.length}}</div>
        </mat-card>
        </ng-container>
</ng-container>
 <ng-container *ngIf="!outputOnly; else outputOnlyTemplate">
    <mat-tab-group>
      <mat-tab label="Input containers">
    <div>
    <button mat-raised-button color="primary" (click)="showSelectedContainers(containersToCopy)" >Show containers</button>
      </div>


    <mat-card appearance="outlined">
  <mat-card-header>
    Show
  </mat-card-header>

      <mat-checkbox [(ngModel)]="filterBrokenShow" (change)="filterChanged$.next(1)">Show container with only broken tasks</mat-checkbox>
      <mat-checkbox [(ngModel)]="filterRunningShow" (change)="filterChanged$.next(1)">Show container with running tasks</mat-checkbox>
      <mat-checkbox [(ngModel)]="filterWrongName" (change)="filterChanged$.next(1)">Show container with originally wrong container name</mat-checkbox>

    </mat-card>


<div>
 <table mat-table [dataSource]="dataSource" [fixedLayout]="true">
  <ng-container matColumnDef="Container">
    <th mat-header-cell *matHeaderCellDef> Container </th>
    <td mat-cell *matCellDef="let row">
      <span [ngClass]="{'RunningContainer':row.is_running,'FailedContainer':row.is_failed,'WrongNameContainer':row.is_wrong_name}">{{row.container}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="outputs">
    <th mat-header-cell *matHeaderCellDef>outputs </th>
    <td mat-cell *matCellDef="let row"> {{row.output_formats}} </td>
  </ng-container>


    <tr mat-header-row *matHeaderRowDef="['Container', 'outputs']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['Container', 'outputs']"
              (click)="showContainerDetails(row)"
    ></tr>
  </table>
    <mat-paginator #paginator="matPaginator" [pageSizeOptions]="[20, 50, 100]"
                 showFirstLastButtons
                 aria-label="Select page ">
  </mat-paginator>
  </div>
 </mat-tab>
      <mat-tab label="Output containers">
    <div>
    <button mat-raised-button color="primary" (click)="showSelectedContainers(outputContainersToCopy)" >Show output containers</button>
      </div>
        <div>*Output containers could not exist(deleted or not yet created)</div>
<!--  <table mat-table [dataSource]="dataSourceOutputs" [fixedLayout]="true">-->
<!--  <ng-container matColumnDef="Output Container">-->
<!--    <th mat-header-cell *matHeaderCellDef> Container </th>-->
<!--    <td mat-cell *matCellDef="let row">-->
<!--      <span>{{row}}</span>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="['Output Container']"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: ['Output Container']"-->

<!--    ></tr>-->
<!--  </table>-->
<!--    <mat-paginator #paginator2="matPaginator" [pageSizeOptions]="[20, 50, 100]"-->
<!--                 showFirstLastButtons-->
<!--                 aria-label="Select page ">-->
<!--  </mat-paginator>-->
<!--        make ag-grid -->
    <ng-container *ngTemplateOutlet="outputContainers"></ng-container>

      </mat-tab>
 </mat-tab-group>
 </ng-container>

 <ng-template #outputOnlyTemplate>
   <button (click)="toggleSelectFilteredOutputs()">Select/Deselect filtered</button>
<ng-container *ngTemplateOutlet="outputContainers"></ng-container>
 </ng-template>

 <ng-template #outputContainers>
           <ng-container *ngIf="filteredOutputs$ | async as filteredOutputs">
        <ag-grid-angular
          #agGridOutputContainers
          class="ag-theme-alpine"
          style="width: 100%; height: 500px;"
          [rowData]="filteredOutputs"
           [columnDefs]="outputAGColumns"
          [rowSelection]="outputSelectionType"
          (selectionChanged)="onSelectionOutputChanged($event)"

            [pagination]="true"
          [paginationPageSize]="20"

        >

        </ag-grid-angular>
        </ng-container>

 </ng-template>


