<div *ngIf="hashtagString !== ''; else requestTasks">
  <h3>Tasks for {{hashtagString}}</h3>
</div>
<ng-template #requestTasks>
<table *ngIf="requestInfo$ | async as requestInfo">
  <tr>
    <th>Request ID:</th>
    <th>Description:</th>
    <th>Reference:</th>
    <th>Manager:</th>
    <th>Physics group:</th>
    <th>Campaign:</th>
    <th>Project:</th>

  </tr>
  <tr>
    <td>{{requestInfo.reqid}} </td>
    <td>{{requestInfo.description}} </td>
    <td><a href="https://its.cern.ch/jira/browse/{{requestInfo.jira_reference}}"> {{requestInfo.jira_reference}}</a> </td>
    <td>{{requestInfo.manager}} </td>
    <td>{{requestInfo.phys_group}} </td>
    <td>{{requestInfo.campaign}}:{{requestInfo.subcampaign}} </td>
    <td>{{requestInfo.project}} </td>

  </tr>
</table>
</ng-template>
<p *ngIf="slices.length>0">Tasks for <b>{{slices.length}}</b> slices</p>
<h1 *ngIf="loadError" style="color: red">Error loading tasks: {{loadError}}</h1>
<div *ngIf="tasks$ | async as tasks; else loading">
  <app-production-task-table [tasks]="tasks" (taskChosen)="onTaskChosen($event)" [taskToShow]="taskID" [showOwner]="showOwner" >

  </app-production-task-table>
</div>
  <ng-template #loading>
    <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
  </ng-template>
