{% extends parent_template %}

{% load static  %}


{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	    @import "{% static "css/prodtask.css" %}";
        {% include 'prodtask/_prodtask_css.html' %}
    </style>
{% endblock %}

{% block base_js %}
{{ block.super }}
{% endblock %}

{% block extra_js %}
{{ block.super }}

    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.json-2.4.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/foundation.js' %}"></script>


{% endblock %}


{% block subtitle %}
{{pre_form_text|safe}}
{% endblock %}

{% block body %}

    <table>
    <thead>
        <tr>
        <th rowspan="2">Tape</th>
        <th colspan="2">Active</th>
        <th rowspan="2">Done</th>
        <th></th>
    </tr>
    <tr>

        <th>Staged</th>
        <th>Requested</th>
         <th></th>
    </tr>
    </thead>
    <tbody>
    {%  for tape in result_table %}
        <tr >
            <td><a  href="https://bigpanda.cern.ch/tasks/?tape=true&stagesource={{ tape.name  }}">{{ tape.name }}</a></td>
            <td>{{ tape.staged }}</td>
            <td>{{ tape.requested }}</td>
            <td>{{ tape.done }}</td>
            <td>{{ tape.percent }}%</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>


{% endblock %}