{% extends parent_template %}

{% load static from staticfiles %}


{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	    @import "{% static "css/prodtask.css" %}";
        {% include 'prodtask/_prodtask_css.html' %}
    </style>
{% endblock %}

{% block base_js %}
{{ block.super }}
{% endblock %}

{% block extra_js %}
{{ block.super }}

    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.json-2.4.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/foundation.js' %}"></script>


{% endblock %}


{% block subtitle %}
{{pre_form_text|safe}}
{% endblock %}

{% block body %}
    <style>
    td.True {
        color: green;
    }
    td.False {
        color: red;
    }

    </style>
    <table>
    <thead>
        <tr>
        <th rowspan="2">Tape</th>
            <th rowspan="2">State</th>
        <th colspan="4">Limits</th>
        <th rowspan="2">Queued</th>
        <th colspan="2">Active</th>
            <th colspan="2">Active Processed</th>
    </tr>
    <tr>

        <th>Maximum</th>
        <th>Minimum</th>
         <th>% to cont.</th>
        <th>Bunch</th>
         <th>Staged</th>
         <th>Submitted</th>
        <th>Processed</th>
         <th>Submitted</th>
    </tr>
    </thead>
    <tbody>
    {%  for tape in result_table %}
        <tr >
            <td><a  href="https://bigpanda.cern.ch/tasks/?tape=true&stagesource={{ tape.name  }}">{{ tape.name }}</a></td>
            <td class="{{ tape.active }}"> {{ tape.active }}</td>
            <td>{{ tape.maximum_level }}</td>
            <td>{{ tape.minimum_level }}</td>
            <td>{{ tape.continious_percentage }}</td>
            <td>{{ tape.current_bunch }}</td>
            <td>{{ tape.files_queued }}</td>
            <td>{{ tape.files_staged }}</td>
            <td>{{ tape.files_staging }}</td>
            <td>{{ tape.files_processed }}</td>
            <td>{{ tape.files_total_submitted }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>


{% endblock %}