cx-Oracle==7.2.3
decorator==4.4.1
Django==2.2.6
django-tables2==2.1.1
djangorestframework==3.11.2
elasticsearch==7.0.5
elasticsearch-dsl==7.1.0
extras==1.0.0
progressbar2==3.39.3
pytz==2019.3
rucio-clients==1.20.8
rucio-clients-atlas==0.0.6
xlrd==1.2.0
stomp.py==6.0.0
daemonize==2.5.0
dataclasses==0.7
celery==4.4.2
django-celery-beat==2.0.0
django-celery-results==1.2.1
python-json-logger==2.0.1