amqp==5.1.1
asgiref==3.7.2
attrs==23.1.0
billiard==4.1.0
celery==5.3.1
certifi==2023.5.7
cffi==1.15.1
chardet==3.0.4
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cron-descriptor==1.4.0
cryptography==41.0.1
cx-Oracle==8.3.0
daemonize==2.5.0
decorator==5.1.1
Django==4.2.4
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-tables2==2.4.1
django-timezone-field==5.1
djangorestframework==3.14.0
docopt==0.6.2
dogpile.cache==1.1.8
elasticsearch==6.8.2
elasticsearch-dsl==6.4.0
elasticsearch-dsl7==7.10.0
elasticsearch7==7.13.4
elasticsearch7-dsl==7.3.0.post1
et-xmlfile==1.1.0
extras==1.0.0
idna==2.10
install==1.3.5
Jinja2==3.1.2
jsonschema==4.17.3
kombu==5.3.1
MarkupSafe==2.1.3
mod-wsgi==4.9.4
numpy==1.25.2
openpyxl==3.1.2
pandas==2.0.3
pbr==5.11.1
progressbar2==4.0.0
prompt-toolkit==3.0.38
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==23.2.0
pyrsistent==0.19.3
python-crontab==2.7.1
python-dateutil==2.8.2
python-json-logger==2.0.2
python-utils==3.6.0
pytz==2021.3
requests==2.25.0
rucio-clients==1.31.7
rucio-clients-atlas==0.0.6
six==1.15.0
sqlparse==0.4.4
stevedore==5.1.0
stomp.py==8.1.0
tabulate==0.8.10
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.5
vine==5.0.0
wcwidth==0.2.6
websocket-client==1.6.1
xlrd==2.0.1