cx-Oracle==8.3.0
decorator==5.1.1
Django==3.2.12
django-tables2==2.4.1
djangorestframework==3.13.1
elasticsearch==6.8.2
elasticsearch-dsl==6.4.0
extras==1.0.0
progressbar2==4.0.0
pytz==2021.3
rucio-clients==1.27.5
rucio-clients-atlas==0.0.6
xlrd==1.2.0
stomp.py==8.0.0
daemonize==2.5.0
celery==5.2.3
django-celery-beat==2.2.1
django-celery-results==2.2.0
python-json-logger==2.0.2
mod-wsgi==4.9.0
pandas==1.4.1
openpyxl==3.0.9