{% extends "_base_bigpandamon_atlas.html" %}
{% load static from staticfiles %}



{% block header-nav-chain-1 %}{% endblock %}{% block header-nav-chain-1-separator %}{{ SEPARATOR_NAVIGATION_ITEM|safe }}{% endblock %}
{% block header-nav-chain-2 %}{% endblock %}{% block header-nav-chain-2-separator %}{% endblock %}
{% block header-nav-chain-3 %}{% endblock %}{% block header-nav-chain-3-separator %}{% endblock %}
{% block header-nav-chain-4 %}{% endblock %}{% block header-nav-chain-4-separator %}{% endblock %}
{% block header-nav-chain-5 %}{% endblock %}{% block header-nav-chain-5-separator %}{% endblock %}
{% block header-nav-chain-6 %}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}



{% block bl_header_title %}ATLAS ProdSys{% endblock %}

{% block bl_home_down %}<a href="{% url 'mcprod:about' %}">info and help</a>{% endblock %}



{% block bl_entry_point %}
    {{ block.super }}
    $(".meter").tipTip({maxWidth: "auto", edgeOffset: 10});


{% endblock %}
{% block base_js %}
{{ block.super }}

<script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/prodtask.js" %}"></script>

{% endblock %}
{% block body %}
    <script>

    </script>
    <div class="row">
        <div class="column large-2 ">
            <label>Task: <input type="text" id="taskID" value="" /> </label>
        </div>
        <div class="column large-6">
            <a class="button" onclick="if(($('#taskID').val()||'')!=''){window.location.href = construct_django_url('/prodtask/task/',$('#taskID').val());}">ProdSys</a>
            <a class="button" onclick="if(($('#taskID').val()||'')!=''){window.location.href = 'https://bigpanda.cern.ch/task/'+$('#taskID').val();}">BigPanda</a>
            <a class="button" onclick="if(($('#taskID').val()||'')!=''){window.location.href = construct_django_url('/prodtask/slice_by_task/',$('#taskID').val()||'');}">Slice</a>
            <a class="button" onclick="if(($('#taskID').val()||'')!=''){window.location.href = construct_django_url('/prodtask/task_chain_view/',$('#taskID').val()||'');}">Children</a>
        </div>
        <div class="column large-4"></div>
    </div>
    <div class="row">
        <div class="column large-2 ">
            <label>Request: <input type="text" id="RequestID"  value=""  /> </label>
        </div>
        <div class="column large-6">
            <a class="button" onclick="if(($('#RequestID').val()||'')!=''){window.location.href = construct_django_url('/prodtask/input_list_approve_full/',$('#RequestID').val()||'');}">ProdSys</a>
            <a class="button" onclick="if(($('#RequestID').val()||'')!=''){window.location.href = construct_django_url('/reqtask/',$('#RequestID').val()||'');}">Tasks</a>
        </div>
        <div class="column large-8"></div>
    </div>
    <div class="row">
        <div class="column large-2 ">
            <label>AMI tag: <input type="text" id="AMITag"  value=""  /> </label>
        </div>
        <div class="column large-6">
            <a class="button" onclick="if(($('#AMITag').val()||'')!=''){window.location.href = construct_django_url('/ami/ami_tag/',$('#AMITag').val()||'');}">ProdSys</a>
            <a class="button" onclick="if(($('#AMITag').val()||'')!=''){window.location.href = 'http://ami.in2p3.fr/app?subapp=tagsShow&userdata='+($('#AMITag').val()||'')}">AMI</a>
            <a class="button" onclick="if(($('#AMITag').val()||'')!=''){window.location.href = construct_django_url('/dkb/#/task_keywords/',$('#AMITag').val()||'');}">DKB</a>
        </div>
        <div class="column large-8"></div>
    </div>
{% endblock %}
