{% extends parent_template %}

{% load static from staticfiles %}




{% block subtitle %}
    {{pre_form_text|safe}}
{% endblock %}




{% block body %}
    <style >

        td.obsolete	{ background-color : lightblue}
        td.holding 	{ background-color : black;	}
        td.pending	{ background-color : blue;		}
        td.waiting	{ background-color : blue;	}
        td.submitting	{ background-color : blue;	}
        td.archived 	{ background-color : magenta;	}
        td.failed 	{ background-color : red;	}
        td.aborted 	{ background-color : red;	}
        td.broken		{ background-color : red;	}

        td.running 	{ background-color : LightGreen;	}

        td.done 		{ background-color : darkgreen;}
        td.finished 		{ background-color : darkgreen;	}
        td.registered {  background-color : blue;}


    </style>

    <base href="/ng/">  <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "frontendjs/_ng_template.html" %}



{% endblock %}