<div class="row">
    <h5>Global shares</h5>
</div>
   <div class="row">

       <table>
        <tbody>
        <tr ng-repeat="row in globalShareTable">
                <td ng-repeat="element in row" style="padding-bottom:0;margin-bottom: 0">
                <div ng-show="element.show" >
                    <span  >{{ element.name }} </span>
                    <span  class="{{ element.percentType }}">( {{ element.percentage | number : 2 }} %)</span>
                    <span class="{{ element.percentType }}"  ng-show="element.showTotal" > {{ element.totalGroup }}</span>
                    <input ng-model="element.value" ng-change="change_value(element.parent)" type="number" placeholder="{{ element.original_value }}" size="3" maxlength="3" min="0" max="100" >
                </div>
                </td>
        </tr>
        </tbody>
    </table>
            </div>
    <div class="row">
<button  ng-click="save_gs()" >Save</button>
          </div>
<a href="https://os-atlas.cern.ch/dashboards/app/data-explorer/discover/#?_a=(discover:(columns:!(user,message,container,number_of_extension,_source),interval:auto,sort:!()),metadata:(indexPattern:bce7ecb0-7533-11eb-ba28-77fe4323ac05,view:discover))&_q=(filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:bce7ecb0-7533-11eb-ba28-77fe4323ac05,key:funcName,negate:!f,params:(query:global_share_change),type:phrase),query:(match_phrase:(funcName:global_share_change)))),query:(language:kuery,query:''))&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-1y,to:now))" >Logs</a>
