<div>
<button mat-raised-button (click)="executeAction('abort', null)"  color="warn" class="action-button-menu" >Abort</button>
<button mat-raised-button  [matMenuTriggerFor]="finishMenu"  class="action-button-menu" >Finish▼</button>
  <mat-menu #finishMenu="matMenu" yPosition="below">
    <div class="action-button-column">
      <button mat-raised-button color="primary" (click)="executeAction('finish',[true])">Soft finish</button>
      <button mat-raised-button color="primary" (click)="executeAction('finish',[false])">Hard finish</button>
   </div>
    <mat-divider></mat-divider>
    <div class="action-menu-row">
        <div class="task-action-input-form">
          <mat-form-field class="task-action-comment-field" appearance="fill" (click)="$event.stopPropagation()">
            <mat-label>Comment (optional)</mat-label>
            <textarea matInput type="textarea" [(ngModel)]="comment"  placeholder="Comment (optional)"></textarea>
          </mat-form-field>
        </div>
    </div>
  </mat-menu>
<button mat-raised-button  [matMenuTriggerFor]="retryMenu"  class="action-button-menu">Retry▼</button>
  <mat-menu #retryMenu="matMenu" yPosition="below">
      <div class="action-menu-vertical-fields">
        <button mat-raised-button color="primary" (click)="executeAction('retry',[false, false, discardEvents.checked, discardStaging.checked])">Retry</button>
        <mat-checkbox class="action-checkbox" #discardEvents (click)="$event.stopPropagation()">Discard events</mat-checkbox>
        <mat-checkbox class="action-checkbox" #discardStaging (click)="$event.stopPropagation()">Discard staging mode</mat-checkbox>
      </div>
    <mat-divider></mat-divider>
    <div class="action-menu-row">
        <div class="task-action-input-form">
          <mat-form-field class="task-action-comment-field" appearance="fill" (click)="$event.stopPropagation()">
            <mat-label>Comment (optional)</mat-label>
            <textarea matInput type="textarea" [(ngModel)]="comment"  placeholder="Comment (optional)"></textarea>
          </mat-form-field>
        </div>
    </div>
  </mat-menu>
<button mat-raised-button  [matMenuTriggerFor]="reassignMenu"  class="action-button-menu">Reassign▼</button>
  <mat-menu #reassignMenu="matMenu" yPosition="below">
    <div class="action-menu-row">
      <div class="task-action-input-form">
        <mat-form-field class="task-action-button-field" appearance="fill" (click)="$event.stopPropagation()">
          <mat-label>Sites</mat-label>
          <mat-select #sites >
            <mat-option [value]="''">Unselect Site</mat-option>
            <mat-option *ngFor="let site of reassignEntities.sites" [value]="site">
                  {{site}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-radio-group [(ngModel)]="siteOption"  (click)="$event.stopPropagation()" >
            <mat-radio-button value="None">Kill </mat-radio-button>
            <mat-radio-button value="nokill">No kill </mat-radio-button>
            <mat-radio-button value="soft">Soft</mat-radio-button>
        </mat-radio-group>
      </div>
        <button mat-raised-button [disabled]="sites.value===undefined" color="primary" (click)="executeAction('reassign_to_site',[sites.value, siteOption])">Go</button>
      </div>
    <mat-divider></mat-divider>
        <div class="action-menu-row">
      <div class="task-action-input-form">
        <mat-form-field class="task-action-button-field" appearance="fill" (click)="$event.stopPropagation()">
          <mat-label>Nucleus</mat-label>
          <mat-select #nucleus >
            <mat-option [value]="''">Unselect Nucleus</mat-option>
            <mat-option *ngFor="let nucleu of reassignEntities.nucleus" [value]="nucleu">
                  {{nucleu}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-radio-group [(ngModel)]="nucleuOption"  (click)="$event.stopPropagation()" >
            <mat-radio-button value="None" >Kill </mat-radio-button>
            <mat-radio-button value="nokill">No kill </mat-radio-button>
            <mat-radio-button value="soft">Soft</mat-radio-button>
        </mat-radio-group>
      </div>
        <button mat-raised-button [disabled]="nucleus.value===undefined" color="primary" (click)="executeAction('reassign_to_nucleus',[nucleus.value, nucleuOption])">Go</button>
      </div>
    <mat-divider></mat-divider>
    <div class="action-menu-row">
      <div class="task-action-input-form">
        <mat-form-field class="task-action-button-field" appearance="fill" (click)="$event.stopPropagation()">
          <mat-label>Shares</mat-label>
          <mat-select #shares >
            <mat-option *ngFor="let share of reassignEntities.shares" [value]="share">
                  {{share}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-radio-group [(ngModel)]="shareOption"  (click)="$event.stopPropagation()" >
            <mat-radio-button [value]="false">Default </mat-radio-button>
            <mat-radio-button [value]="true">Reassign running</mat-radio-button>
        </mat-radio-group>
      </div>
        <button mat-raised-button [disabled]="shares.value===undefined" color="primary" (click)="executeAction('reassign_to_share',[shares.value, shareOption])">Go</button>
      </div>
    <mat-divider></mat-divider>
        <mat-divider></mat-divider>
    <div class="action-menu-row">
        <div class="task-action-input-form">
          <mat-form-field class="task-action-comment-field" appearance="fill" (click)="$event.stopPropagation()">
            <mat-label>Comment (optional)</mat-label>
            <textarea matInput type="textarea" [(ngModel)]="comment"  ></textarea>
          </mat-form-field>
        </div>
    </div>
  </mat-menu>
<button mat-raised-button  [matMenuTriggerFor]="parametersMenu"  class="action-button-menu">Parameters▼</button>
  <mat-menu #parametersMenu="matMenu" yPosition="below">
    <div class="action-menu-row">
      <mat-form-field class="task-action-button-field" appearance="fill" (click)="$event.stopPropagation()">
        <mat-label>Task priority</mat-label>
        <input matInput type="number" #priorityInput >
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="executeAction('change_priority',[priorityInput.value])">Set</button>
    </div>
    <mat-divider></mat-divider>
    <div class="action-menu-row">
      <mat-form-field class="task-action-button-field" appearance="fill" (click)="$event.stopPropagation()">
        <mat-label>Ram count</mat-label>
        <input matInput type="number" #ramCountInput >
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="executeAction('change_ram_count',[ramCountInput.value])">Set</button>
    </div>
    <mat-divider></mat-divider>
      <div class="action-menu-row">
        <mat-form-field class="task-action-button-field" appearance="fill" (click)="$event.stopPropagation()">
          <mat-label>Wall time</mat-label>
          <input matInput type="number" #wallTimeInput >
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="executeAction('change_wall_time',[wallTimeInput.value])">Set</button>
      </div>
    <mat-divider></mat-divider>
      <div class="action-menu-row">
        <mat-form-field class="task-action-button-field" appearance="fill" (click)="$event.stopPropagation()">
          <mat-label>CPUtime</mat-label>
          <input matInput type="number" #cpuTimeInput >
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="executeAction('change_cpu_time',[cpuTimeInput.value])">Set</button>
      </div>
    <mat-divider></mat-divider>
      <div class="action-menu-row">
        <mat-form-field class="task-action-button-field" appearance="fill" (click)="$event.stopPropagation()">
          <mat-label>Increase attempts by</mat-label>
          <input matInput type="number" #increaseAttNumber >
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="executeAction('increase_attempt_number',[increaseAttNumber.value])">Set</button>
      </div>
    <mat-divider></mat-divider>
      <div class="action-menu-row">
        <mat-form-field class="task-action-button-field" appearance="fill" (click)="$event.stopPropagation()">
          <mat-label>Core count</mat-label>
          <mat-select #coreCount [value]="0">
                <mat-option *ngFor="let cores of [0, 1, 2, 3, 4, 5, 6, 7, 8]" [value]="cores">
                  {{cores}}
                </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="executeAction('change_core_count',['coreCount', coreCount.value])">Set</button>
      </div>
    <mat-divider></mat-divider>
    <div class="action-menu-row">
        <div class="task-action-input-form">
          <mat-form-field class="task-action-comment-field" appearance="fill" (click)="$event.stopPropagation()">
            <mat-label>Comment (optional)</mat-label>
            <textarea matInput type="textarea" [(ngModel)]="comment"  ></textarea>
          </mat-form-field>
        </div>
    </div>
  </mat-menu>
  <button mat-raised-button  [matMenuTriggerFor]="splitRuleMenu"  class="action-button-menu">Split rule▼</button>
  <mat-menu #splitRuleMenu="matMenu" yPosition="below">
          <h5 class="action-label">Split rule</h5>
      <div class="action-menu-row">
        <div class="task-action-input-form">
          <mat-form-field class="task-action-button-field" appearance="fill" (click)="$event.stopPropagation()">
            <mat-label>Parameter</mat-label>
            <input matInput  #splitRuleParameterInput >
          </mat-form-field>
          <mat-form-field class="task-action-button-field" appearance="fill" (click)="$event.stopPropagation()">
            <mat-label>Value</mat-label>
            <input matInput  #splitRuleValueInput >
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="executeAction('change_split_rule',[splitRuleParameterInput.value,splitRuleValueInput.value])">Set</button>
      </div>
  </mat-menu>

<button mat-raised-button (click)="executeAction('obsolete', null)"  color="accent" class="action-button-menu" >Obsolete</button>
<button mat-raised-button  [matMenuTriggerFor]="klllJobsMenu"  class="action-button-menu">Kill jobs▼</button>
  <mat-menu #klllJobsMenu="matMenu" yPosition="below">
    <div class="action-button-column">
      <button mat-raised-button color="primary" (click)="executeAction('abort_unfinished_jobs',[])">Soft kill all</button>
      <button mat-raised-button color="primary" (click)="executeAction('abort_unfinished_jobs',[9])">Hard(-9) klll all</button>
    </div>
    <mat-divider></mat-divider>
    <p></p>
    <div class="action-menu-row">
        <div class="task-action-input-form">
          <mat-form-field class="task-action-button-field" appearance="fill" (click)="$event.stopPropagation()">
            <mat-label>Jobs id</mat-label>
            <textarea matInput type="textarea"  #jobsToKill ></textarea>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="executeAction('kill_job',[jobsToKill.value])">Kill</button>

    </div>
    <mat-divider></mat-divider>
    <div class="action-menu-row">
        <div class="task-action-input-form">
          <mat-form-field class="task-action-comment-field" appearance="fill" (click)="$event.stopPropagation()">
            <mat-label>Comment (optional)</mat-label>
            <textarea matInput type="textarea" [(ngModel)]="comment"  ></textarea>
          </mat-form-field>
        </div>
    </div>
  </mat-menu>
<button mat-raised-button  [matMenuTriggerFor]="ctrlMenu"  class="action-button-menu">Ctrl▼</button>
  <mat-menu #ctrlMenu="matMenu" yPosition="below">
    <div class="action-button-column">
      <button mat-raised-button color="primary" (click)="executeAction('pause_task',[])">Pause</button>
      <button mat-raised-button color="primary" (click)="executeAction('resume_task',[])">Resume</button>
      <button mat-raised-button color="primary" (click)="executeAction('trigger_task',[])">Trigger task brokerage</button>
      <button mat-raised-button color="primary" (click)="executeAction('avalanche_task',[])">Force avalanche</button>
      <button mat-raised-button color="primary" (click)="executeAction('reload_input',[])">Reload input</button>
      <button mat-raised-button color="primary" (click)="executeAction('finish_plus_reload',[])">Finish+Reload</button>
      <button mat-raised-button color="primary" (click)="executeAction('disable_idds',[])">Push stuck staging</button>
    </div>
    <mat-divider></mat-divider>
    <div class="action-menu-row">
        <div class="task-action-input-form">
          <mat-form-field class="task-action-comment-field" appearance="fill" (click)="$event.stopPropagation()">
            <mat-label>Comment (optional)</mat-label>
            <textarea matInput type="textarea" [(ngModel)]="comment"  ></textarea>
          </mat-form-field>
        </div>
    </div>
  </mat-menu>
<button mat-raised-button (click)="executeAction('sync_jedi', null)" class="action-button-menu" >Sync</button>
<button mat-raised-button  [matMenuTriggerFor]="hashtagMenu"  class="action-button-menu"> # ▼</button>
  <mat-menu #hashtagMenu="matMenu" yPosition="below">
    <div class="action-menu-row">
      <mat-form-field class="task-action-button-field" appearance="fill" (click)="$event.stopPropagation()">
        <mat-label>Hashtag</mat-label>
        <input matInput  #hashtag >
      </mat-form-field>
    </div>
     <div class="action-menu-row">
      <button mat-raised-button color="primary" (click)="executeAction('set_hashtag',[hashtag.value])">Set</button>
      <button mat-raised-button color="primary" (click)="executeAction('remove_hashtag',[hashtag.value])">Remove</button>
     </div>
  </mat-menu>
</div>
<ng-container *ngIf="actionExecuting">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<ng-container *ngIf="actionExecution$ | async as actionResult;">
  <ng-container *ngIf="actionResult.tasks_result.length===1; else multipleTasksResultBlock">
      <mat-card appearance="outlined">
        <mat-icon class="action-result-icon-{{actionResult.tasks_result[0].type}}">{{actionResult.tasks_result[0].type}}</mat-icon>
        <span>{{actionResult.tasks_result[0].result}}</span>
      </mat-card>
    </ng-container>
  <ng-template #multipleTasksResultBlock>
    <mat-accordion>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="action-result-icon-{{summaryTasksResult.status}}">{{summaryTasksResult.status}}</mat-icon>
             <span>{{summaryTasksResult.result}}</span>
            <ng-container *ngIf="reSendAction.tasks.length>0">
              <button (click)="reSendTasks()" style="margin-left: 7px" >Send command for {{reSendAction.tasks.length}} task(s)</button>
            </ng-container>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let taskResult of actionResult.tasks_result">
            <mat-icon class="action-result-icon-{{taskResult.type}}">{{taskResult.type}}</mat-icon>
            <span>{{taskResult.task_id}} - {{taskResult.result}}</span>

          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
</ng-container>
