<table *ngIf="requestInfo$ | async as requestInfo">
  <tr>
    <th>Request ID:</th>
    <th>Description:</th>
    <th>Reference:</th>
    <th>Manager:</th>
    <th>Physics group:</th>
    <th>Campaign:</th>
    <th>Project:</th>

  </tr>
  <tr>
    <td><a href="/prodtask/inputlist_with_request/{{requestInfo.reqid}}">{{requestInfo.reqid}}</a> </td>
    <td>{{requestInfo.description}} </td>
    <td><a href="https://its.cern.ch/jira/browse/{{requestInfo.jira_reference}}"> {{requestInfo.jira_reference}}</a> </td>
    <td>{{requestInfo.manager}} </td>
    <td>{{requestInfo.phys_group}} </td>
    <td>{{requestInfo.campaign}}:{{requestInfo.subcampaign}} </td>
    <td>{{requestInfo.project}} </td>

  </tr>
</table>
<mat-tab-group mat-stretch-tabs [selectedIndex]="selectedTab" >
  <mat-tab label="Slices">
   <div *ngIf="analysisSlices$| async as analysisSlices">

    <ag-grid-angular
      #slicesGrid
      class="ag-theme-alpine"
      [rowData]="analysisSlices"
      [columnDefs]="sliceAGColumns"
      [rowHeight]="90"
      [rowSelection]="'multiple'"
      [pagination]="true"
     [domLayout]="'autoHeight'"
      [paginationPageSize]="20"
      (selectionChanged)="onSelectionChanged($event)"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
</div>

<app-analy-request-actions [productionRequestID]="requestID" [selectedSlices]="selectedSlicesNumbers" (updateRequest)="updateRequest($event)"></app-analy-request-actions>
  </mat-tab>
  <mat-tab label="Tasks">
    <h1 *ngIf="taskLoadError" style="color: red">Error loading tasks: {{taskLoadError}}</h1>

    <div *ngIf="tasks$ | async as tasks; else loading">
      <app-production-task-table [tasks]="tasks" (taskChosen)="onTaskChosen($event)" [taskToShow]="taskID" [showOwner]="false" >

      </app-production-task-table>
    </div>
      <ng-template #loading>
    <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
  </ng-template>

  </mat-tab>
</mat-tab-group>

