<table>
  <tr>
    <td *ngFor="let taskStatusItem of collectionKeys | keyvalue" >
      <span [ngClass]="['singleClick','taskStatus',taskStatusItem.key]" (click)="toggleCollection(taskStatusItem.key)">{{taskStatusItem.key}}</span></td>
    <td *ngFor="let taskStatusItem of taskStatus | keyvalue" >
    <span [ngClass]="['singleClick','taskStatus',taskStatusItem.key]" (click)="selectSingleStatus(taskStatusItem.key)">{{taskStatusItem.key}}</span></td></tr>
  <tr>    <td *ngFor="let taskStatusItem of collectionKeys | keyvalue" >
    <span [ngClass]="['singleClick','taskStatus',taskStatusItem.key]" (click)="toggleCollection(taskStatusItem.key)">{{taskStatusItem.value}}</span></td>
    <td *ngFor="let taskStatusItem of taskStatus | keyvalue" >
    <span [ngClass]="['singleClick','taskStatus',taskStatusItem.key]" (click)="selectSingleStatus(taskStatusItem.key)" >{{taskStatusItem.value}}
      <div *ngIf="taskStatusItem.value!=taskStatusFiltered[taskStatusItem.key]">({{taskStatusFiltered[taskStatusItem.key]}})</div></span></td></tr>
  <tr>
    <td *ngFor="let taskStatusItem of collectionKeys | keyvalue" >
      <input type="checkbox" [checked]="collectionKeysSelect.isSelected(taskStatusItem.key)" (click)= "toggleCollection(taskStatusItem.key);$event.stopPropagation()"  /></td>
    <td *ngFor="let taskStatusItem of taskStatus | keyvalue" >
    <input type="checkbox" [checked]="selectedStatus.isSelected(taskStatusItem.key)" (click)= "selectStatus(taskStatusItem.key);$event.stopPropagation()"  /></td></tr>
</table>
