The Prodtask is using Token based authentication for its RestFull API. You can find your personal token on this page:
<p><a href="https://prodtask-dev.cern.ch/prodtask/userinfo/">https://prodtask-dev.cern.ch/prodtask/userinfo/</a></p>

and set it "Token your_token" as an authorisation Header.

Example for curl:
<mat-card>
  <mat-card-title>
    CURL example
  </mat-card-title>
  <mat-card-content>
<code>
  curl  -X POST -H "authorization: Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b" -H "accept: application/json"  -H  "content-type: application/json"   https://prodtask-dev.cern.ch/api/test_api/
</code>
  </mat-card-content>
</mat-card>
<p>
Or for python the code could look like that:
</p>
<mat-card>
  <mat-card-title>
    Python
  </mat-card-title>
  <mat-card-content>
<code>
import requests, json<br>
headers = &#123;'Content-Type':'application/json', 'Accept': 'application/json', 'Authorization': 'Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b'&#125;<br>
response = requests.post('https://prodtask-dev.cern.ch/api/test_api/', headers=headers)<br>
json.loads(response.content)<br>
</code>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<p>
For Derivation superseded container management following APIs are avalaible:
</p>
<ul>
  <li>
    A list of containers per an output with versions and number of extensions (GET method) taken from cache:<br/>
    <a href="https://prodtask-dev.cern.ch/api/gp_deletions_containers/?output_format=DAOD_BPHY1&data_type=mc">gp_deletions_containers</a>
    <mat-card>
      <mat-card-title>
        CURL example
      </mat-card-title>
      <mat-card-content>
        <code>
          curl  -X GET -H "authorization: Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b" -H "accept: application/json"  -H  "content-type: application/json"  "https://prodtask-dev.cern.ch/api/gp_deletions_containers/?output_format=DAOD_BPHY1&data_type=mc"
        </code>
      </mat-card-content>
    </mat-card>


  </li>
  <li>
    A list of containers per an output with versions and number of extensions (GET method). Format could be specified by concrete format(output_format='DAOD_BPHY1')
    by base format(base_format='BHPY') or without output_format and base_format API will return all formats for a data_type(default data_type is 'mc')<br/>
    <a href="https://prodtask-dev.cern.ch/api/gp_deletions_containers_cached/?output_format=DAOD_EGAM3&data_type=mc">gp_deletions_containers_cached</a>
      <mat-card>
        <mat-card-title>
          CURL example
        </mat-card-title>
        <mat-card-content>
    <code>
      curl  -X GET -H "authorization: Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b" -H "accept: application/json"  -H  "content-type: application/json"  "https://prodtask-dev.cern.ch/api/gp_deletions_containers_cached/?output_format=DAOD_EGAM3&data_type=mc"
    </code>
        </mat-card-content>
      </mat-card>
    <mat-card>
      <mat-card-title>
        Example of output
      </mat-card-title>
      <mat-card-content>
        <code>
          <pre>{{cacheExample |json}}</pre>

        </code>
      </mat-card-content>
    </mat-card>

  </li>
  <li>
    A list of all datasets marked for the deletion. The list is taken from a cache, cache is updated daily (GET method).
    Two optional parameters: filter, return dataset wtih 'filter' in the dataset name. data_type - returns datasets of this data type(mc or data):
    <a href="https://prodtask-dev.cern.ch/api/datasests_to_delete/?filter=DAOD_EGAM3">datasests_to_delete</a>

    <mat-card>
        <mat-card-title>
          CURL example
        </mat-card-title>
        <mat-card-content>
    <code>
      curl  -X GET -H "authorization: Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b" -H "accept: application/json"  -H  "content-type: application/json" "https://prodtask-dev.cern.ch/api/datasests_to_delete/?filter=DAOD_EGAM3"
    </code>
        </mat-card-content>
      </mat-card>
  </li>
  <li>
    Request extensions for a list of containers (POST method):<br/>
    <a href="https://prodtask-dev.cern.ch/api/gp_extension/">gp_extension</a>
    <p>Python code which requests extension for containers from the file which contains container name one by line could look like that: </p>
    <mat-card>
      <mat-card-title>
        Python example
      </mat-card-title>
      <mat-card-content>
        <code>
          <pre>
import requests, json
input_file_name = "./containers.txt"
message = "Extension due to (JIRA ticket for ananlysys)"
headers = &#123;'Content-Type':'application/json', 'Accept': 'application/json', 'Authorization': 'Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b'&#125;
with open(input_file_name,"r") as f:
  containers = [line.strip() for line in f.read().split('\n') if line ]
post_data = &#123;"message":message,"containers":containers}
response = requests.post('https://prodtask-dev.cern.ch/api/gp_extension/', data=json.dumps(post_data),  headers=headers, verify=False)
if response.status_code != requests.codes.ok:
  print(response.content)
result = json.loads(response.content)
if result['containers_extented'] != len(containers):
  for container_with_problem in result['containers_with_problems']:
     print("Container &#123;container&#125; has problem: &#123;problem&#125;".format(container=container_with_problem[0],problem=container_with_problem[1])
        </pre>

        </code>
      </mat-card-content>
    </mat-card>
  </li>

</ul>
