The Prodtask is using Token based authentication for its RestFull API. You can find your personal token on this page:
<p><a href="https://prodtask-dev.cern.ch/prodtask/userinfo/">https://prodtask-dev.cern.ch/prodtask/userinfo/</a></p>

and set it "Token your_token" as an authorisation Header.

Example for curl:
<mat-card appearance="outlined">
  <mat-card-title>
    CURL example
  </mat-card-title>
  <mat-card-content>
<code>
  <pre>
  curl  -X POST -H "authorization: Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b" -H "accept: application/json"  -H  "content-type: application/json"   https://prodtask-dev.cern.ch/api/test_api/</pre>
</code>
  </mat-card-content>
</mat-card>
<p>
Or for python the code could look like that:
</p>
<mat-card appearance="outlined">
  <mat-card-title>
    Python
  </mat-card-title>
  <mat-card-content>
<code>
    <pre>
import requests, json
headers = &#123;'Content-Type':'application/json', 'Accept': 'application/json', 'Authorization': 'Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b'&#125;
response = requests.post('https://prodtask-dev.cern.ch/api/test_api/', headers=headers)
json.loads(response.content)</pre>
</code>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<h3>APIs</h3>
@if (currentAPI ==='gp'){
  <p>
For Derivation superseded container management following APIs are avalaible:
</p>
<ul>
  <li>
   <h5> <a href="https://prodtask-dev.cern.ch/api/gp_deletions_containers/?output_format=DAOD_BPHY1&data_type=mc">gp_deletions_containers</a></h5>

    A list of containers per an output with versions and number of extensions (GET method) taken from cache:<br/>
    <mat-card appearance="outlined">
      <mat-card-title>
        CURL example
      </mat-card-title>
      <mat-card-content>
        <code><pre>
          curl  -X GET -H "authorization: Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b" -H "accept: application/json"  -H  "content-type: application/json"  "https://prodtask-dev.cern.ch/api/gp_deletions_containers/?output_format=DAOD_BPHY1&data_type=mc"</pre>
        </code>
      </mat-card-content>
    </mat-card>


  </li>
  <li>
    <h5> <a href="https://prodtask-dev.cern.ch/api/gp_deletions_containers_cached/?output_format=DAOD_EGAM3&data_type=mc">gp_deletions_containers_cached</a></h5>

    A list of containers per an output with versions and number of extensions (GET method). Format could be specified by concrete format(output_format='DAOD_BPHY1')
    by base format(base_format='BHPY') or without output_format and base_format API will return all formats for a data_type(default data_type is 'mc')<br/>
      <mat-card appearance="outlined">
        <mat-card-title>
          CURL example
        </mat-card-title>
        <mat-card-content>
    <code><pre>
      curl  -X GET -H "authorization: Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b" -H "accept: application/json"  -H  "content-type: application/json"  "https://prodtask-dev.cern.ch/api/gp_deletions_containers_cached/?output_format=DAOD_EGAM3&data_type=mc"</pre>
    </code>
        </mat-card-content>
      </mat-card>
    <mat-card appearance="outlined">
      <mat-card-title>
        Example of output
      </mat-card-title>
      <mat-card-content>
        <code>
          <pre>{{cacheExample |json}}</pre>

        </code>
      </mat-card-content>
    </mat-card>

  </li>
  <li>
    <h5>   <a href="https://prodtask-dev.cern.ch/api/datasests_to_delete/?filter=DAOD_EGAM3">datasests_to_delete</a></h5>

    A list of all datasets marked for the deletion. The list is taken from a cache, cache is updated daily (GET method).
    Two optional parameters: filter, return dataset wtih 'filter' in the dataset name. data_type - returns datasets of this data type(mc or data):<br/>

    <mat-card appearance="outlined">
        <mat-card-title>
          CURL example
        </mat-card-title>
        <mat-card-content>
    <code><pre>
      curl  -X GET -H "authorization: Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b" -H "accept: application/json"  -H  "content-type: application/json" "https://prodtask-dev.cern.ch/api/datasests_to_delete/?filter=DAOD_EGAM3"</pre></code>
        </mat-card-content>
      </mat-card>
  </li>
  <li>
    <h5> <a href="https://prodtask-dev.cern.ch/api/gp_extension/">gp_extension</a></h5>
    Request extensions for a list of containers (POST method):<br/>
    <p>Python code which requests extension for containers from the file which contains container name one by line could look like that: </p>
    <mat-card appearance="outlined">
      <mat-card-title>
        Python example
      </mat-card-title>
      <mat-card-content>
        <code>
          <pre>
import requests, json
input_file_name = "./containers.txt"
message = "Extension due to (JIRA ticket for ananlysys)"
headers = &#123;'Content-Type':'application/json', 'Accept': 'application/json', 'Authorization': 'Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b'&#125;
with open(input_file_name,"r") as f:
  containers = [line.strip() for line in f.read().split('\n') if line ]
post_data = &#123;"message":message,"containers":containers,"number_of_extensions":2&#125;
response = requests.post('https://prodtask-dev.cern.ch/api/gp_extension/', data=json.dumps(post_data),  headers=headers, verify=False)
if response.status_code != requests.codes.ok:
  print(response.content)
result = json.loads(response.content)
if result['containers_extented'] != len(containers):
  for container_with_problem in result['containers_with_problems']:
     print("Container &#123;container&#125; has problem: &#123;problem&#125;".format(container=container_with_problem[0],problem=container_with_problem[1]))</pre>

        </code>
      </mat-card-content>
    </mat-card>
  </li>
  <li>
    <h5> <a href="https://prodtask-dev.cern.ch/api/gp_extension_period_container/">gp_extension_period_container</a></h5>
    The same as gp_extension but instead of a list of containers it takes a name of a period container as a parameter "period_container"
  </li>
</ul>
} @else {
    <p>
For production activities following APIs are avalaible:
</p>
<ul>

    <li>
    <h5> <a href="https://prodtask-dev.cern.ch/api/production_request_outputs/56281/">production_request_outputs</a></h5>

Get the outputs of the request - last step of each slice which is not hidden.
return: dictionary with keys as base slice and values as list of dictionaries with task, status, ami_tag and outputs<br/>
      <mat-card appearance="outlined">
        <mat-card-title>
          CURL example
        </mat-card-title>
        <mat-card-content>
    <code><pre>
      curl  -X GET -H "authorization: Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b" -H "accept: application/json"  -H  "content-type: application/json"  "https://prodtask-dev.cern.ch/api/production_request_outputs/56281/"</pre>
    </code>
        </mat-card-content>
      </mat-card>
    <mat-card appearance="outlined">
      <mat-card-title>
        Example of output
      </mat-card-title>
      <mat-card-content>
        <code>
          <pre>{{prOutputExample |json}}</pre>

        </code>
      </mat-card-content>
    </mat-card>
      </li>
      <li>
    <h5> <a href="https://prodtask-dev.cern.ch/api/tasks_ids_by_hashstag/testhashtag/">tasks_ids_by_hashstag</a></h5>

Get the tasks ids by hashstag - return list of task ids which have this hashtag assigned<br/>
<br/>
      <mat-card appearance="outlined">
        <mat-card-title>
          CURL example
        </mat-card-title>
        <mat-card-content>
    <code><pre>
      curl  -X GET -H "authorization: Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b" -H "accept: application/json"  -H  "content-type: application/json"  "https://prodtask-dev.cern.ch/api/tasks_ids_by_hashstag/testhashtag/"</pre>
    </code>
        </mat-card-content>
      </mat-card>
    <mat-card appearance="outlined">
      <mat-card-title>
        Example of output
      </mat-card-title>
      <mat-card-content>
        <code>
          <pre>{{htOutputExample |json}}</pre>

        </code>
      </mat-card-content>
    </mat-card>
      </li>

        <li>
    <h5> <a href="https://prodtask-dev.cern.ch/api/sample_output_containers_by_hashstag/25p0p42_MC23_DAOD_Production/">sample_output_containers_by_hashstag</a></h5>

 Return list of sample output containers for a given hashtag.<br/>
        Returns two lists: 'ready' - containers for which all tasks are done or finished,
        'upcoming' - containers for which some tasks are still running<br/>
          It doesn't check that all datasets are actually in the containers, only task status is considered<br/>
<br/>
      <mat-card appearance="outlined">
        <mat-card-title>
          CURL example
        </mat-card-title>
        <mat-card-content>
    <code><pre>
      curl  -X GET -H "authorization: Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b" -H "accept: application/json"  -H  "content-type: application/json"  "https://prodtask-dev.cern.ch/api/sample_output_containers_by_hashstag/25p0p42_MC23_DAOD_Production/"</pre>
    </code>
        </mat-card-content>
      </mat-card>
    <mat-card appearance="outlined">
      <mat-card-title>
        Example of output
      </mat-card-title>
      <mat-card-content>
        <code>
          <pre>{{socOutputExample |json}}</pre>

        </code>
      </mat-card-content>
    </mat-card>
      </li>
          <li>
            <h5 id="dkb_events_per_campaign"> <a href="https://prodtask-dev.cern.ch/api/dkb_events_per_campaign/">dkb_events_per_campaign</a></h5>

            <br/>
            Returns number of events and tasks from DKB as they are shown on
            <a href="https://prodtask-dev.cern.ch/dkb/#/">DKB</a> page.
            Input for POST reqeust is a json with a single key "search_string" and value as a string to search for in DKB.
            Return value is a list of dict as shown in example.
 <br/>
<br/>
      <mat-card appearance="outlined">
        <mat-card-title>
          Python example
        </mat-card-title>
        <mat-card-content>
<code>
    <pre>
import requests, json, pprint
headers = &#123;'Content-Type':'application/json', 'Accept': 'application/json', 'Authorization': 'Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b'&#125;
data = &#123;"search_string":"(campaign:mc23,phys_group:EXOT)"&#125;
post_data = json.dumps(data)
response = requests.post('https://prodtask-dev.cern.ch/api/dkb_events_per_campaign/', headers=headers, data=post_data)
result = json.loads(response.content)
pprint(result)</pre>
</code>
        </mat-card-content>
      </mat-card>
    <mat-card appearance="outlined">
      <mat-card-title>
        Example of output
      </mat-card-title>
      <mat-card-content>
<pre style="white-space: pre; overflow:auto; max-height: 70vh; padding: 12px; border: 1px solid #ddd; border-radius: 8px; background: #fafafa; font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace; font-size: 13px; line-height: 1.35; margin: 0;">
[{{ '{' }}'name': 'MC23a', 'size': 3319650425.0, 'tasks': 41562{{ '}' }},
 {{ '{' }}'name': 'MC23e', 'size': 2784548025.0, 'tasks': 32901{{ '}' }},
 {{ '{' }}'name': 'MC23c', 'size': 1374319050.0, 'tasks': 21230{{ '}' }},
 {{ '{' }}'name': 'MC23d', 'size': 19519062500.0, 'tasks': 20435{{ '}' }}]
</pre>
      </mat-card-content>
    </mat-card>
      </li>
   <li>
            <h5 id="simple_dkb_search"> <a href="https://prodtask-dev.cern.ch/api/simple_dkb_search/">simple_dkb_search</a></h5>
<i>UNDER development</i>
            <br/>
            Right now it returns list of task with corresponding info from DKB as they are shown on
            <a href="https://prodtask-dev.cern.ch/dkb/#/">DKB</a> page.
            Input for POST reqeust is a json with a single key "search_string" and value as a string to search for in DKB.
            Return value is a list of dict as shown in example. Number of tasks is limited to 10000. In the future more filters and pagination will be added.
 <br/>
<br/>
      <mat-card appearance="outlined">
        <mat-card-title>
          Python example
        </mat-card-title>
        <mat-card-content>
<code>
    <pre>
import requests, json, pprint
headers = &#123;'Content-Type':'application/json', 'Accept': 'application/json', 'Authorization': 'Token 88571a8e7f8aae6f2f0b71fa9426475a28da144b'&#125;
data = &#123;"search_string":"47222397"&#125;
post_data = json.dumps(data)
response = requests.post('https://prodtask-dev.cern.ch/api/simple_dkb_search/', headers=headers, data=post_data)
result = json.loads(response.content)
pprint(result)</pre>
</code>
        </mat-card-content>
      </mat-card>
    <mat-card appearance="outlined">
      <mat-card-title>
        Example of output
      </mat-card-title>
      <mat-card-content>
<pre style="white-space: pre; overflow:auto; max-height: 70vh; padding: 12px; border: 1px solid #ddd; border-radius: 8px; background: #fafafa; font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace; font-size: 13px; line-height: 1.35; margin: 0;">
[{{ '{' }}'ami_tags': 'e8557',
  'ami_tags_format_step': ['EVNT:e8557'],
  'architecture': 'x86_64-centos7-gcc11-opt#x86_64-*-v2',
  'campaign': 'MC23',
  'chain_data': [47222397],
  'chain_id': 47222397,
  'cloud': 'WORL',
  'conditions_tag': None,
  'core_count': None,
  'ctag': 'e8557',
  'ctag_format_step': ['EVNT:e8557'],
  'description': 'test pmg tags',
  'end_time': None,
  'energy_gev': 13600,
  'evgen_job_opts': None,
  'geometry_version': None,
  'hashtag_list': None,
  'input_events': 10000,
  'input_events_v2': 10000,
  'job_config': None,
  'n_events_per_job': '10000',
  'n_files_per_job': '1',
  'n_files_to_be_used': 1,
  'output_dataset': [{{ '{' }}'bytes': 373288099,
                      'cross_section': '1.9560E-04',
                      'data_format': 'EVNT',
                      'deleted': False,
                      'events': 10000,
                      'gen_filt_eff': '1.000000E+00',
                      'name': 'mc23_valid.560037.MGPy8EG_A14NNPDF23LO_2HNS_N20_DD70.evgen.EVNT.e8557_tid47222397_00',
                      'negFraction': '3.334161E-05',
                      'negFractionNoFilter': '3.334161E-05',
                      'sumOfWeights': '5.868120E+03',
                      'sumOfWeightsNoFilter': '5.868120E+03'{{ '}' }}],
  'output_formats': ['EVNT'],
  'phys_category': ['Uncategorized'],
  'phys_group': 'VALI',
  'pr_id': 65795,
  'primary_input': None,
  'processed_events': 10000,
  'processed_events_v2': 10000,
  'project': 'mc23_valid',
  'requested_events': None,
  'run_number': '560037',
  'site': None,
  'start_time': '04-11-2025 10:42:35',
  'status': 'done',
  'step_id': 9675223,
  'step_name': 'Evgen',
  'subcampaign': 'MC23a',
  'task_timestamp': '04-11-2025 17:14:29',
  'taskid': 47222397,
  'taskname': 'mc23_valid.560037.MGPy8EG_A14NNPDF23LO_2HNS_N20_DD70.evgen.e8557',
  'ticket_id': 'ATLPSTASKS-1647499',
  'total_events': 10000,
  'total_req_events': 10000,
  'trans_home': 'AthGeneration-23.6.22',
  'trans_path': 'Gen_tf.p',
  'trans_uses': 'Atlas-23.6.2',
  'trigger_config': None,
  'user_name': 'mborodin',
  'vo': 'atlas'{{ '}' }},
 {{ '{' }}'ami_tags': 'e8557_e8586',
  'ami_tags_format_step': ['EVNT:e8557_e8586'],
  'architecture': 'x86_64-el9-gcc13-opt#x86_64-*-v2',
  'campaign': 'MC23',
  'chain_data': [47222397, 47222399],
  'chain_id': 47222397,
  'cloud': 'WORL',
  'conditions_tag': None,
  'core_count': None,
  'ctag': 'e8586',
  'ctag_format_step': ['EVNT:e8586'],
  'description': 'test pmg tags',
  'end_time': None,
  'energy_gev': 13600,
  'evgen_job_opts': None,
  'geometry_version': None,
  'hashtag_list': None,
  'input_bytes': 373288099,
  'input_events': 10000,
  'input_events_v2': 10000,
  'job_config': None,
  'n_events_per_job': '10000',
  'n_files_per_job': None,
  'n_files_to_be_used': 1,
  'output_dataset': [{{ '{' }}'bytes': 277774647,
                      'cross_section': '1.9560E-04',
                      'data_format': 'EVNT',
                      'deleted': False,
                      'events': 10000,
                      'gen_filt_eff': '1.000000E+00',
                      'name': 'mc23_valid.560037.MGPy8EG_A14NNPDF23LO_2HNS_N20_DD70.merge.EVNT.e8557_e8586_tid47222399_00',
                      'negFraction': '2.500674E-05',
                      'negFractionNoFilter': '2.500674E-05',
                      'sumOfWeights': '7.824123E+03',
                      'sumOfWeightsNoFilter': '7.824123E+03'{{ '}' }}],
  'output_formats': ['EVNT'],
  'parent_taskname': 'mc23_valid.560037.MGPy8EG_A14NNPDF23LO_2HNS_N20_DD70.evgen.e8557',
  'parent_total_events': '10000',
  'phys_category': ['Uncategorized'],
  'phys_group': 'VALI',
  'pr_id': 65795,
  'primary_input': 'mc23_valid.560037.MGPy8EG_A14NNPDF23LO_2HNS_N20_DD70.evgen.EVNT.e8557_tid47222397_00',
  'primary_input_deleted': False,
  'primary_input_events': 10000,
  'processed_events': 10000,
  'processed_events_v2': 10000,
  'project': 'mc23_valid',
  'requested_events': 10000,
  'run_number': None,
  'site': None,
  'start_time': '04-11-2025 18:12:26',
  'status': 'done',
  'step_id': 9675224,
  'step_name': 'Evgen Merge',
  'subcampaign': 'MC23a',
  'task_timestamp': '04-11-2025 19:56:35',
  'taskid': 47222399,
  'taskname': 'mc23_valid.560037.MGPy8EG_A14NNPDF23LO_2HNS_N20_DD70.merge.e8557_e8586',
  'ticket_id': 'ATLPSTASKS-1647499',
  'total_events': 10000,
  'total_req_events': 0,
  'trans_home': 'AthGeneration-23.6.37',
  'trans_path': 'EVNTMerge_tf.p',
  'trans_uses': 'Atlas-23.6.3',
  'trigger_config': None,
  'user_name': 'mborodin',
  'vo': 'atlas'{{ '}' }}]
</pre>
      </mat-card-content>
    </mat-card>
      </li>
</ul>
}

