
<div>
  <h5>Job parameters:</h5>
  <div class="jobParams">
    @for (jobParamaterItem of jobParameters; track jobParamaterItem) {
      <div >
        {{jobParamaterItem}}
      </div>
    }
  </div>

  <h5>Task parameters:</h5> @if (editMode!=='disabled') {
  <mat-slide-toggle [(ngModel)]="editModeToggle" (change)="toggleEditMode($event)">Edit</mat-slide-toggle>
}
@if ((editMode==='view')||(editMode==='disabled')) {
  <div class="taskParamGrid">
    @for (item of preparedTaskParamsForm.controls; track item) {
      @if (!KEYS_TO_HIDE.includes(item.name) && item.show) {
        <div><b>{{item.name}}</b></div><div>{{item.value|json}}</div>
      }
    }
  </div>
} @else {
  <app-dynamic-form-w-filter [jsonFormData]="preparedTaskParamsForm" (formSubmit)="onFormSubmit($event)" [submitButtonText]="submitButtonText"
  (formReset)="onFormReset($event)"  ></app-dynamic-form-w-filter>
}
</div>
