{% extends "prodtask/_index.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load js %}


{% block extra_css %}
{{ block.super }}

{%  django_js %}


{% endblock %}
{% block body %}

<!--
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.foundation.min.css">
<link rel="stylesheet" type="text/css" href="http://datatables.net/release-datatables/extensions/TableTools/css/dataTables.tableTools.css">
-->

<style type="text/css">

    @import "{% static "css/dataTables.tableTools.css" %}";
    @import "{% static "css/dataTables.foundation.min.css" %}";
    @import "{% static "css/jquery.dataTables.min.css" %}";

    .dataTables_wrapper .dataTables_paginate .paginate_button {padding: 0em 0em;}


</style>


<!--
    <link href="http://cdn.datatables.net/1.10.6/css/jquery.dataTables.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
-->
<!--
    <script src="http://datatables.net/release-datatables/media/js/jquery.js"></script>
    <script src="http://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/dataTables.foundation.min.js"></script>
    <script src="http://datatables.net/release-datatables/extensions/TableTools/js/dataTables.tableTools.js"></script>
    <script src="http://cdn.datatables.net/plug-ins/1.10.10/api/fnProcessingIndicator.js"></script>

    <script type="text/javascript" src="{% static "js/jquery.json-2.4.min.js" %}"></script>
    <script src="http://lab.alexcican.com/set_cookies/cookie.js" type="text/javascript"></script>
-->

    <script type="text/javascript" src="{% static "js/jquery-1.11.3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.dataTables-1.10.10.js" %}"></script>
    <script type="text/javascript" src="{% static "js/cookie-1.4.0.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dataTables.foundation-1.10.10.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dataTables.tableTools-2.2.3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fnProcessingIndicator-1.10.10.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.json-2.4.min.js" %}"></script>










         <div class="small-6 large-6 columns">
            <input type="text" id="find_job">
         </div>

         <div class="small-3 large-3 columns">
            <a class="button postfix" id="btn_find_jobs">Go</a>
         </div>


<!--
<input type="text" id="find_job">
<a class="button postfix" id="btn_find_jobs">Go</a>
-->
        <table id="example" class="display" cellspacing="0" width="100%">

           <thead>
           <tr>
           <th>JobID</th>
           <th>TaskID</th>
           <th>Status</th>
           </tr>
           </thead>
           <tfoot>
           <tr>
           <th>JobID</th>
           <th>TaskID</th>
           <th>Status</th>
           </tr>
           </tfoot>
        </table>


         <div class="small-3 large-3 columns">
            <a class="button postfix" id="btn_handle_jobs">Action</a>
         </div>

{% csrf_token %}


    <script type="text/javascript" class="init">

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                }
            }
        });

        $(document).ready(function() {

            $('#example tfoot th').each( function () {
                    var title = $(this).text();
                    $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
                } );


	        var table = $('#example').DataTable({
                        "bProcessing" : true,
                        //columns : [
                        //        {"sTitle" : "JobID" },
                        //        {"sTitle" : "TaskID" },
                        //        {"sTitle" : "Job Status" }
                        //],
                        dom: 'T<"clear">lftirp',
                        tableTools: {
                            "sRowSelect": "os",
                            "aButtons": [
                                            "select_all",
                                            {
                                                "sExtends":    "select",
                                                "sButtonText": "Select Filtered",
                                                "fnClick": function (nButton, oConfig, oFlash) {
                                                                        var oTT = TableTools.fnGetInstance('example');
                                                                        oTT.fnSelectAll(true); //True = Select only filtered rows (true). Optional - default false.
                                                                        }
                                            },
                                            "select_none"
                                        ]
 //                           "aButtons": [ "select_all", "select_none" ]
                        }
                        //fnInitComplete : function() {
                        //    $("thead tr").clone().appendTo($("tfoot")) ;
                        //}
                    });




        table.columns().every( function () {

                        var column = this;

                        $( 'input', this.footer() ).on( 'keyup change', function () {
                                //console.log(column.data());
                                column.search( this.value ).draw();

                        } );
        } );


        $('#example tbody').on( 'click', 'tr', function () {
                //$(this).toggleClass('selected');
                $(this).toggleClass('active');
            } );

        $("#btn_find_jobs").click(function(){


            var parameters = [$("#find_job").val()];

            if (parameters.length == 0) return;

            var ajaxUrl =  Django.url('prodjob:get_jobs');
            $('#example').dataTable().fnProcessingIndicator();

            $.ajax({
                url: ajaxUrl,
                type: "POST",
                data: $.toJSON(parameters),
                dataType: "json",

             //   success: function(){



//                } // 'success' event handler
                complete: function (jqXHR, textStatus) {
                    //alert(jqXHR.responseText);
                    //var data = jqXHR.responseText;
                    var data =  $.parseJSON(jqXHR.responseText);

                    var oTable = $('#example').dataTable();
                    oTable.fnClearTable();
                    oTable.fnAddData(data);
                    oTable.fnDraw();


                    $('#example').dataTable().fnProcessingIndicator(false);



                    //console.log(oTable.api().columns(2).search( 'failed' ).data()[0]);



                    //oTable.api().columns(2).search( columns(2).footer().value ).draw();


                } // 'complete' event handler

            });

                    // Apply the search

            //$('#example').dataTable().fnProcessingIndicator();
            //$(".dataTables_processing").css('visibility','visible');

        } );
            //$(".dataTables_processing").css('visibility','hidden');

        } );



        $("#btn_handle_jobs").click(function(){


            var table = $('#example').DataTable();
            var data = table.rows('.selected').data().toArray();
            alert( table.rows('.selected').data().length +' job(s) selected for ACTION' );
            var ajaxUrl =  Django.url('prodjob:jobs_action');

            $.ajax({
                url: ajaxUrl,
                type: "POST",
                data: $.toJSON(data),
                dataType: "json"

            });

        }  );



    </script>




{% endblock %}