{% extends "prodtask/_index.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load js %}

{% block extra_css %}
{{ block.super }}

{%  django_js %}

{% endblock %}
{% block body %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.foundation.min.css">
<link rel="stylesheet" type="text/css" href="http://datatables.net/release-datatables/extensions/TableTools/css/dataTables.tableTools.css">

<style type="text/css">
    .dataTables_wrapper .dataTables_paginate .paginate_button {padding: 0em 0em;}

</style>
<!--
    <link href="http://cdn.datatables.net/1.10.6/css/jquery.dataTables.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
-->
    <script src="http://datatables.net/release-datatables/media/js/jquery.js"></script>
    <script src="http://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/dataTables.foundation.min.js"></script>
    <script src="http://datatables.net/release-datatables/extensions/TableTools/js/dataTables.tableTools.js"></script>
    <script src="http://cdn.datatables.net/plug-ins/1.10.10/api/fnProcessingIndicator.js"></script>


    <script type="text/javascript" src="{% static "js/jquery.json-2.4.min.js" %}"></script>
    <script src="http://lab.alexcican.com/set_cookies/cookie.js" type="text/javascript"></script>



         <div class="small-6 large-6 columns">
            <input type="text" id="find_job">
         </div>

         <div class="small-3 large-3 columns">
            <a class="button postfix" id="btn_find_jobs">Go</a>
         </div>


<!--
<input type="text" id="find_job">
<a class="button postfix" id="btn_find_jobs">Go</a>
-->
        <table id="example" class="display" cellspacing="0" width="100%">

           <thead>


           </thead>
        </table>


         <div class="small-3 large-3 columns">
            <a class="button postfix" id="btn_handle_jobs">Action</a>
         </div>

{% csrf_token %}


    <script type="text/javascript" class="init">

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                }
            }
        });

        $(document).ready(function() {
	        $('#example').dataTable({
                        "bProcessing" : true,
                        columns : [
                                {"sTitle" : "JobID" },
                                {"sTitle" : "TaskID" },
                                {"sTitle" : "Job Status" }
                        ],
                        dom: 'T<"clear">lftirp',
                        tableTools: {
                            "sRowSelect": "os",
                            "aButtons": [ "select_all", "select_none" ]
                        }
                    });

            //$('#example').dataTable().fnProcessingIndicator();
            //$(".dataTables_processing").css('visibility','visible');

        } );

        $('#example tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
            } );

        $("#btn_find_jobs").click(function(){


            var parameters = [$("#find_job").val()];

            if (parameters.length == 0) return;

            var ajaxUrl =  Django.url('prodjob:get_jobs');
            $('#example').dataTable().fnProcessingIndicator();
            $.ajax({
                url: ajaxUrl,
                type: "POST",
                data: $.toJSON(parameters),
                dataType: "json",

             //   success: function(){



//                } // 'success' event handler
                complete: function (jqXHR, textStatus) {
                    //alert(jqXHR.responseText);
                    //var data = jqXHR.responseText;
                    var data =  $.parseJSON(jqXHR.responseText);

                    var oTable = $('#example').dataTable();
                    oTable.fnClearTable();
                    oTable.fnAddData(data);
                    oTable.fnDraw();

                    $('#example').dataTable().fnProcessingIndicator(false);
                } // 'complete' event handler

            });
            //$(".dataTables_processing").css('visibility','hidden');

        } );

        $("#btn_handle_jobs").click(function(){


            var table = $('#example').DataTable();
            var data = table.rows('.selected').data().toArray();
            alert( table.rows('.selected').data().length +' job(s) selected for ACTION' );
            var ajaxUrl =  Django.url('prodjob:jobs_action');

            $.ajax({
                url: ajaxUrl,
                type: "POST",
                data: $.toJSON(data),
                dataType: "json"

            });

        }  );



    </script>




{% endblock %}