@if (patterns$| async; as pattern) {
  <div>
    <!--  Form with 3 fields: first dropdown MC campaigns, second number request id, third checkbox list-->
    <form [formGroup]="mcPatternsForm">
      <div formArrayName="mainArray">
        @for (alias of mainArray.controls; track alias; let i = $index) {
          <div [formGroupName]="i" class="campignGrid">
            <div>
              <mat-form-field>
                <mat-label>MC Campaigns</mat-label>
                <mat-select formControlName="campaign" >
                  @for (mcCampaign of mcCampaigns; track mcCampaign) {
                    <mat-option [value]="mcCampaign">
                      {{mcCampaign}}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" >
                  @for (status of PATTERN_STATUS; track status) {
                    <mat-option [value]="status">
                      {{status}}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Pattern Request Id</mat-label>
                <input matInput  formControlName="train_id" (change)="requestIDChanged($event, i)">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field style="width: 300px">
                <mat-label>Outputs</mat-label>
                <input  matInput disabled [value]="'DAOD_PHYS.DAOD_PHYSLITE'">
              </mat-form-field>
            </div>
            <div>
              @if (patternSteps[i] !== null) {
                @for (step of patternSteps[i]; track step) {
                  ami: {{step.ami_tag}}
                  outputs: {{step.outputs}}
                  <p> project mode: {{step.project_mode}}</p>
                }
              } @else {
                <div> Not checked</div>
              }
            </div>
          </div>
        }
        <button mat-raised-button color="primary" (click)="addPattern()" >Add Pattern</button>
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      </div>
    </form>
    @if (saveMessage) {
      <div>{{saveMessage}}</div>
    }
  </div>
}
