{% extends "prodtask/_index.html" %}

{% load static  %}


{% block extra_css %}
{{ block.super }}


{% endblock %}
{% block subtitle %}
{% if title %}{{ title }}{% endif %}
{% endblock %}
{% block body %}



<style type="text/css">

    @import "{% static "css/dataTables.tableTools.css" %}";
    @import "{% static "css/dataTables.foundation.min.css" %}";
    @import "{% static "css/jquery.dataTables.min.css" %}";

    .dataTables_wrapper .dataTables_paginate .paginate_button {padding: 0em 0em;}

    td.details-control {
    background: url('http://legacy.datatables.net/release-datatables/examples/examples_support/details_open.png') no-repeat center center;
    cursor: pointer;
    }
    tr.shown td.details-control {
    background: url('http://legacy.datatables.net/release-datatables/examples/examples_support/details_close.png') no-repeat center center;
    }

    .alert-box {
        color:#555;
        border-radius:10px;
        font-family:Tahoma,Geneva,Arial,sans-serif;font-size:14px;
        padding:10px 10px 10px 36px;
        margin:10px;
    }

    .alert-box span {
        font-weight:bold;
        text-transform:uppercase;
    }

    .warning {
        background:#fff8c4 no-repeat 10px 50%;
        border:1px solid #f2c779;
    }

</style>

    <script type="text/javascript" src="{% static "js/jquery-1.11.3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.dataTables-1.10.10.js" %}"></script>
    <script type="text/javascript" src="{% static "js/cookie-1.4.0.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dataTables.foundation-1.10.10.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dataTables.tableTools-2.2.3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fnProcessingIndicator-1.10.10.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.json-2.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/foundation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/prodtask.js" %}"></script>



    <div class="alert-box warning"><span>warning: </span>Please edit the values only if you know what you are doing.</div>


        <table id="example" class="display responsive nowrap" cellspacing="0" width="100%">

           <thead>
           <tr>

           <th>Name</th>
           <th>Fairshare</th>
           </tr>
           </thead>

        </table>

<!--
         <div class="small-3 large-3 columns">
            <a class="button postfix" id="btn_handle_jobs">Action</a>
         </div>
-->


    <script type="text/javascript">
        $(document).foundation();
    </script>

    <div class="left">

        {% include "gdpconfig/manage_panel_fairshare.html" %}

    </div>

{% csrf_token %}


    <script type="text/javascript" class="init">

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                }
            }
        });


        function get_data(){

            var parameters = {}

            var ajaxUrl =  "/gdpconfig/get_fairshare/";
            $('#example').dataTable().fnProcessingIndicator();

            $.ajax({
                url: ajaxUrl,
                type: "POST",
                data: $.toJSON(parameters),
                dataType: "json",

                complete: function (jqXHR, textStatus) {

                    var data =  $.parseJSON(jqXHR.responseText);



                    var oTable = $('#example').dataTable();
                    oTable.fnClearTable();
                    if (data.length !== 0) {
                        oTable.fnAddData(data);
                    }
                    oTable.fnDraw();


                    $('#example').dataTable().fnProcessingIndicator(false);


                } // 'complete' event handler

            });

        };


        $(document).ready(function() {



{#            $('#example tfoot th').each( function () {#}
{#                    var title = $(this).text();#}
{#                    if( title !== '')#}
{#                        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );#}
{#                } );#}


	        var table = $('#example').DataTable({
	                    "bProcessing" : true,
                        "bFilter" : false,
                        "bSort" : false,
                        dataType : "json",
                        columns : [

                                {"data" : "name"},
                                {"data" : "fairshare"}


                        ],
                        dom: 'T<"clear">lftirp',
                        tableTools: {
                            "sRowSelect": "single",
                            "aButtons": []
                        },
                        "aoColumnDefs": [

                                        ],
                        "rowCallback": function ( row, data, index ) {

                                                                    },

                        "paging": false

                        //fnInitComplete : function() {
                        //    $("thead tr").clone().appendTo($("tfoot")) ;
                        //}
                    });





{#        table.columns().every( function () {#}
{##}
{#                        var column = this;#}
{##}
{#                        $( 'input', this.footer() ).on( 'keyup change', function () {#}
{#                                //console.log(column.data());#}
{#                                column.search( this.value ).draw();#}
{##}
{#                        } );#}
{#        } );#}







        $('#example tbody').on( 'click', 'tr', function () {
            {% if user.is_authenticated %}
                //$(this).toggleClass('selected');
                $(this).toggleClass('active');

                var table = $('#example').DataTable();
                var rowData = table.row('.selected').data();
                var row_value = rowData["fairshare"];
                //console.log(row_value);
                document.getElementById("value").value = row_value;

                $('#myModal').foundation('reveal', 'open');

            {% endif %}

            } );

        get_data();



        } );








    </script>




{% endblock %}