
        <div id="manage_buttons_group" class="button-bar">

            <ul class="button-group radius">


        {% if not user.is_authenticated %}
                <li><a class="small radio button success" id="_btn_login"
                       href="{% url 'prodtask:login' %}?next={{ request.get_full_path|urlencode }}"
                    >Login</a></li>
        {% endif %}

            </ul>
        </div>


        <div id="myModal" class="reveal-modal large-12" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-options="closeOnBackgroundClick: false;">
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            <div class="small-12 large-12 columns panel" id="value_panel">
                <div class="row">
                        <p> <label for="value" class="inline"> Fairshare rule: </label> </p>
                </div>
                <div class="large-12 row">

                    <div class="small-11 large-11 columns">
                        <input type="text" id="value" placeholder="Value">
                    </div>
                    <div class="small-1 large-1 columns">
                        <a class="button postfix" id="btn_do_set_value">Set</a>
                    </div>
                </div>
            </div>


        </div>

<div class="bottom" id="request_status_container"></div>





<script type="text/javascript">


$(document).on('close.fndtn.reveal', '[data-reveal]', function () {
{#  var modal = $(this);#}
  var oTT = TableTools.fnGetInstance('example');
  oTT.fnSelectNone();
});

$(document).ready(function () {


});

    // Setting buttons handlers
    var button_action_map = {

        "set_value": "set_value"

    };


    $.each(button_action_map, function(name, action) {
        $("#btn_do_" +name).click(function(){

            doSelected(button_action_map[name]);

        }); // on click
    }); // $.each




    function makeAlertBox(content, box_id, text_id) {
        return $( "<div/>", { id: box_id, "class": "alert-box info radius", "data-alert": ""} )
        .append( $( "<span/>", { id: text_id, html: content} ) )
        .append( $( "<a/>", {href: "#", "class": "close", text: '×'} ) );
    }


    function getSelectedRow(){
        var table = $('#example').DataTable();
        var rowData = table.row('.selected').data();

        return rowData;

    }

    // Perform action on the selected tasks
    function doSelected(action) {

        var sRow = getSelectedRow();

        var newval = [];

        if (action == "set_value") {
            newval = $("#value").val();
        }


        doAction(action, sRow, newval);



        //Reload table
{#        function fnReloadData() {#}
{#            get_data();#}
{#            $('#myModal').foundation('reveal', 'close');#}
{#        }#}
        setTimeout(get_data, 1000);
        $('#myModal').foundation('reveal', 'close');

    } // doSelected

    // Perform specified action
    function doAction(action, sRow, parameters) {


        var postData = { 'srow': sRow };

        if (parameters ) {
            postData['parameters'] = parameters;
        }

        var ajaxUrl =  Django.url('gdpconfig:fairshare_action', action);

        $("#req_status_box").remove();
        $("#request_status_container").append(
            makeAlertBox("Request status: sending", "req_status_box", "req_status_text")
        );

        var request_error = false;
        var request_done = false;

        $.ajax({
            url: ajaxUrl,
            type: "POST",
            data: $.toJSON(postData),
            dataType: "json",
            complete: function (jqXHR, textStatus) {
                var response = JSON.parse(jqXHR.responseText);
                request_done = true;
                if (textStatus == 'success') {


                        if (!response.exception || response.exception === "") {
                            $("#req_status_text").html("Request status: Done");
                        } else {
                            $("#req_status_text").html("Request status: Denied, reason: " + response.exception);
                        }


                } else {
                    request_error = true;
                    $("#req_status_text").html("Request status: '" + textStatus + "', details: '" + jqXHR.statusText + "'");
                }
            } // 'complete' event handler

        });

        if ( !(request_error && request_done) ) {
            $("#req_status_text").html("Request status: accepted and is being processed");
        }
    }

    $.each(button_action_map, function(name, action) {
        $("#btn_" +name).click(function(){

        var table = $('#example').DataTable();
        var rowData = table.row('.selected').data();

        var row_value = rowData["fairshare"];
        //console.log(rowData);
        document.getElementById("value").value = row_value;


        }); // on click
    }); // $.each



</script>

