<div *ngIf="currentRequest===undefined">
<h3>Request deletion for superseded derivation containers: </h3>

<form >
  <mat-form-field appearance="fill">
  <mat-label>Deadline </mat-label>
  <input matInput [matDatepicker]="picker" (dateChange)="changeDeadline($event)" [formControl]="deadlineDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="fill">

<mat-label>Start Deletion Data </mat-label>
  <input matInput [min]="minDate" [matDatepicker]="picker2" [formControl]="startDeletionDate">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

<button mat-flat-button color="primary" [disabled]="submissionDisabled" (click)="submitDeletionRequest()">Submit</button>
</form>
</div>

<div *ngIf="currentRequest!==undefined"><h3>Request submitted by {{currentRequest.username}} is processing</h3></div>

<p>Last deletions:</p>

<table mat-table [dataSource]="DeletionRequestsDataSource" >

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef > Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef > Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>
  <ng-container matColumnDef="deadline">
    <th mat-header-cell *matHeaderCellDef > Deadline </th>
    <td mat-cell *matCellDef="let element"> {{element.deadline| date}} </td>
  </ng-container>
  <ng-container matColumnDef="start_deletion">
    <th mat-header-cell *matHeaderCellDef > Deletion start </th>
    <td mat-cell *matCellDef="let element"> {{element.start_deletion| date}} </td>
  </ng-container>
  <ng-container matColumnDef="containers">
    <th mat-header-cell *matHeaderCellDef > Containers </th>
    <td mat-cell *matCellDef="let element"> {{element.containers}} </td>
  </ng-container>
  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef > Size </th>
    <td mat-cell *matCellDef="let element"> {{element.size| datasetSize}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['username', 'status', 'deadline', 'start_deletion', 'containers', 'size']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['username', 'status', 'deadline', 'start_deletion', 'containers', 'size'];"></tr>
</table>


<button (click)="showContainers()" [disabled]="allContainersLoading">Show deleted containers</button>
<div *ngIf="allContainersLoading"><mat-spinner></mat-spinner></div>
<div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" >
</mat-form-field>
  </div>
<div>
<table mat-table [dataSource]="DeletionContainersDataSource"  matSort >

  <ng-container matColumnDef="container" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Container </th>
    <td mat-cell *matCellDef="let element"> {{element.container}} </td>
  </ng-container>
  <ng-container matColumnDef="datasets">
    <th mat-header-cell *matHeaderCellDef > Datasets </th>
    <td mat-cell *matCellDef="let element"> {{element.deleted_datasets}} </td>
  </ng-container>
  <ng-container matColumnDef="time" >
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let element"> {{element.timestamp| date}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['container', 'datasets', 'time']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['container', 'datasets', 'time'];"></tr>
</table>
      <mat-paginator [pageSizeOptions]="[20, 100, 200]"
                 showFirstLastButtons
                 aria-label="Select page ">
  </mat-paginator>
</div>
