{% extends "prodtask/_index.html" %}

{% load static  %}


{% block bl_title %}Core App of Monitoring{% endblock %}

{% block subtitle %}
{% if title %}{{ title }}{% else %}Datatable{% endif %}
{% endblock %}

{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	    @import "{% static "css/jquery-ui-1.10.3.custom.min.css" %}";
        @import "{% static "css/jquery.dataTables_themeroller.css" %}";
        @import "{% static "css/prodtask.css" %}";
	</style>
    
    <style type="text/css">
        {% include 'prodtask/_prodtask_css.html' %}
    </style>

    <style type="text/css">
        	div.ActiveStatusYes 	{ color : green;	}
 	        div.ActiveStatusNo	{ color : red;	}
    </style>
{% endblock %}

{% block base_js %}
{{ block.super }}


    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/jquery-migrate-1.0.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.address-1.5.js" %}"></script>
{% endblock %}


{% block body %}
    <div class="row">
    <div class="large-2 column">
        <a class="button" href=" {% url "prodtask:retry_errors_create" %}">Create</a>
    </div>
    <div class="large-10 column"></div>
    </div>
{% for error_retry in retry_errors %}
<div>
    <div class="row">
        <div class="large-3 column">{{ error_retry.id }}

            <u><a  href="https://es-atlas1.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(timeEvent,logName,fields.type,logLevel,message),filters:!(),index:'620eaaf0-bfac-11ea-b7f2-27bdf2c0b5dc',interval:auto,query:(language:lucene,query:'logName:%22panda.log.RetrialModule%22%20AND%20fields.type:%22retrialmodule%22%20AND%20%20error_id:%22{{ error_retry.id }}%22'),sort:!('@timestamp',desc))">Kibana</a></u>
        |<u><a  href=" {% url "prodtask:retry_errors_edit" error_retry.id %}">Edit</a></u>
        |<u><a  href=" {% url "prodtask:retry_errors_clone" error_retry.id %}">Clone</a></u>
        |<u><a  href=" {% url "prodtask:retry_errors_delete" error_retry.id %}" onclick="return confirm('Are you sure?')" >Delete</a></u>
        </div>
        <div class="large-2 column ActiveStatus{{ error_retry.is_active }}"><b>Active:</b> {{ error_retry.is_active }}</div>
        <div class="large-2 column"><b>Error code:</b> {{ error_retry.error_code }}</div>
        <div class="large-3 column"><b>Retry Action:</b> {{ error_retry.retry_action }}</div>

    </div>
    <div class="row">
        <div class="large-12 column"><b>Error source: </b>{{ error_retry.error_source }}</div>
    </div>
    <div class="row">
        <div class="large-7 column"><b>Parameters: </b>{{ error_retry.parameters }}</div>
                <div class="large-3 column"><b>Work queue:</b> {{ error_retry.work_queue }} </div>
        <div class="large-2 column"><b>Expire:</b> {{ error_retry.expiration_date }} </div>
    </div>
    <div class="row">
        <div class="large-12 column"><b>Description: </b>{{ error_retry.description }}</div>
    </div>
    <div class="row">
        <div class="large-12 column"><b>Error diag: </b>{{ error_retry.error_diag }}</div>
    </div>
    <div class="row">
        <div class="large-6 column"><b>Architecture: </b>{{ error_retry.architecture }}</div>
        <div class="large-6 column"><b>Release: </b>{{ error_retry.release }}</div>
    </div>
<br>
</div>
{% endfor %}
{% endblock %}
