{% extends "prodtask/_index.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load js %}

{% block bl_title %}Core App of Monitoring{% endblock %}

{% block subtitle %}
{% if title %}{{ title }}{% else %}Datatable{% endif %}
{% endblock %}

{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	    @import "{% static "css/jquery-ui-1.10.3.custom.min.css" %}";
        @import "{% static "css/jquery.dataTables_themeroller.css" %}";
        @import "{% static "css/prodtask.css" %}";
	</style>
    
    <style type="text/css">
        {% include 'prodtask/_prodtask_css.html' %}
    </style>

{% endblock %}

{% block base_js %}
{{ block.super }}


{% django_js %}
    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/jquery-migrate-1.0.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.address-1.5.js" %}"></script>
{% endblock %}


{% block body %}
    <div class="row">
    <div class="large-2 column">
        <a class="button" href=" {% url "prodtask:retry_errors_create" %}">Create</a>
    </div>
    <div class="large-10 column"></div>
    </div>
{% for error_retry in retry_errors %}
<div>
    <div class="row">
        <div class="large-2 column">{{ error_retry.id }}
                <u><a  href=" {% url "prodtask:retry_errors_edit" error_retry.id %}">Edit</a></u>
        |<u><a  href=" {% url "prodtask:retry_errors_clone" error_retry.id %}">Clone</a></u>
        </div>
        <div class="large-2 column">Error code: {{ error_retry.error_code }}</div>
        <div class="large-4 column">Retry Action: {{ error_retry.retry_action.id }}-{{ error_retry.retry_action.action_name }}</div>
        <div class="large-2 column">Work queue: {{ error_retry.work_queue }} </div>
        <div class="large-2 column">Expire: {{ error_retry.expiration_date }} </div>
    </div>
    <div class="row">
        <div class="large-12 column">Error source: {{ error_retry.error_source }}</div>
    </div>
    <div class="row">
        <div class="large-12 column">Parameters: {{ error_retry.parameters }}</div>
    </div>
    <div class="row">
        <div class="large-12 column">Description: {{ error_retry.description }}</div>
    </div>
    <div class="row">
        <div class="large-12 column">Error diag: {{ error_retry.error_diag }}</div>
    </div>
<br>
</div>
{% endfor %}
{% endblock %}