{% extends parent_template %}
{% load url from future %}
{% load static from staticfiles %}

{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	</style>
{% endblock %}

{% block subtitle %}
{{pre_form_text|safe}}
{% endblock %}

{% block body %}
{% if submit_url %}
{% if form.is_multipart %}
    <form action="{% if url_args %}{% url submit_url url_args %}{% else %}{% url submit_url %}{% endif %}" enctype="multipart/form-data" method="post">{% csrf_token %}
{% else %}
    <form action="{% if url_args %}{% url submit_url url_args %}{% else %}{% url submit_url %}{% endif %}" method="post">{% csrf_token %}
{% endif %}
<table>
{{ form.as_table }}
</table>
<input id="form_submit" type="submit" value="{% if submit_text %}{{submit_text}}{% else %}Submit{% endif %}" />
</form>
{% else %}
<table>
{{ form.as_table }}
</table>
{% endif %}
{% endblock %}


{% block bl_entry_point %}
    {{ block.super }}
    $( "#form_submit" ).button();
{% endblock %}