{% extends parent_template %}
{% load url from future %}
{% load static from staticfiles %}

{% block bl_title %}Core App of Monitoring{% endblock %}



{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	    @import "{% static "css/jquery-ui-1.10.3.custom.min.css" %}";
        @import "{% static "css/jquery.dataTables_themeroller.css" %}";
        @import "{% static "css/prodtask.css" %}";
	</style>
{% endblock %}

{% block base_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
{% endblock %}



{% block body %}
<script>
$(document).ready(function(){

});


</script>
<h4>Alarm:</h4>
    <table>
    <thead>
    <tr>
    <th>Request</th>
    <th>Task ID</th>
    <th>Status</th>
    <th>Group</th>
    <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>
    {%  for task in error_list %}
        <tr>
            <td><a href="{%  url 'prodtask:input_list_approve' task.request %}">{{ task.request }}</a></td>
            <td><a href="{%  url 'prodtask:task' task.task_id %}">{{ task.task_id }}</a></td>
            <td><span class="tstat {{ task.status }}">{{ task.status }}</span></td>
            <td>{{ task.group }}</td>
            <td> {{ task.time|date:"DATETIME_FORMAT" }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
<h4>Warning:</h4>
    <table>
    <thead>
    <tr>
    <th>Request ID</th>
    <th>Task ID</th>
    <th>Status</th>
    <th>Group</th>
    <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>
    {%  for task in warning_list %}
        <tr>
            <td><a href="{%  url 'prodtask:input_list_approve' task.request %}">{{ task.request }}</a></td>
            <td><a href="{%  url 'prodtask:task' task.task_id %}">{{ task.task_id }}</a></td>
            <td><span class="tstat {{ task.status }}">{{ task.status }}</span></td>
            <td>{{ task.group }}</td>
            <td> {{ task.time|date:"DATETIME_FORMAT" }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
<h4>Info:</h4>
    <table>
    <thead>
    <tr>
    <th>Request ID</th>
    <th>Task ID</th>
    <th>Status</th>
    <th>Group</th>
    <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>
    {%  for task in info_list %}
        <tr>
            <td><a href="{%  url 'prodtask:input_list_approve' task.request %}">{{ task.request }}</a></td>
            <td><a href="{%  url 'prodtask:task' task.task_id %}">{{ task.task_id }}</a></td>
            <td><span class="tstat {{ task.status }}">{{ task.status }}</span></td>
            <td>{{ task.group }}</td>
            <td> {{ task.time|date:"DATETIME_FORMAT" }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}