{% extends "prodtask/_index.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load js %}

{% block bl_title %}Core App of Monitoring{% endblock %}

{% block subtitle %}
{% if title %}{{ title }}{% else %}Datatable{% endif %}
{% endblock %}

{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	    @import "{% static "css/jquery-ui-1.10.3.custom.min.css" %}";
        @import "{% static "css/jquery.dataTables_themeroller.css" %}";
        @import "{% static "css/prodtask.css" %}";
	</style>
    
    <style type="text/css">
        {% include 'prodtask/_prodtask_css.html' %}
    </style>

{% endblock %}

{% block base_js %}
{{ block.super }}


{% django_js %}
    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/jquery-migrate-1.0.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.json-2.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.address-1.5.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/spin.min.js' %}"></script>
{% endblock %}


{% block body %}
<style>
.Pattern {
    border:1px dotted black;
}
.PatternHeader {
    border:1px solid black;
}
</style>
    <script>
    (function(factory) {

  if (typeof exports == 'object') {
    // CommonJS
    factory(require('jquery'), require('spin.js'))
  } else if (typeof define == 'function' && define.amd) {
    // AMD, register as anonymous module
    define(['jquery', 'spin'], factory)
  } else {
    // Browser globals
    if (!window.Spinner) throw new Error('Spin.js not present')
    factory(window.jQuery, window.Spinner)
  }

}(function($, Spinner) {

  $.fn.spin = function(opts, color) {

    return this.each(function() {
      var $this = $(this)
        , data = $this.data()

      if (data.spinner) {
        data.spinner.stop()
        delete data.spinner
      }
      if (opts !== false) {
        opts = $.extend(
          { color: color || $this.css('color') }
        , $.fn.spin.presets[opts] || opts
        )
        data.spinner = new Spinner(opts).spin(this)
      }
    })
  }

  $.fn.spin.presets = {
    tiny:  { lines:  8, length: 2, width: 2, radius: 3 }
  , small: { lines:  8, length: 4, width: 3, radius: 5 }
  , large: { lines: 10, length: 8, width: 4, radius: 8 }
  }

}));

$(document).ready(function(){
        (function(){changePatternType('MCPatterns')})();

        });

        function changePatternType(patternType){
            $(".Pattern").hide();
            $("."+patternType).show();
        }

        function removePattern(event, trainID){
        {#            send remove command and remove pattern from the list if succesful#}
            event.preventDefault();
            var sendData = {trainID:trainID};

            $.ajax({
                        url: "{% url 'prodtask:remove_pattern_in_list'  %}",
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: $.toJSON(sendData),
                        dataType: 'text',
                        success: function(data,status) {
                            var return_status =  $.evalJSON(data).success;

                            if(return_status){
                                $('#train'+trainID).removeClass($('#patternType').val());
                                $('#train'+trainID).hide();

                            } else{

                                alert($.evalJSON(data).message);
                            }
                        }
                  });
        }

        function addPattern(event, requestID){
            event.preventDefault();
            $('#addSpin').spin('small');
            $('#addPatternButton').addClass('disabled');
            var sendData = {request_id:requestID,pattern_type:$('#patternType').val()};
            $.ajax({
                        url: "{% url 'prodtask:add_pattern_to_list'  %}",
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: $.toJSON(sendData),
                        dataType: 'text',
                        success: function(data,status) {
                            $('#addSpin').spin(false);
                            $('#addPatternButton').removeClass('disabled');
                            var return_status =  $.evalJSON(data).success;
                            if(return_status){
                                alert('Added');
                                var requestName =  $.evalJSON(data).requestName;
                                var trainID =  $.evalJSON(data).trainID;
                                $("#patternTableBody").append(' <div id=train' +trainID+
                                                                        ' class="row ' + $('#patternType').val()  + ' Pattern"> \
        <div class="large-2 column"> \
            '+requestID+' \
        </div> \
        <div class="large-8 column"> \
             '+requestName+' \
        </div> \
        <div class="large-2 column"> \
            <a style="cursor: pointer;" id="removeButton'+requestName+'" onclick="removePattern(event,'+trainID+')">remove</a> \
        </div> \
    </div>');
                            } else{

                                alert($.evalJSON(data).message);
                            }
                        }
                  });
        }
</script>
    <div class="row">
    <div class="large-2 column">
        <label>Pattern request for:<select id='patternType' onchange="changePatternType($(this).val())">
            <option value="MCPatterns" selected >MC</option>
            <option value="DataPatterns">Real data</option>
            <option value="MCDefaultPatterns">MC15b patterns for auto creation </option>
        </select></label>
        <div class="large-10 column"></div>
    </div>
        </div>
    <div class="row">

         <div class="large-3 column">
        <label> New pattern request
            <input id='patternRequest' type="number"/>
        </label>
              </div>
        <div class="large-1 column">
        <a class='button postfix' id="addPatternButton" onclick="addPattern(event,$('#patternRequest').val())">Add</a>
            </div>
        <div id="addSpin" class="large-1 column"></div>
        <div class="large-8 column"></div>


    </div>


    <div class="large-10 column"></div>
    </div>

    <div id="headPattern" class="row PatternHeader">
        <div class="large-2 column">
            <span>ID</span>
        </div>
        <div class="large-8 column">
            <span>Description</span>
        </div>
        <div class="large-2 column">
            <span>Action</span>
        </div>
    </div>
    <div id = 'patternTableBody'>
    {% for patternType,patternName,patternList in patterns %}
{% for pattern in patternList %}
    <div id='train{{ pattern.train_id }}' class="row {{ patternType }} Pattern">
        <div class="large-2 column">
            <a href="{% url 'prodtask:input_list_approve' pattern.request_id%}">{{ pattern.request_id }}</a>
        </div>
        <div class="large-8 column">
            {{ pattern.request_name  }}
        </div>
        <div class="large-2 column">
            <a id="removeButton{{ pattern.request_name  }}" style="cursor: pointer;" onclick="removePattern(event,'{{ pattern.train_id }}')">remove</a>
        </div>
    </div>
{% endfor %}
    {% endfor %}

    </div>
{% endblock %}