{% extends parent_template %}
{% load url from future %}
{% load static from staticfiles %}
{% load js %}

{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	</style>
{% endblock %}

{% block base_js %}
{{ block.super }}

{%  django_js %}
<script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.json-2.4.min.js" %}"></script>
<script type="text/javascript" src="{% static 'js/foundation.js' %}"></script>
{% endblock %}


{% block body %}
<script>
    {#TODO: make a django form behaviour#}
    function changeInputOnSelect(input_id,input_name,new_input_id,option_list){
                var new_selector=$('<select id='+input_id+' name='+input_name+'></select>');
                for (var i=0; i<option_list.length; i++){
                    if ($('#'+input_id).val()==option_list[i]){
                       new_selector.append($('<option>', {
                                        value: option_list[i],
                                        text: option_list[i],
                                        selected: 'selected'
                                    }));
                    } else {
                        new_selector.append($('<option>', {
                                        value: option_list[i],
                                        text: option_list[i]
                                    }));
                    }

                }

                $('#'+input_id).hide().attr('id',new_input_id);
                $("#"+new_input_id).parent().append(new_selector);
                return $('#'+input_id).val();
    }
    function changeSelectOnInput(selector_id,input_id){

        $('#'+input_id).val($('#'+selector_id).val());
        $('#'+selector_id).attr('id',selector_id+'to_delete');
        $('#'+input_id).attr('id',selector_id).show();
        $('#'+selector_id+'to_delete').remove();

    }

    function changeSelector(selectID, baseList, sourceSelectID){
        var baseValue = $(selectID).val();
        $(sourceSelectID).html('');
        for (var i=0; i<baseList[baseValue].length;i++){
            var new_option = baseValue + baseList[baseValue][i];
            $(sourceSelectID).append($('<option>', {
                value: new_option,
                text: new_option
            }));

        }
    }
        function addHelpText(){
        for(var help in helpText){
            if (field_id[help]!=""){
                current_filed_id = field_id[help];
                if (!($('#'+current_filed_id+'_help').length )){
                    $('#'+current_filed_id).parent().parent().append('<td style="width: 300px"><span class="HelpColumn" id="'+current_filed_id+'_help" >'+ helpText[help] +'</span></td>');
                }
                else{
                    $('#'+current_filed_id+'_help').show();
                }
            }

        }
    }
    function hideHelpText(){
        $('.HelpColumn').hide();
    }

    function  MCCampaignHandling(){
        var MC_CAMPAIGN_LIST = ['MC11','MC12','MC14','MC15','MC16'];
        var SUB_CAMPAIGN = {'MC11':['a','b','c','d','e','f'],'MC12':['a','b','c','d','e','f'],
            'MC14':['a','b','c','d','e','f'],'MC15':['a','b','c'],'MC16':['a']};
        if ($("#{{ form.request_type.auto_id }}").val()=='MC'){
            $("#{{ form.train.auto_id }}").parent().parent().show();
            addHelpText();
            var campaign_name = changeInputOnSelect("{{ form.campaign.auto_id }}","campaign",'none_mc_campaign',MC_CAMPAIGN_LIST);
            var sub_campaign_list = [];
            for (var i=0; i<SUB_CAMPAIGN[campaign_name].length;i++){
                sub_campaign_list.push(campaign_name + SUB_CAMPAIGN[campaign_name][i]);
            }
            var sub_campaign_name = changeInputOnSelect("{{ form.subcampaign.auto_id }}","subcampaign",'none_mc_subcampaign',sub_campaign_list);
            $("#{{ form.campaign.auto_id }}").change(function(){changeSelector("#{{ form.campaign.auto_id }}",SUB_CAMPAIGN,"#{{ form.subcampaign.auto_id }}")});
        } else{
            $("#{{ form.train.auto_id }}").parent().parent().hide();
            hideHelpText();
            if ($('#none_mc_campaign').val()!=undefined){
                changeSelectOnInput("{{ form.campaign.auto_id }}",'none_mc_campaign');
                changeSelectOnInput("{{ form.subcampaign.auto_id }}",'none_mc_subcampaign');
            }
        }
    }

var field_id =   {description_id:"{{ form.description.auto_id }}",long_description_id:"{{ form.long_description.auto_id }}",
    excellink:"{{ form.excellink.auto_id }}",ref_link:"{{ form.ref_link.auto_id }}",phys_group:"{{ form.phys_group.auto_id }}",
energy_gev:"{{ form.energy_gev.auto_id }}",project:"{{ form.project.auto_id }}",cc:"{{ form.cc.auto_id }}",
    request_type:"{{ form.request_type.auto_id }}", campaign:"{{ form.campaign.auto_id }}", subcampaign:"{{ form.subcampaign.auto_id }}",
manager:"{{ form.manager.auto_id }}",provenance:"{{ form.provenance.auto_id }}",need_approve:"{{ form.need_approve.auto_id }}",
train:"{{ form.train.auto_id }}"};

var helpText = {description_id:"Short description of request (will become request title)",
long_description_id:"This will be the body of the mail that will\n" +
" be sent to PMG/PC for approval (and read by production managers).\n" +
" It should contain a summary and technical details of the request.\n" +
" As a minimum it should contain the <b>justification,\n" +
" requested events (per samples and in total) and priorities.</b> Additional technical information should also be provided \n" +
" if the samples require 25 ns and/or 50 ns reconstruction, \n" +
"if a specific release is required for evgen, if RDOs or ESDs should be kept for reconstruction, \n"+
"pileup profile (only 2015 mu profile, no pileup etc), other special options (please write 'Please check the JIRA ticket for ...' ) ",
   excellink:'Enter the "shareable" link to the google doc spreadsheet',
    ref_link:'Link to JIRA ticket for request',
    phys_group:'Physics Analysis/Combined Performance group',
    energy_gev:'Collision centre-of-mass energy in GeV',
    project: 'Dataset project name, e.g mc15_13TeV',
    cc:'Include email address(es) of relevant people, e.g. Group convenors',
    request_type:' ',
    campaign:' ',
    subcampaign:' ',
    manager:' ',
    provenance:' ',
    need_approve:' ',
    train:'Pattern request for automatic derivation creation'

};
    function splitSlices(event,doSplit){
            if(doSplit){
                $("#{{ form.split_divider.auto_id }}").val($('#splitNumber').val());
                $("#form_submit").click();
            } else {
                $("#{{ form.split_divider.auto_id }}").val(-1);
                $('#closeSplitModal').click();
            }


    }


$(document).ready(function(){
        (function(){MCCampaignHandling()})();
        $(document).foundation();

        $("#{{ form.request_type.auto_id }}").change(function(){
            MCCampaignHandling();
        });





});

</script>
    {{ pre_form_text }}
<h1> Check </h1>
 <span>{{ inputLists|length }} slices have been read from the file.</span>
  <p/>
{% if submit_url %}
<form action="{% if url_args %}{% url submit_url url_args %}{% else %}{% url submit_url %}{% endif %}" method="post">{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" id="form_submit" />
</form>
<h2> Input List </h2>
<table>
    <tr>
       <th>#</th>
       <th>Dataset:</th>
       <th>Job Option:</th>
       <th>Brief:</th>
       <th>Tags:</th>
       <th>Events</th>
    </tr>
    {% for inputList in inputLists %} 
	<tr>
        <td>{{ inputList.slice }}</td>
		<td>{{ inputList.dataset }}</td>
        <td>{{ inputList.input_data }}</td>
        <td>{{ inputList.brief }}</td>
        <td>{{ inputList.tags }}</td>
        <td>{{ inputList.input_events }}</td>
	</tr>
	{% endfor %}
</table>
<div id="splitModalWindow" class="reveal-modal" data-reveal>
    <h3>{{ bigSliceNumber }} slices have more than 2 000 000 events</h3>
    <div class="row">
            <div class="large-4 column">
                <label>Max events per slice:
                <input  id="splitNumber" type="number" value="2000000"  ></label>
            </div>
            <div class="large-8 column">
            </div>
    </div>
    <div class="row">
            <div class="large-4 column">
                <span>Do you want to split them?</span>
            </div>
            <div class="large-8 column">
            </div>

    </div>
    <div class="row">
            <div class="large-1 column">
                <a class="button" onclick="splitSlices(event,true);">Split</a>
            </div>
            <div class="large-4 column">
                <a class="button" onclick="splitSlices(event,false);">Continue without splitting</a>
            </div>
            <div class="large-7 column">

            </div>
    </div>
  <a  id='closeSplitModal' class="close-reveal-modal">&#215;</a>
</div>
{% else %}
<table>
{{ form.as_table }}
</table>




{% endif %}


{% endblock %}

{% block bl_entry_point %}
    {{ block.super }}
    $( "#form_submit" ).button();
{% endblock %}