{% extends parent_template %}
{% load url from future %}
{% load static from staticfiles %}
{% load js %}

{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	</style>
{% endblock %}

{% block base_js %}
{{ block.super }}

{%  django_js %}
<script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.json-2.4.min.js" %}"></script>
{% endblock %}


{% block body %}
<script>
    {#TODO: make a django form behaviour#}
    function changeInputOnSelect(input_id,input_name,new_input_id,option_list){
                var new_selector=$('<select id='+input_id+' name='+input_name+'></select>');
                for (var i=0; i<option_list.length; i++){
                    if ($('#'+input_id).val()==option_list[i]){
                       new_selector.append($('<option>', {
                                        value: option_list[i],
                                        text: option_list[i],
                                        selected: 'selected'
                                    }));
                    } else {
                        new_selector.append($('<option>', {
                                        value: option_list[i],
                                        text: option_list[i]
                                    }));
                    }

                }

                $('#'+input_id).hide().attr('id',new_input_id);
                $("#"+new_input_id).parent().append(new_selector);
                return $('#'+input_id).val();
    }
    function changeSelectOnInput(selector_id,input_id){

        $('#'+input_id).val($('#'+selector_id).val());
        $('#'+selector_id).attr('id',selector_id+'to_delete');
        $('#'+input_id).attr('id',selector_id).show();
        $('#'+selector_id+'to_delete').remove();

    }

    function changeSelector(selectID, baseList, sourceSelectID){
        var baseValue = $(selectID).val();
        $(sourceSelectID).html('');
        for (var i=0; i<baseList.length;i++){
            var new_option = baseValue + baseList[i];
            $(sourceSelectID).append($('<option>', {
                value: new_option,
                text: new_option
            }));

        }
    }
    function  MCCampaignHandling(){
        var MC_CAMPAIGN_LIST = ['MC11','MC12','MC14','MC15'];
        var SUB_CAMPAIGN = ['a','b','c','d','e','f'];
        if ($("#{{ form.request_type.auto_id }}").val()=='MC'){
            $("#{{ form.need_approve.auto_id }}").parent().parent().show();
            var campaign_name = changeInputOnSelect("{{ form.campaign.auto_id }}","campaign",'none_mc_campaign',MC_CAMPAIGN_LIST);
            var sub_campaign_list = [];
            for (var i=0; i<SUB_CAMPAIGN.length;i++){
                sub_campaign_list.push(campaign_name + SUB_CAMPAIGN[i]);
            }
            var sub_campaign_name = changeInputOnSelect("{{ form.subcampaign.auto_id }}","subcampaign",'none_mc_subcampaign',sub_campaign_list);
            $("#{{ form.campaign.auto_id }}").change(function(){changeSelector("#{{ form.campaign.auto_id }}",SUB_CAMPAIGN,"#{{ form.subcampaign.auto_id }}")});
        } else{
            $("#{{ form.need_approve.auto_id }}").parent().parent().hide();
            if ($('#none_mc_campaign').val()!=undefined){
                changeSelectOnInput("{{ form.campaign.auto_id }}",'none_mc_campaign');
                changeSelectOnInput("{{ form.subcampaign.auto_id }}",'none_mc_subcampaign');
            }
        }
    }

$(document).ready(function(){
        (function(){MCCampaignHandling()})();


        $("#{{ form.request_type.auto_id }}").change(function(){
            MCCampaignHandling();
        });

});

</script>
    {{ pre_form_text }}
<h1> Check </h1>
 <span>{{ inputLists|length }} slices have been read from the file.</span>
  <p/>
{% if submit_url %}
<form action="{% if url_args %}{% url submit_url url_args %}{% else %}{% url submit_url %}{% endif %}" method="post">{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>
<h2> Input List </h2>
<table>
    <tr>
       <th>#</th>
       <th>Dataset:</th>
       <th>Job Option:</th>
       <th>Brief:</th>
       <th>Tags:</th>
    </tr>
    {% for inputList in inputLists %} 
	<tr>
        <td>{{ inputList.slice }}</td>
		<td>{{ inputList.dataset }}</td>
        <td>{{ inputList.input_data }}</td>
        <td>{{ inputList.brief }}</td>
        <td>{{ inputList.tags }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<table>
{{ form.as_table }}
</table>

{% endif %}


{% endblock %}

{% block bl_entry_point %}
    {{ block.super }}
    $( "#form_submit" ).button();
{% endblock %}