{% extends parent_template %}
{% load url from future %}
{% load static from staticfiles %}

{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	</style>
{% endblock %}




{% block body %}
{{ pre_form_text }}
<h1> Check </h1>
{% if submit_url %}
<form action="{% if url_args %}{% url submit_url url_args %}{% else %}{% url submit_url %}{% endif %}" method="post">{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>
<h2> Input List </h2>
<table>
    {% for inputList in inputLists %} 
	<tr>

		<td>{{ inputList }}</td>

	</tr>
	{% endfor %}
</table>
{% else %}
<table>
{{ form.as_table }}
</table>

{% endif %}


{% endblock %}

{% block bl_entry_point %}
    {{ block.super }}
    $( "#form_submit" ).button();
{% endblock %}