{% extends "prodtask/_index.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load js %}

{% block bl_title %}Core App of Monitoring{% endblock %}

{% block subtitle %}
{% if title %}{{ title }}{% else %}Datatable{% endif %}
{% endblock %}

{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	    @import "{% static "css/jquery-ui-1.10.3.custom.min.css" %}";
        @import "{% static "css/jquery.dataTables_themeroller.css" %}";
        @import "{% static "css/prodtask.css" %}";
	</style>
    
    <style type="text/css">
        {% include 'prodtask/_prodtask_css.html' %}
    </style>

{% endblock %}

{% block base_js %}
{{ block.super }}


{% django_js %}
    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/jquery-migrate-1.0.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.address-1.5.js" %}"></script>
{% endblock %}


{% block body %}
<table>
<tr>
<td>
<table style="text-align: right;">
    <thead><tr><th colspan="0" style="text-align:center">Request select parameters</th></tr></thead>
    <tbody>
    <tr>
    <td>

    <table>
    <tr>
        <td>Request ID:</td>
        <td>
            <input id="reqid" />
        </td>
    </tr>

    <tr>
        <td>Physics group:</td>
        <td>
        <select id="phys_group">
            <option value="">All</option>
            <option value="NOVALI"> not VALI</option>
            <option value="BPHY">BPHY</option>
            <option value="COSM">COSM</option>
            <option value="DAPR">DAPR</option>
            <option value="EGAM">EGAM</option>
            <option value="EXOT">EXOT</option>
            <option value="FTAG">FTAG</option>
            <option value="HIGG">HIGG</option>
            <option value="HION">HION</option>
            <option value="IDET">IDET</option>
            <option value="IDTR">IDTR</option>
            <option value="JETM">JETM</option>
            <option value="LARG">LARG</option>
            <option value="MCGN">MCGN</option>
            <option value="SIMU">SIMU</option>
            <option value="MDET">MDET</option>
            <option value="MUON">MUON</option>
            <option value="PHYS">PHYS</option>
            <option value="REPR">REPR</option>
            <option value="STDM">SIMU</option>
            <option value="SOFT">SOFT</option>
            <option value="STDM">STDM</option>
            <option value="SUSY">SUSY</option>
            <option value="TAUP">TAUP</option>
            <option value="TCAL">TCAL</option>
            <option value="TDAQ">TDAQ</option>
            <option value="TOPQ">TOPQ</option>
            <option value="THLT">THLT</option>
            <option value="TRIG">TRIG</option>
            <option value="VALI">VALI</option>
            <option value="UPGR">UPGR</option>
        </select>
        </td>
    </tr>

    <tr>
        <td>Reference link:</td>
        <td>
            <input id="ref_link" />
        </td>
   </tr>

    <tr>
        <td>Description:</td>
        <td>
            <input id="description" />
        </td>
    </tr>

    <tr>
        <td>Manager:</td>
        <td>
            <input id="manager" />
        </td>
    </tr>

    </table>

    </td>
    <td>

    <table>

    <tr>
        <td>Campaign:</td>
        <td>
            <input id="campaign" />
        </td>
    </tr>

    <tr>
        <td>Type:</td>
        <td>
        <select id="type">
            <option value="">All</option>
            <option value="GROUP">GROUP</option>
            <option value="HLT">HLT</option>
            <option value="MC">MC</option>
            <option value="REPROCESSING">REPROCESSING</option>
            <option value="TIER0">TIER0</option>
            <option value="EVENTINDEX">EVENTINDEX</option>
        </select>
        </td>
    </tr>

    <tr>
        <td>Status:</td>
        <td>
        <select id="status">
            <option value="">All</option>
            <option value="notest">not Test</option>
            <option value="active">Active</option>
            <option value="ended">Ended</option>
            <option value="hold">Hold</option>
            <option value="approved">Approved</option>
            <option value="finished">Finished</option>
            <option value="monitoring">Monitoring</option>
            <option value="working">Working</option>
            <option value="reworking">Reworking</option>
            <option value="remonitoring">Remonitoring</option>
            <option value="cancelled">Cancelled</option>
            <option value="done">Done</option>
            <option value="processed">Processed</option>
            <option value="registered">Registered</option>
            <option value="test">Test</option>
            <option value="waiting">Waiting</option>
        </select>
        </td>
    </tr>

    <tr>
        <td>Provenance:</td>
        <td>
        <select id="provenance">
            <option value="">All</option>
            <option value="AP">ATLAS</option>
            <option value="GP">Group</option>
            <option value="None">User</option>
        </select>
        </td>
    </tr>
    <tr>
        <td>Open ended:</td>
        <td>
        <select id="open_ended">
            <option value="">All</option>
            <option value="Open ended">Open ended</option>
        </select>
        </td>
    </tr>
<!--    <tr>
        <td>Last update time period:</td>
        <td>
        <select id="time_period">
            <option value="custom">Custom</option>
            <option value="day">Last day</option>
            <option value="week">Last week</option>
            <option value="month">Last month</option>
            <option value="year">Last year</option>
            <option value="all">All time</option>
        </select>
        </td>
    </tr>

    <tr>
        <td>
            Last update time from:
        </td>
        <td>
            <input type="text" id="time_from" name="time_from">
        </td>
    </tr>
    <tr>
        <td>
            Last update time to:
        </td>
        <td>
            <input type="text" id="time_to" name="time_to">
        </td>
    </tr>
-->
    </table>

    </td>

    </tr>

    <tr><td colspan="0"><input id="update_request_table" type="button" value="Update table" /><td></tr>

    </tbody>
</table>


</td>



<td>
<div id="request_stat_table">

<table><thead><tr><th colspan="0" style="text-align:center">Request status statistics</th></tr><tr>

</tr></thead>
<tbody><tr>

</tr></tbody>
</table>

</div>

<div id="table_request_summary">

</div>

</td>
</tr>
</table>

<script type="text/javascript">
    {% load lookupattr %}
    {% parametrized parametrized %}

    function SetParametersToURL()
    {
        var time_period_all = 0;
        for(var i in parameters_list)
        {
            var val = $( "#"+parameters_list[i].id ).val();
            $.address.parameter( parameters_list[i].name , val );
                time_period_all = 1;
        }
    }

    function ParseParametersFromURL()
    {
        for(var i in parameters_list)
        {
            var value = $.address.parameter( parameters_list[i].name );
            if( value && value != $( "#"+parameters_list[i].id ).val() )
            {
                extern_parameter = 1;
                $( "#"+parameters_list[i].id ).val( value );
            }
        }
    }



    function requestServerParams ( aoData )
    {
        for(var i in parameters_list)
            if( $( "#"+parameters_list[i].id ).val() != '' )
                aoData.push( { "name": parameters_list[i].name, "value": $( "#"+parameters_list[i].id ).val() } );
    }

    function requestDrawCallback()
    {
        SetParametersToURL();

        var text = '<ul>Filters:';

        for(var i in parameters_list)
        {
            var val = $( "#"+parameters_list[i].id ).val();
            if ( val != '')
                text += '<li>' + parameters_list[i].label + ' : ' + val + '</li>';
        }
       text += '</ul>';
       $("#table_request_summary").html( text ) ;

       $(".tooltiped").tooltip( );
       $(".show_tasks").one( 'click', function(){ expandTaskStat( $(this), $(this).attr('rid') ); } );

       if( $(".show_tasks").length < 20 )
           $(".show_tasks").each( function( index, element) { setTimeout ( function(){  $(element).click() }, index * 1000 ) } );

    }

    function expandTaskStat( obj, reqid )
    {
        $(obj).removeClass('tooltiped');
        $(obj).append( '<br/><span id="req_'+reqid+'_task_stat" ></span>' );
        $('#req_'+reqid+'_task_stat').load( Django.url('prodtask:task_status_stat_by_request', reqid), function(){ $(obj).attr('title', ''); $('#req_'+reqid+'_task_stat .tooltiped').tooltip(); } );
    }

    function prepareData( data, textStatus, jqXHR )
    {
        console.log(data);
        for(var i in data['aaData'])
        {
            var row = data['aaData'][i];

            // Extract JIRA ticket number if possible
            var ref_as_num = row[1].match(/\/(\w+-\d+)\s*$/);
            if (ref_as_num) {
               row[1] = '<a href="' + row[1] + '">' + ref_as_num[1] + '</a>';
            } else {
                row[1] = row[1]==''?'' : '<a href="' + row[1] + '">link</a>';
            }

            row[7] = '<span class="tooltiped show_tasks" rid="'+row[0]+'" title="Click to show tasks statistics"><span class="rstat '+row[7]+'">'+row[7]+'</span></span>';
            row[0] = '<a class="tooltiped" title="Input list with request" href="'+ Django.url('prodtask:input_list_approve', row[0])+'">'+row[0]+'</a>';
        }
        updateInterface(data['additional']['request_stat']);
    }

    function updateInterface(data)
    {
        var table = '<table><thead><tr><th colspan="0" style="text-align:center">Request status statistics</th></tr><tr>';
        for( var i in data )
        {
            table += '<th><span class="rstat '+ data[i].status +'">'+ data[i].status +'</span></th>';
        }
        table += '</tr></thead><tbody><tr>';

       // table += '<td><span class="total">'+ total_task +'</span></td>';
        for( var i in data )
        {
            table += '<td>'+ data[i].count +'</td>';
        }

        table += '</tr></tbody></table>';

        $('#request_stat_table').html(table);
    }

    ParseParametersFromURL();

</script>

{{ table.as_html }}

<script type="text/javascript">
$(document).ready(function() {
    $("#update_request_table").button().click(function(){ requestTable.fnDraw() });
    requestTable.one("draw", function(){ $.address.change(function(){ ParseParametersFromURL(); requestTable.fnDraw(); }) });
});
 </script>

{% endblock %}
