{% extends parent_template %}
{% load i18n %}
{% load url from future %}
{% load static from staticfiles %}

{% block bl_title %}Core App of Monitoring{% endblock %}

{% block bl_subtitle %}
{% if title %}{{ title }}{% else %}Datatable{% endif %}
{% endblock %}

{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	    @import "{% static "css/jquery-ui-1.10.3.custom.min.css" %}";
        @import "{% static "css/jquery.dataTables_themeroller.css" %}";
	</style>
{% endblock %}

{% block base_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
{% endblock %}


{% block body %}
<!-- TODO: Replace next tables by independet from field objects   -->
<script>
$(document).ready(function(){
  $("#select_pattern").change(function(){
    {% for pattern in pattern_list %}
    {% for step in step_list %}
      var name1 = "#{{ step.idname }}" + "{{pattern}}"
      $(name1).css({"display":"none"});
    {% endfor %}
    {% endfor %}
  {% for step in step_list %}
    var name2 = "#{{ step.idname }}" + $("#select_pattern").val()
    $(name2).fadeIn("slow");
   {% endfor %}
  });

$(".stepchoose").css({"font-size": "12px","width": "50px","padding":"0px","border": "1px solid black",
                         "cursor":"pointer","user-select": "none"});
$(".inputListRow").children("td").css({"padding":"1px"})
$(".input_list_tables").css({"border": "1px solid black","margin": "1px"})
$(".outside_input_list_tables").css({"border": "hidden","margin": "1px"})


var step_bc=["#34ff5a","#66aeff", "#ff9a3c"]
 {% for step in step_list %}
    $("#start_step{{ step.name }}").css({"background-color":step_bc[0]});
    step_bc[0] = $("#start_step{{ step.name }}").css("background-color")

 {% endfor %}

    $(".stepchoose").click(function(){
        var current_color = $(this).css("background-color");
        var current_index = (step_bc.indexOf(current_color)+1)%step_bc.length;
        $(this).css({"background-color":step_bc[current_index]});
        step_bc[current_index] =  $(this).css("background-color")

    })  ;


});

    function approve_click(event){
        event.preventDefault();
        window.location.replace("{% url 'prodtask:request_steps_approve' pr_id %}");
    };
</script>
<table>
<tr>
  <th>Request ID:</th>
  <th>Description:</th>
  <th>Reference:</th>
  <th>Physic group:</th>
</tr>
<tr>
  <td>{{ trequest.reqid}}</td>
  <td>{{ trequest.description}}</td>
  <td><a href={{trequest.ref_link}} >{{ trequest.ref_link}}</a></td>
  <td>{{ trequest.phys_group}}</td>
</tr>
</table>

<h6> Total input: {{ totalSlice }}, from them approved: {{ approvedCount }}</h6>
<h6> With pattern: {{ pattern }}</h6>
<form>Filter:<input type="text" id="filter" style="width: 500px"></form>
<form >

<table style="margin-left: 50px;border: hidden">
<tr>
    <th colspan="10">
        <select id="select_pattern" >
            <option value="" disabled selected>Select pattern</option>
            {% for pattern in pattern_list %}
                <option value="{{ pattern }}">{{ pattern }}</option>
            {% endfor %}
        </select>
    </th>
    <th rowspan="2">
        <td><button id="bind" title="Create step execution">Bind</button></td>
        <td><button id="approveButton" title="Approve" onclick="approve_click(event);">Approve</button></td>
    </th>

</tr>
<tr>
{% for step in step_list %}
        <th class="stepchoose" id="start_step{{step.name}}"  > <div > {{step.name}}</div></th>
{% endfor %}
</tr>
    <tr>
    {% for step in step_list %}
        <td  style="padding: 0px;width: 50px" >
        {% for sp in step.pattern %}
            <div id="{{sp.idname}}" style="display:none">
                <form><input type="text"  id="form{{sp.idname}}" value="{{sp.value}}"></form>
            </div>
        {% endfor %}
        </td>
    {% endfor %}
    </tr>
</table>
</form>


    <div >
    {% for inputList, step_exec_dict, approved in inputLists %}
        <div class="input_list_divs" >
        <table class="outside_input_list_tables"><tr>
            <td style="width: 29px;padding:0px;margin:0px"><form ><input  type="checkbox" id="{{ inputList.id }}" checked></form></td>
            <td style="padding:0px;margin:0px">
            <table class="input_list_tables" >
            <tr class="inputListRow">
                <td style="width: 20px" >{{ inputList.slice }}</td>
                {% if  inputList.input_data|length < 10  %}
                    <td colspan="10" style="width: 500px" >
                        <span style="padding:0px" title="{{ inputList.dataset.name }}">
                            {{ inputList.dataset.name|truncatechars:"58" }}
                        </span>
                    </td>
                    <td>{{ inputList.input_data }}</td>
                {% else %}
                    <td colspan="10" style="width: 500px" >
                        <span style="padding:0px" title="{{ inputList.input_data }}">
                            {{ inputList.input_data|truncatechars:"58" }}
                        </span>
                    </td>
                    <td>{{  inputList.dataset.name }}</td>
                {% endif %}
                <td>{{ inputList.brief }}</td>
            </tr>
            <tr class="inputListRow">
                <td style="width: 20px"> </td>
                {% for step in step_exec_dict %}
                    <td class="stepchoose" >{{ step }}</td>
                {% endfor %}
                {% ifequal approved "Approved" %}
                    <td colspan="2" style="color: greenyellow"> Approved </td>
                {% endifequal %}
                {% ifequal approved "Not approved" %}
                    <td colspan="2" style="color: red"> Not approved </td>
                {% endifequal %}
            </tr>
            </table>
        </td>
        </tr></table>
        </div>
	{% endfor %}
    </div>

{% endblock %}