{% extends "prodtask/_index.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load js %}


{% block bl_title %}Core App of Monitoring{% endblock %}

{% block subtitle %}
{% if title %}{{ title }}. Last task submit time {{ last_task_submit_time|date:"DATETIME_FORMAT" }} UTC. Page was generated {% now "DATETIME_FORMAT" %} UTC{% else %}Datatable{% endif %}
{% endblock %}

{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	    @import "{% static "css/jquery-ui-1.10.3.custom.min.css" %}";
        @import "{% static "css/jquery.dataTables_themeroller.css" %}";
        @import "{% static "css/prodtask.css" %}";
	</style>

    <style type="text/css">
        {% include 'prodtask/_prodtask_css.html' %}
    </style>

  <style type="text/css">
    .breaked_word   { word-wrap: break-word; min-width: 40%; font-size: 0.9em; }
    .taskid         { min-width: 6em; }
    .datetime       { min-width: 7em; }
    .numbers        { max-width: 80px; }
  </style>

{% endblock %}

{% block base_js %}
{{ block.super }}

{% django_js %}

    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/jquery-migrate-1.0.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.address-1.5.js" %}"></script>
{% endblock %}


{% block body %}
<table>
<tr>
<td>
<table style="text-align: right;">
    <thead><tr><th colspan="0" style="text-align:center">Tasks select parameters</th></tr></thead>
    <tbody>
    <tr>
    <td>

    <table>
    <tr>
        <td>Tasks type:</td>
        <td>
        <select id="task_type">
            <option value="all">All</option>
            <option value="production" selected="selected">Production</option>
            <option value="analysis">Analysis</option>
        </select>
        </td>
    </tr>

    <tr>

        <td>Project:</td>
        <td>
            <input id="project" />
        </td>
    </tr>

    <tr>

        <td>Owner:</td>
        <td>
            <input id="username" />
        </td>
    </tr>

    <tr>
        <td>Task name:</td>
        <td>
        <input placeholder="eg : mc.*valid.*s1773" id="taskname" />
        </td>
    </tr>

    <tr>
        <td>Task ID:</td>
        <td>
        <input placeholder="eg : 4003.* " id="task_id" />
        </td>
    </tr>

    <tr>
        <td>Task ID <= </td>
        <td>
        <input id="task_id_gt" />
        </td>
    </tr>

    <tr>
        <td>Task ID >= </td>
        <td>
        <input id="task_id_lt" />
        </td>
    </tr>

    <tr>
        <td>Request ID:</td>
        <td>
        <input id="request" />
        </td>
    </tr>

    <tr>
        <td>Request ID <= </td>
        <td>
        <input id="request_id_gt" />
        </td>
    </tr>

    <tr>
        <td>Request ID >= </td>
        <td>
        <input id="request_id_lt" />
        </td>
    </tr>

    <tr>
        <td>Chain:</td>
        <td>
        <input id="chain" />
        </td>
    </tr>

    </table>

    </td>
    <td>

    <table>

    <tr>
        <td>Campaign:</td>
        <td>
            <input type="text" id="campaign" name="campaign">
        </td>
    </tr>

    <tr>
        <td>AMI tag exact:</td>
        <td>
        <input id="ctag" />
        </td>
    </tr>

    <tr>
        <td>Step name:</td>
        <td>
        <input id="step_name" />
        </td>
    </tr>

    <tr>
        <td>Step output format:</td>
        <td>
        <input id="step_output_format" />
        </td>
    </tr>

    <tr>
        <td>Status:</td>
        <td>
        <select id="status">
            <option value="">All</option>
            <option value="active">Active</option>
            <option value="ended">Ended</option>
            <option value="regular">Regular</option>
            <option value="irregular">Irregular</option>
            <option value="aborted">Aborted</option>
            <option value="assigning">Assigning</option>
            <option value="broken">Broken</option>
            <option value="obsolete">Obsolete</option>
            <option value="done">Done</option>
            <option value="failed">Failed</option>
            <option value="finished">Finished</option>
            <option value="pending">Pending</option>
            <option value="registered">Registered</option>
            <option value="running">Running</option>
            <option value="submitted">Submitted</option>
            <option value="submitting">Submitting</option>
        </select>
        </td>
    </tr>

    <tr>
        <td>Provenance:</td>
        <td>
        <select id="provenance">
            <option value="">All</option>
            <option value="AP">ATLAS</option>
            <option value="GP">Group</option>
            <option value="None">User</option>
        </select>
        </td>
    </tr>
    <tr>
        <td>Physics group:</td>
        <td>
        <select id="phys_group">
            <option value="">All</option>
			<option value="BPHY">BPHY</option>
			<option value="COSM">COSM</option>
			<option value="DAPR">DAPR</option>
			<option value="EGAM">EGAM</option>
			<option value="EXOT">EXOT</option>
			<option value="FTAG">FTAG</option>
			<option value="HIGG">HIGG</option>
			<option value="HION">HION</option>
			<option value="IDET">IDET</option>
			<option value="IDTR">IDTR</option>
			<option value="JETM">JETM</option>
			<option value="LARG">LARG</option>
			<option value="MCGN">MCGN</option>
			<option value="SIMU">SIMU</option>
			<option value="MDET">MDET</option>
			<option value="MUON">MUON</option>
			<option value="PHYS">PHYS</option>
			<option value="REPR">REPR</option>
			<option value="STDM">STDM</option>
			<option value="SUSY">SUSY</option>
			<option value="TAUP">TAUP</option>
			<option value="TCAL">TCAL</option>
			<option value="TDAQ">TDAQ</option>
			<option value="TOPQ">TOPQ</option>
			<option value="THLT">THLT</option>
			<option value="TRIG">TRIG</option>
			<option value="VALI">VALI</option>
			<option value="UPGR">UPGR</option>
        </select>
        </td>
    </tr>
    <tr>
        <td>Last update time period:</td>
        <td>
        <select id="time_period">
            <option value="custom">Custom</option>
            <option value="day">Last day</option>
            <option value="week">Last week</option>
            <option value="month">Last month</option>
            <option value="year">Last year</option>
            <option value="all">All time</option>
        </select>
        </td>
    </tr>

    <tr>
        <td>
            Last update time from:
        </td>
        <td>
            <input type="text" id="time_from" name="time_from">
        </td>
    </tr>
    <tr>
        <td>
            Last update time to:
        </td>
        <td>
            <input type="text" id="time_to" name="time_to">
        </td>
    </tr>

    </table>

    </td>

    </tr>

    <tr><td colspan="0"><input id="update_task_table" type="button" value="Update table"  /><td></tr>

    </tbody>
</table>


</td>



<td>
<div id="task_stat_table">

<table><thead><tr><th colspan="0" style="text-align:center">Tasks status statistics</th></tr><tr>

</tr></thead>
<tbody><tr>

</tr></tbody>
</table>

</div>

<div id="table_request_summary">

</div>

</td>
</tr>
</table>



<script type="text/javascript">

    function taskServerParams ( aoData )
    {
        var time_from = $( "#time_from" ).datepicker( "getDate" );
        var time_to = $( "#time_to" ).datepicker( "getDate" );

        time_from = new Date(time_from.getUTCFullYear(), time_from.getUTCMonth(), time_from.getUTCDate()+2, -17);
        time_to = new Date(time_to.getUTCFullYear(), time_to.getUTCMonth(), time_to.getUTCDate()+3, -17);

        for(var i in parameters_list)
            if( parameters_list[i].name.slice(0,4) != 'time' && $( "#"+parameters_list[i].id ).val() != '' )
                aoData.push( { "name": parameters_list[i].name, "value": $( "#"+parameters_list[i].id ).val() } );

        aoData.push( { "name": "task_type", "value": $("#task_type").val() } );
        aoData.push( { "name": "time_from", "value": time_from.getTime() } );
        aoData.push( { "name": "time_to",   "value": time_to.getTime() } );
    }

    function taskDrawCallback()
    {
        $("#update_task_table").button( "disable" );
        SetParametersToURL();

        var text = '<ul>Filters:';
        var time_period_all = 0;

        for(var i in parameters_list)
        {
            if ( time_period_all && ( parameters_list[i].name == 'time_to' || parameters_list[i].name == 'time_from' ) )
                continue;
            var val = $( "#"+parameters_list[i].id ).val();
            if ( val != '')
                text += '<li>' + parameters_list[i].label + ' : ' + val + '</li>';
            if ( parameters_list[i].name == 'time_period' && val == 'all' )
                time_period_all = 1;
        }
       text += '</ul>';
       $("#table_request_summary").html( text ) ;
    }

    function parseDate(input) {
        var dparts = input.slice(0,10).split('-');
        var tparts = input.slice(10,19).split(':');

        return new Date(dparts[0], dparts[1]-1, dparts[2], tparts[0], tparts[1], tparts[2] ); // Note: months are 0-based
    }

    jira_url_prefix = "https://its.cern.ch/jira/browse/";

    function prepareData( data, textStatus, jqXHR )
    {
        for(var i in data['aaData'])
        {
            var row = data['aaData'][i];

            row[0] = '<a class="breaked_word" href="'+Django.url('prodtask:task', row[4])+'">'+row[0]+'</a>';
           // row[4] = '<a href="'+Django.url('taskInfo', row[4])+'">'+row[4]+'</a>';
            row[4] = '<a href="http://bigpanda.cern.ch/task/'+row[4]+'/">'+row[4]+'</a>';
            row[2] = '<a href="'+Django.url('prodtask:step_execution', row[2])+'">'+row[22]+'</a>';
            row[1] = '<a href="'+Django.url('prodtask:input_list_approve', row[1])+'">'+row[1]+'</a>';
            row[17] = '<a href="'+jira_url_prefix+row[17]+'">'+row[17].slice(11)+'</a>';

            row[5] = row[5]=='None'? row[23] : row[5];
            row[5] = row[5]=='-1'? 'None' : row[5];

            /*
            switch(row[8])
            {
                case 'AP': row[8]='ATLAS'; break;
                case 'GP': row[8]='Group'; break;
                case 'XP': row[8]='eXtended'; break;
            }*/

            var time_stamp_color = 'black';
            switch(row[11])
            {
                case "done":
                case "finished":
                case "broken":
                case "failed":
                case "aborted":
                case "obsoleted":
                    break;

                default:
                    if( row[13]!='None' )
                    {
                        var last_update = parseDate(row[13].slice(0,19));
                        var now = new Date();
                        var diff = now - last_update;
                        if(diff > (24 * 3600 * 1000))
                            time_stamp_color = 'yellow';
                        if(diff > (48 * 3600 * 1000))
                            time_stamp_color = 'orange';
                        if(diff > (72 * 3600 * 1000))
                            time_stamp_color = 'red';
                    }
                    else
                        time_stamp_color = 'red';
                    break;
            }

            row[12] = row[12]=='None'? 'None' : parseDate(row[12].slice(0,19)).toString() ;
            row[13] = row[13]=='None'? 'None' : parseDate(row[13].slice(0,19)).toString() ;

            row[12] = row[12].slice(4,10) + row[12].slice(15,21);
            row[13] = '<span title="Timestamp color codes: black < 24h, 24h < yellow <48h, 48h < orange < 72h, 72h < red" style="color : '+time_stamp_color+';">'+ row[13].slice(4,10) + row[13].slice(15,21) +'</span>';

            row[11] = '<span class="tstat '+row[11]+'">'+row[11]+'</span>';
        }
        updateInterface(data['additional']['task_stat']);
    }

    {% load lookupattr %}
    {% parametrized parametrized %}

    parameters_list = [{ name: 'time_period',  id: 'time_period',  label: 'Last update time period'}].concat(parameters_list);

    function SetParametersToURL()
    {
        var time_period_all = 0;
        for(var i in parameters_list)
        {
            if ( time_period_all && ( parameters_list[i].name == 'time_to' || parameters_list[i].name == 'time_from' ) )
                continue;
            var val = $( "#"+parameters_list[i].id ).val();
            $.address.parameter( parameters_list[i].name , val );
            if ( parameters_list[i].name == 'time_period' && val == 'all' )
                time_period_all = 1;
        }
    }

    function LoadDefaultAndParametersFromURL()
    {
        var time_from = new Date();
        var time_to = new Date();
        var extern_parameter = 0;

        time_from.setMonth( time_from.getMonth() - 1 )

        $( "#time_from" ).datepicker( "setDate", time_from );
        $( "#time_to" ).datepicker( "setDate", time_to );

        for(var i in parameters_list)
        {
            var value = $.address.parameter( parameters_list[i].name );
            if( value )
            {
                extern_parameter = 1;
                switch( parameters_list[i].name )
                {
                    case 'time_from':
                    //    time_from = new Date().parse( value );
                        $( "#time_from" ).datepicker( "setDate", value );
                        break;
                    case 'time_to':
                   //     time_from = new Date().parse( value );
                        $( "#time_to" ).datepicker( "setDate", value );
                        break;
                    case 'time_period':
                        $("#time_period").val(value);
                        break;

                    default:
                        $( "#"+parameters_list[i].id ).val( value );
                        break;
                }
            }
            else
            {
                switch( parameters_list[i].name )
                {
                    case 'task_type':
                  //      $("#task_type").val('all');
                        break;
                    case 'time_from':
                        $( "#time_from" ).datepicker( "setDate", time_from );
                        break;
                    case 'time_to':
                        $( "#time_to" ).datepicker( "setDate", time_to );
                        break;
                    case 'time_period':
                        $("#time_period").val('all');
                        break;
                    default:
                        $("#" + parameters_list[i].name).val('');
                        break;
                }
            }
        }
        if( extern_parameter && ! $.address.parameter('task_type') )
            $("#task_type").val('all');

        $( "#time_period" ).change();

    }

    function UpdateParametersFromURL()
    {
        for(var i in parameters_list)
        {
            var value = $.address.parameter( parameters_list[i].name );
            if( value && value != $( "#"+parameters_list[i].id ).val() )
            {
                extern_parameter = 1;
                switch( parameters_list[i].name )
                {
                    case 'time_from':
                    //    time_from = new Date().parse( value );
                        $( "#time_from" ).datepicker( "setDate", value );
                        break;
                    case 'time_to':
                   //     time_from = new Date().parse( value );
                        $( "#time_to" ).datepicker( "setDate", value );
                        break;
                    case 'time_period':
                        $("#time_period").val(value);
                        break;

                    default:
                        $( "#"+parameters_list[i].id ).val( value );
                        break;
                }
            }
        }
    }

    $( "#time_from" ).datepicker({
            defaultDate: "-1m",
            changeMonth: true,
            numberOfMonths: 1,
            onSelect: function( selectedDate ) {
                $( "#time_to" ).datepicker( "option", "minDate", selectedDate );
                $( "#time_period" ).val('custom');
            //    taskTable.fnDraw();
            }
        });
    $( "#time_to" ).datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onSelect: function( selectedDate ) {
                $( "#time_from" ).datepicker( "option", "maxDate", selectedDate );
                $( "#time_period" ).val('custom');
           //     taskTable.fnDraw();
            }
    });

    $( "#time_period" ).change(function () {

        var time_from = new Date();
        var time_to = new Date();

        switch($(this).val())
        {
            case 'day': time_from.setDate( time_from.getDate() - 1 ); break;
            case 'week': time_from.setDate( time_from.getDate() - 7 ); break;
            case 'month': time_from.setMonth( time_from.getMonth() - 1 ); break;
            case 'year': time_from.setFullYear( time_from.getFullYear() - 1 ); break;
            case 'all': time_from.setFullYear( time_from.getFullYear() - 3 ); break;
            case 'custom': return; break;
        }

        $( "#time_from" ).datepicker( "setDate", time_from );
        $( "#time_to" ).datepicker( "setDate", time_to );

        $( "#time_from" ).datepicker( "option", "maxDate", time_to );
        $( "#time_to" ).datepicker( "option", "minDate", time_from );
    });

    function updateInterface(data)
    {
        var table = '<table><thead><tr><th colspan="0" style="text-align:center">Tasks status statistics</th></tr><tr>';
        for( var i in data )
        {
            table += '<th><span class="tstat '+ data[i].status +'">'+ data[i].status +'</span></th>';
        }
        table += '</tr></thead><tbody><tr>';

       // table += '<td><span class="total">'+ total_task +'</span></td>';
        for( var i in data )
        {
            table += '<td>'+ data[i].count +'</td>';
        }

        table += '</tr></tbody></table>';

        $('#task_stat_table').html(table);
    }

    LoadDefaultAndParametersFromURL();
    $("#update_task_table").button({ disabled: true });
    $("#update_task_table").tooltip( );

</script>

{{ table.as_html }}

<script type="text/javascript">
$(document).ready(function() {

/*    $("#task_table th.numbers div").css("padding-right", "0px").css("padding-left", "20px");
    $("#task_table th.numbers div span").css("left", "0px");

    $("#task_table th").css("padding", "0px 3px 0px 0px");
    $("#task_table td").css("padding", "0px 5px 0px 0px");*/

    taskTable.fnSetColumnVis( 22, false, false );
    taskTable.fnSetColumnVis( 23, false, false );

    $("#update_task_table").click(function(){ taskTable.fnDraw(); });

    taskTable.one("draw", function(){ $.address.change(function(){ UpdateParametersFromURL(); taskTable.fnDraw(); }) });
    
    for(var i in parameters_list)
        $('#'+parameters_list[i].id).click(function(){ $("#update_task_table").button( "enable" ); });
    
    $(document).on('keyup', function(e) {
        if (e.which == 13) {
            e.preventDefault();
            taskTable.fnDraw();
        }
    });
    
    $("#task_type").change(function () {

            if( $("#task_type").val() == 'analysis' )
            {
                taskTable.fnSetColumnVis( 1, false, false );
                taskTable.fnSetColumnVis( 2, false, false );
                taskTable.fnSetColumnVis( 17, false, false );
                taskTable.fnSetColumnVis( 18, false, false );
            }
            else
            {
                taskTable.fnSetColumnVis( 1, true, false );
                taskTable.fnSetColumnVis( 2, true, false );
                taskTable.fnSetColumnVis( 17, true, false );
                taskTable.fnSetColumnVis( 18, true, false );
            }
        });
});
 </script>


<div id="switch_to_manage" class="button-bar left hide">
    <div class="button-bar">
        <ul class="button-group radius">
            <li>
                <div id="table_lenght_holder"> </div>
            </li>
        </ul>
        <ul class="button-group radius">
            <li>
                <a id="btn_switch_to_manage" href="#" class="small button">Manage tasks</a>
            </li>
        </ul>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        var manage_url_base = $(location).attr('origin') + "{% url 'prodtask:task_manage' %}";
        var manage_url_regexp = RegExp( '^' + manage_url_base );
        var is_manage_mode = manage_url_regexp.test( $(location).attr('href') );

        if ( !is_manage_mode ) {
            $("#switch_to_manage").insertAfter("#task_table_length");
            $("#task_table_length").appendTo("#table_lenght_holder");
            $("#switch_to_manage").show();

            $("#btn_switch_to_manage").click(function() {

              {% if user.is_authenticated %}
    {% comment %} Redirect to manage mode {% endcomment %}
                var view_url_base = $(location).attr('origin') + $(location).attr('pathname');
                var manage_url_full = $(location).attr('href').replace(view_url_base, manage_url_base);
                $(location).attr('href', manage_url_full);
              {% else %}
    {% comment %} Redirect to login page and then to manage mode {%endcomment %}
                $(location).attr('href', "{% url 'prodtask:login' %}?next={% url 'prodtask:task_manage' %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}");
              {% endif %}

                return False;
            }); 

            $(".top-toolbar").children().css("height", "2.0em");
        } // if not in managed mode

    });
</script>

{% endblock %}

