
<div id="management_panel">

    <div class="button-group">


        <div id="manage_buttons_group" class="button-bar">

            <ul class="button-group radius">
        {% if task.id %}
                <li><a class="small radio button disabled" id="btn_edit" href="#">Edit</a></li>
                <li><a class="small radio button disabled" id="btn_clone" href="#">Clone</a></li>
        {% endif %}


                <li><a data-options="is_hover:true" id="btn_abort"
                    {% if can_abort_task or not task.id %}
                        data-dropdown="task_abort_menu"
                        class="small radio button alert"
                    {% else %}
                        class="small radio button alert disabled"
                    {% endif %}
                    >Abort</a>
                </li>
                <li><a data-options="is_hover:true" id="btn_finish"
                    {% if can_finish_task or not task.id %}
                        data-dropdown="task_finish_menu"
                        class="small radio button "
                    {% else %}
                        class="small radio button disabled"
                    {% endif %}
                    >Finish</a>
                </li>
                <li><a data-options="is_hover:true" id="btn_retry"
                    {% if can_retry_task or not task.id %}
                        data-dropdown="task_retry_menu"
                        class="small radio button "
                    {% else %}
                        class="small radio button disabled"
                    {% endif %}
                    >Retry</a>
                </li>
                <li><a data-options="is_hover:true" id="btn_change_prio"
                    {% if can_change_prio_task or not task.id %}
                        class="small radio button"
                        data-dropdown="task_change_prio_menu"
                    {% else %}
                        class="small radio button disabled"
                    {% endif %}
                    >Priority</a>
                </li>
                <li><a data-options="is_hover:true" id="btn_reassign"
                    {% if can_reassign_task or not task.id %}
                        data-dropdown="task_reassign_menu"
                        class="small radio button"
                    {% else %}
                        class="small radio button disabled"
                    {% endif %}
                    >Reassign</a>
                </li>
                <li><a data-options="is_hover:true" id="btn_obsolete"
                    {% if can_obsolete_task or not task.id %}
                        data-dropdown="task_obsolete_menu"
                        class="small radio button"
                    {% else %}
                        class="small radio button disabled"
                    {% endif %}
                    >Obsolete</a>
                </li>
        {% if edit_mode %}
                <li><a class="small radio button secondary" id="btn_switch_to_view">View&nbsp;mode</a></li>
        {% endif %}
            </ul>
        </div>

        {% comment %}
        TODO: optimize with a loop
        {% endcomment %}
        <div id="task_abort_menu" class="small content f-dropdown" data-dropdown-content>
            <div class="small-12 large-12 columns">
                <div class="row">
                    <div class="small-9 large-9 columns">
                        <label for="btn_do_abort" class="right inline bodyfont-color">
                            Tasks selected:&nbsp;
                            <span id="selected_count_abort">0</span>
                        </label>
                    </div>
                    <div class="small-3 columns">
                        <a class="button postfix secondary" id="btn_do_abort">Go</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="task_finish_menu" class="small content f-dropdown" data-dropdown-content>
            <div class="small-12 large-12 columns">
                <div class="row">
                    <div class="small-9 large-9 columns">
                        <label for="btn_do_finish" class="right inline bodyfont-color">
                            Tasks selected:&nbsp;
                            <span id="selected_count_finish">0</span>
                        </label>
                    </div>
                    <div class="small-3 columns">
                        <a class="button postfix secondary" id="btn_do_finish">Go</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="task_retry_menu" class="small content f-dropdown" data-dropdown-content>
            <div class="small-12 large-12 columns">
                <div class="row">
                    <div class="small-9 large-9 columns">
                        <label for="btn_do_retry" class="right inline bodyfont-color">
                            Tasks selected:&nbsp;
                            <span id="selected_count_retry">0</span>
                        </label>
                    </div>
                    <div class="small-3 columns">
                        <a class="button postfix secondary" id="btn_do_retry">Go</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="task_obsolete_menu" class="small content f-dropdown" data-dropdown-content>
            <div class="small-12 large-12 columns">
                <div class="row">
                    <div class="small-12 columns text-center bodyfont-color">
                        <br>
                        <label> Obsoletion of done/finished tasks </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-9 large-9 columns">
                        <label for="btn_do_obsolete" class="right inline bodyfont-color">
                            Tasks selected:&nbsp;
                            <span id="selected_count_obsolete">0</span>
                        </label>
                    </div>
                    <div class="small-3 columns">
                        <a class="button postfix secondary" id="btn_do_obsolete">Go</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="task_change_prio_menu" class="medium content f-dropdown" data-dropdown-content>
            <div class="small-12 large-12 columns">
                <div class="row">
                    <div class="small-8 large-8 columns">
                        <input type="text" id="new_priority" placeholder="JEDI task priority (100-900)">
                    </div>
                    <div class="small-4 large-4 columns">
                        <a class="button postfix" id="btn_do_set_priority">Set</a>
                    </div>
                </div>

                <div class="row">
                    <p><br></p>
                </div>

                <div class="row">
                    <div class="small-6 large-6 columns text-center bodyfont-color">
                        <a class="button postfix" id="btn_do_increase_priority">Increase priority level</a>
                    </div>
                    <div class="small-6 large-6 columns text-center bodyfont-color">
                        <a class="button postfix" id="btn_do_decrease_priority">Decrease priority level</a>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns text-center bodyfont-color">
                        <br>
                        <label> If no level configured for the step, priority change delta is <i>20</i>. </label>
                        <br>
                        <label> Tasks selected:&nbsp; <span id="selected_count_prio">0</span> </label>
                    </div>
                </div>

            </div>
        </div>

        <div id="task_reassign_menu" class="medium content f-dropdown" data-dropdown-content>
            <div class="small-12 large-12 columns bodyfont-color">
                <div class="row">
                    <div class="small-10 large-10 columns">
                        <select name="cloud_select" id="cloud_select">
                            <option value="" selected>Select cloud</option>
                        {% for entry in clouds %}
                            <option value="{{ entry }}">{{ entry }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="small-2 large-2 columns">
                        <a class="button postfix" id="btn_do_reassign_cloud">Go</a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-10 large-10 columns text-center">
                        <label> or </label>
                    </div>
                    <div class="small-10 large-10 columns">

                    </div>
                </div>

                <div class="row">
                    <div class="small-10 large-10 columns">
                        <select name="site_select" id="site_select" class="medium">
                            <option value="" selected>Select site</option>
                        {% for entry in sites %}
                            <option value="{{ entry }}">{{ entry }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="small-2 large-2 columns">
                        <a class="button postfix" id="btn_do_reassign_site">Go</a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 large-12 columns text-center bodyfont-color">
                         <label>
                           Tasks selected:&nbsp;
                           <span id="selected_count_reassign">0</span>
                         </label>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="bottom" id="request_status_container"></div>

</div>


<input type="hidden" id="selected_tasks" value="{{task.id}}">

{%  csrf_token %}


<script type="text/javascript">

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
        }
    }
});

function makeAlertBox(content, box_id, text_id) {
    return $( "<div/>", { id: box_id, "class": "alert-box info radius", "data-alert": ""} )
    .append( $( "<span/>", { id: text_id, html: content} ) )
    .append( $( "<a/>", {href: "#", "class": "close", text: '×'} ) );
}

var modal_count = 0;
function makeModalDialog(content) {
    var $dialog = $("<div/>", { id: "modal_" + (modal_count++), "class": "reveal-modal", "data-reveal": ""})
        .append( $("<span/>", {html: content}) )
        .append( $("<a/>", { "class": "close-reveal-modal", text: "×" }) );

    $('body').append($dialog);
    return $dialog;
}


// Make and show modal dialog to confirm which action affects more tasks than it was selected
function makeTasksActionConfirmDialog(title, tasks_affected, callback) {
    function makeButtonBar(groups) {
        var $bar = $("<div/>", { "class": "button-bar" });
        $.each(groups, function(index, group) {
            var $group = $("<div/>", { "class": "button-group" });
            $.each(group, function(ind, button) {
                $group.append(
                    $("<li/>").append(
                        $("<a/>", { href: button['href'], "class": button['class'], text: button['text'] })
                        .click(function() {
                            try {
                                callback( button['return_value'] );
                            } catch(e) {
                                throw e;
                            } finally {
                                $('a.close-reveal-modal').trigger('click'); 
                            }
                        })
                    )
                );
            });
            $bar.append($group);
        });

        return $bar;
    }

    var $title = $("<h3/>", { html: title + "<br/>" });
    var $content = $("<span/>");

    $content.append($title);

    var tasks_selected = $.map(tasks_affected, function (element,index) { return index });
    tasks_selected.sort();

    $content.append( $("<p/>", {
        html: "<b> Selected tasks in suitable states (" + tasks_selected.length + "): </b> <br>"
                + tasks_selected.join(", ")
    }) );

    var tasks_shown = $.extend({}, tasks_affected); // keep tasks processed to not display twice
    var dependent_tasks_shown = false;

    $.each(tasks_affected, function (task, list) {  // show dependent tasks for each slice
        list = $.grep(list, function (elem, index) { return !(elem in tasks_shown); });

        if (list.length == 0) { return; } // no dependent task to display
        dependent_tasks_shown = true;

        $.each(list, function(ind, val) { tasks_shown[val] = 1; }); // add tasks to already shown

        $content.append(
            $( "<p/>", {
                html: "<b> For task " + task + " will be also affected " + list.length
                        + " task" + ( (list.length>1) ? "s" : "" ) + ": </b> <br/>" + list.join(", ")
            } )
        )
    });

    if ( !dependent_tasks_shown ) {
        $content.append(
            $( "<p/>", { html: "<b> No other tasks will be affected </b>" })
        );
    }

    var btn_class = "small button";

    var buttons_config = [
            [ { text: "Apply to all affected tasks", return_value: "all", "class": btn_class, href:"#" } ],
            [ { text: "Apply to selected tasks", return_value: "selected", "class": btn_class, href:"#" } ],
            [ { text: "Cancel", return_value: "cancel", "class": btn_class, href: "#" } ]
        ];

    if ( !dependent_tasks_shown) {
        buttons_config.splice(0, 1);
    }

    var buttons_holder = $("<div/>", { "class": "small-12 large-12 columns" });
    buttons_holder.append( makeButtonBar(buttons_config) );

    $content.append( $("<div/>", { "class": "row", html: buttons_holder } ) );

    return ( makeModalDialog($content) );
}


// Get list of tasks selected with checkboxes
function getSelectedTasksList() {
    var tasks = $("#selected_tasks").val().split(',');
    if (tasks.length == 1 && !tasks[0]) {
        tasks.length = 0;
    }
    return tasks;
}


// Perform specified action with given parameters on the list of tasks
function doTasksAction(action, tasks, parameters) {

    if (tasks.length == 0) {
        return;
    }

    var postData = { 'tasks': tasks };

    if (parameters.length !== 0) {
        postData['parameters'] = parameters;
    }

    var ajaxUrl =  Django.url('prodtask:tasks_action', action);

    $("#req_status_box").remove();
    $("#request_status_container").append(
        makeAlertBox("Request status: sending", "req_status_box", "req_status_text")
    );


    $.ajax({
        url: ajaxUrl,
        type: "POST",
        data: $.toJSON(postData),
        dataType: "json",
        success: function (result, status) {
            if (status) {
                $("#req_status_text").html("Request status: done");
            } else {
                $("#req_status_text").html("Request status: error - " + status);
            }
        },
        failure: function (errorMsg) {
            $("#request_status_text").html("Error: " + errorMsg);
        }
    });
}

// get IDs and status of the dependent tasks from the same slice as given ones
function getSliceDependentTasks(tasks) {
    var ajaxUrl = Django.url('prodtask:same_slice_tasks');
    var requestParams = {
        url: ajaxUrl,
        type: "POST",
        data: $.toJSON( {"tasks": tasks} ),
        dataType: "json",
        async: false
    };

    var result = {};

    $.when( $.ajax( requestParams ) ).then(function(data) {
        $.each(data, function(task_id, info) {
            $.each(info["tasks"], function(key, val) {
                if ( !(task_id in result) ) {
                    result[task_id] = {};
                }
                if (key >= task_id) {
                    result[task_id][key] = val;
                }
            });
        });
    });

    return result;
}

// Perform action on the selected tasks
function doTasksActionSelected(action) {
    var tasks = getSelectedTasksList();

    if (tasks.length == 0) {
        return;
    }

    // TODO: add 'waiting' status while using DEFT API
    var status_active = ['registered', 'assigning', 'submitting', 'running'];
    var cascade_actions = ['kill', 'finish', 'increase_priority', 'decrease_priority'];
    var actions_on_active = cascade_actions.concat( ['reassign_to_site', 'reassign_to_cloud'] );

    var parameters = [];

    // fill action parameters from inputs
    if (action == "change_priority") {
        parameters = [$("#new_priority").val()];
    } else if (action == "reassign_to_site") {
        parameters = [$("#site_select").val()];
    } else if (action == "reassign_to_cloud") {
        parameters = [$("#cloud_select").val()];
    } else if ((action == 'increase_priority') && (action=='decrease_priority')) {
        parameters = [20];
    }

    var slices = getSliceDependentTasks(tasks);

    if ($.inArray(action, actions_on_active) > -1) {
        tasks = $.grep(tasks, function (task) {
            return ($.inArray(slices[task][task]['status'], status_active) > -1);
        });
    }

    if (tasks.length == 0) {
        return;
    }

    tasks.sort();

    if ($.inArray(action, cascade_actions) > -1) {
        var show_dialog = false; // before showing dialog, check if other than selected tasks are affected
        var tasks_affected = {};
        $.each(tasks, function(index, task_id) {
            tasks_affected[task_id] = [];
            var dependent = slices[task_id];
            for (var dep_id in dependent) {
                if (!dependent.hasOwnProperty(dep_id)) { continue; }
                if ( (dep_id>task_id)  && ($.inArray(dependent[dep_id]['status'], status_active) > -1) ) {
                    show_dialog = true;
                    tasks_affected[task_id].push(dep_id);
                } // if
            } // for dep
        }); // for $.each task

        if (!show_dialog) {
            doTasksAction(action, tasks, parameters);
            return;
        }

        makeTasksActionConfirmDialog(
                "Perform action '" + action + "'",
                tasks_affected,
                function (response) {
                    if (response == "all") {
                        var tasks_affected_list = $.map(tasks_affected, function(val, key){ return key; });
                        tasks_affected_list.sort();
                        doTasksAction(action, tasks_affected_list, parameters);
                    } else if (response == "selected") {
                        doTasksAction(action, tasks, parameters);
                    }
                } // callback function
        ).foundation('reveal', 'open');

    } else {
        doTasksAction(action, tasks, parameters);
    } // if action in cascade actions

} // doTasksActionSelected


$(document).ready(function () {
    // Make management buttons the same size
    {
        var max_width = "0";
        $("#manage_buttons_group").find('.button').each(function () {
            max_width = Math.max($(this).width(), max_width);
        });
        $("#manage_buttons_group").find('.button').each(function () {
            $(this).width(max_width);
        });

    }

    // Setting buttons handlers
    var button_action_map = {
        "abort": "kill", "finish": "finish", "obsolete": "obsolete",
        "set_priority": "change_priority",
        "increase_priority": "increase_priority", "decrease_priority": "decrease_priority",
        "reassign_cloud": "reassign_to_cloud", "reassign_site": "reassign_to_site",
        "retry": "retry"
    };

    $.each(button_action_map, function(name, action) {
        $("#btn_do_" +name).click(function(){
            $('[id^="task_"][id$="_menu"]').hide(); // hide actions menus
            doTasksActionSelected( button_action_map[name] );
            $("#select_all_tasks").prop("checked", false); // un-check tasks after action
            $("#select_all_tasks").change();
        }); // on click
    }); // $.each


    $("#selected_tasks").change(function () {
        var tasks = getSelectedTasksList();

        $("[id^=selected_count_]").html( tasks.length );

        if (tasks.length) {
            $("[id^=btn_do_]").removeClass("secondary");
        } else {
            $("[id^=btn_do_]").addClass("secondary");
        }
    });

    $("#selected_tasks").change();
});


</script>

