{% extends parent_template %}

{% load static from staticfiles %}


{% block extra_css %}
{{ block.super }}
	<style type="text/css" title="currentStyle">
	    @import "{% static "css/prodtask.css" %}";
        {% include 'prodtask/_prodtask_css.html' %}
    </style>
{% endblock %}

{% block base_js %}
{{ block.super }}
{% endblock %}

{% block extra_js %}
{{ block.super }}

    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.json-2.4.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/foundation.js' %}"></script>

    <script type="text/javascript">
        $(document).foundation();
        function addHashTag(event){
            event.preventDefault();
            sendData = {'hashtag':$('#newHashTag').val()};
            $.ajax({
                    url: "{% url 'prodtask:add_task_hashtag' task.id %}",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: $.toJSON(sendData),
                    dataType: 'text',
                    success: function(data,status) {
                        newHashtag =$.evalJSON(data).data;
                        var old_hashtags=$('#hashtags_list').html();
                        $('#hashtags_list').html(old_hashtags+' '+'<a href="{% url 'reqtask:request_tasks'  %}hashtags/&'+newHashtag+'">'+newHashtag+'</a>');
                        $('#hashtagModalWindow').foundation('reveal', 'close');
                    }
                });
        }
    </script>
{% endblock %}


{% block subtitle %}
{{pre_form_text|safe}}
{% endblock %}

{% block body %}
    {% include "prodtask/_task_manage_panel.html" %}

<table>

<tr><th><label for="id">ID:</label></th><td>{% if task.id %}<a href="http://bigpanda.cern.ch/task/{{task.id}}">{{task.id}}</a>{% else %}None{% endif %}</td></tr>
<tr><th><label for="request">Request:</label></th><td>{% if task.request.reqid %}<a href="{% url 'prodtask:input_list_approve' task.request.reqid %}#inputList{{ task.step.slice.slice }}">{{task.request.reqid}}</a>{% else %}None{% endif %}</td></tr>
<tr><th><label for="parent_id">Parent ID:</label></th><td>{% if task.parent_id %}<a href="{% url 'prodtask:task' task.parent_id  %}">{{task.parent_id}}</a>{% else %}None{% endif %}</td></tr>
<tr><th><label for="chain_tid">Chain ID:</label></th><td>{% if task.chain_tid %}<a href="{% url 'prodtask:task' task.chain_tid  %}">{{task.chain_tid}}</a>{% else %}None{% endif %}
<a href="{% url 'prodtask:task_chain_view' task.id  %}">Descendants</a></td></tr>
<tr><th><label for="name">Name:</label></th><td>{% if task.id %}<a href="{% url 'prodtask:task' task.id %}">{{task.name}}</a>{% else %}None{% endif %}</td></tr>
<tr><th><label for="username">Owner:</label></th><td>{{ task.username }}</td></tr>
<tr><th><label for="campaign">Campaign : SubCampaign</label></th><td>{{ task.campaign }}:{{ task.request.subcampaign }}</td></tr>
<tr><th><label for="status">Status:</label></th><td><span class="tstat {{ task.status }}">{{ task.status }}</span></td></tr>
<tr><th><label for="priority">Priority / Current priority:</label></th><td>{{ task.priority }} / {{ task.current_priority }}</td></tr>
<tr><th><label for="frate">Failure rate:</label></th><td>{{ task.failure_rate }} {% if task.failure_rate != None %} % ( <span style="color: red"> {{ task.total_files_failed}} </span>| <span style="color: green"> {{ task.total_files_finished}}</span> from  <span style="color: black"> {{ task.total_files_tobeused}}</span>){% endif %}</td></tr>
<tr><th><label for="simulation_type">Simulation type:</label></th><td>{{ task.simulation_type }}</td></tr>
<tr><th><label for="phys_group">Provenance Phys group:</label></th><td>{{ task.provenance }} {{ task.phys_group }}</td></tr>
<tr><th><label for="total_events">Total events:</label></th><td>{{ task.total_events }}</td></tr>
<tr><th><label for="total_req_jobs">Total req/done jobs:</label></th><td>{{ task.total_req_jobs }}/{{ task.total_done_jobs }}</td></tr>
<tr><th><label for="reference">Reference:</label></th><td><a href="https://its.cern.ch/jira/browse/{{ task.reference }}">{{ task.reference }}</a></td></tr>
<tr><th><label for="submit_time">Submit/ Start/ Timestamp time:</label></th><td>{{ task.submit_time }}/{{ task.start_time }}/{{ task.timestamp }}</td></tr>
<tr><th><label for="ttcr_timestamp">TTC Cold / Hot:</label></th><td>{{ task.ttcr_timestamp }} / {{ task.ttcj_timestamp }}</td></tr>
<tr><th><label for="core_count">Cores:</label></th><td>{% if ttask.jedi_task_parameters.coreCount %}{{ ttask.jedi_task_parameters.coreCount }}{% else %}1{% endif %}</td></tr>

<tr><th><label for="input_dataset">Input dataset:</label></th><td>{{ task.input_dataset }}</td></tr>
<tr><th><label for="output_dataset">Output dataset:</label></th><td>{% for od in output_datasets %}{% if od.status == 'Deleted' %}<a style="color: red"/>{% else %}<a style="color: black">{% endif %}{{ od.name }}<br/>{% endfor %}</td></tr>
<tr><th><label for="postproduction">Postproduction:</label></th><td>{{ task.postproduction }}</td></tr>
<tr><th><label for="comments">Comments:</label></th><td>{{ task.comments }}</td></tr>
<tr><th><label for="hashtags">Hashtags:</label></th><td ><div id="hashtags_list">{% for hashtag in hashtags %}<a href="{% url 'reqtask:request_tasks'  %}hashtags/&{{ hashtag }}">{{ hashtag }} </a>{% endfor %}</div>
    <a href='#' class="button " onclick="$('#hashtagModalWindow').foundation('reveal', 'open');" >+</a></td></tr>
{% if extasks %}<tr><th><label for="same_tasks">Same Tasks:</label></th><td>{% for etask in extasks %}<a href="{% url 'prodtask:task' etask %}">{{ etask }}   </a>{% endfor %}</td></tr>{% endif %}

</table>


<div id="hashtagModalWindow" class="reveal-modal" data-reveal>
    <div class="row">
            <div class="large-4 column">
                <label>New HashTag:
                <input type="text"  id="newHashTag"  maxlength="80"  /></label>
            </div>
            <div class="large-1 column">
                <a href='#' class="button  postfix" onclick="addHashTag(event);">Add</a>
            </div>
            <div class="large-7 column"></div>
        </div>
  <a  class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}
