
<div id="management_panel">

    <div class="button-group">


        <div id="manage_buttons_group" class="button-bar">

            <ul class="button-group radius">
        {% if task.id %}
                <li><a class="small radio button disabled" id="btn_edit" href="#">Edit</a></li>
                <li><a class="small radio button disabled" id="btn_clone" href="#">Clone</a></li>
        {% endif %}

                <li><a data-options="is_hover:true" id="btn_abort"
                    {% if can_abort_task or not task.id %}
                        data-dropdown="task_abort_menu"
                        class="small radio button alert"
                    {% else %}
                        class="small radio button alert disabled"
                    {% endif %}
                    >Abort</a>
                </li>
                <li><a data-options="is_hover:true" id="btn_finish"
                    {% if can_finish_task or not task.id %}
                        data-dropdown="task_finish_menu"
                        class="small radio button "
                    {% else %}
                        class="small radio button disabled"
                    {% endif %}
                    >Finish</a>
                </li>
                {% comment %}
                <li><a data-options="is_hover:true" id="btn_kill_jobs"
                    {% if can_finish_task or not task.id %}
                        data-dropdown="task_kill_jobs_menu"
                        class="small radio button"
                    {% else %}
                        class="small radio button disabled"
                    {% endif %}
                    >Kill jobs</a>
                </li>
                {% endcomment %}
                <li><a data-options="is_hover:true" id="btn_retry"
                    {% if can_retry_task or not task.id %}
                        data-dropdown="task_retry_menu"
                        class="small radio button"
                    {% else %}
                        class="small radio button disabled"
                    {% endif %}
                    >Retry</a>
                </li>
                <li><a data-options="is_hover:true" id="btn_reassign"
                    {% if can_reassign_task or not task.id %}
                        data-dropdown="task_reassign_menu"
                        class="small radio button"
                    {% else %}
                        class="small radio button disabled"
                    {% endif %}
                    >Reassign</a>
                </li>
                {% comment %}
                <li><a data-options="is_hover:true" id="btn_obsolete"
                    {% if can_obsolete_task or not task.id %}
                        data-dropdown="task_obsolete_menu"
                        class="small radio button"
                    {% else %}
                        class="small radio button disabled"
                    {% endif %}
                    >Obsolete</a>
                </li>
                {% endcomment %}
                <li><a data-options="is_hover:true" id="btn_change_parameters"
                    {% if can_change_priority_task or can_change_parameters_task or not task.id %}
                        class="small radio button"
                        data-dropdown="task_change_parameters_menu"
                    {% else %}
                        class="small radio button disabled"
                    {% endif %}
                    >Parameters</a>
                </li>
                <li><a data-options="is_hover:true" id="btn_delete_output"
                    {% if can_delete_output_task or can_obsolete_task or not task.id %}
                        class="small radio button"
                        data-dropdown="task_obsolete_menu"
                    {% else %}
                        class="small radio button disabled"
                    {% endif %}
                    >Obsolete</a>
                </li>
                <li><a data-options="is_hover:true" id="btn_kill_job"
                    {% if can_finish_task or not task.id %}
                        class="small radio button"
                        data-dropdown="task_kill_jobs_menu"
                    {% else %}
                        class="small radio button disabled"
                    {% endif %}
                    >Kill jobs</a>
                </li>

        {% if edit_mode %}
                <li><a class="small radio button secondary" id="_btn_switch_to_view">View&nbsp;mode</a></li>
        {% endif %}


        {% if not user.is_authenticated %}
                <li><a class="small radio button success" id="_btn_login"
                       href="{% url 'prodtask:login' %}?next={{ request.get_full_path|urlencode }}"
                    >Login</a></li>
        {% endif %}

            </ul>
        </div>

        {% comment %}
        TODO: optimize with a loop
        {% endcomment %}
        <div id="task_abort_menu" class="small content f-dropdown" data-dropdown-content>
            <div class="small-12 large-12 columns">
                <div class="row">
                    <div class="small-9 large-9 columns">
                        <label for="btn_do_abort" class="right inline bodyfont-color">
                            Tasks selected:&nbsp;
                            <span id="selected_count_abort">0</span>
                        </label>
                    </div>
                    <div class="small-3 columns">
                        <a class="button postfix secondary" id="btn_do_abort">Go</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="task_finish_menu" class="small content f-dropdown" data-dropdown-content>
            <div class="small-12 large-12 columns">
                <div class="row" title="Wait for running jobs">
                    <div class="small-9 large-9 columns">
                        <label class="right inline bodyfont-color">
                            Soft finish
                        </label>
                        <p></p>
                    </div>
                    <div class="small-3 columns">
                        <label class="left inline">
                            <input type="checkbox" id="cbx_soft_finish" value="1">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-9 large-9 columns">
                        <label for="btn_do_finish" class="right inline bodyfont-color">
                            Tasks selected:&nbsp;
                            <span id="selected_count_finish">0</span>
                        </label>
                    </div>
                    <div class="small-3 columns">
                        <a class="button postfix secondary" id="btn_do_finish">Go</a>
                    </div>
                </div>
            </div>
        </div>
        {% comment %}
        <div id="task_kill_jobs_menu" class="small content f-dropdown" data-dropdown-content>
            <div class="small-12 large-12 columns">
                <div class="row">
                    <div class="small-9 large-9 columns">
                        <label for="btn_do_kill_jobs" class="right inline bodyfont-color">
                            Tasks selected:&nbsp;
                            <span id="selected_count_kill_jobs">0</span>
                        </label>
                    </div>
                    <div class="small-3 columns">
                        <a class="button postfix secondary" id="btn_do_kill_jobs">Go</a>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
        <div id="task_retry_menu" class="small content f-dropdown" data-dropdown-content>
            <div class="small-12 large-12 columns">
                <div class="row">
                    <div class="small-9 large-9 columns">
                        <label for="btn_do_retry" class="right inline bodyfont-color">
                            Tasks selected:&nbsp;
                            <span id="selected_count_retry">0</span>
                        </label>
                    </div>
                    <div class="small-3 columns">
                        <a class="button postfix secondary" id="btn_do_retry">Go</a>
                    </div>
                </div>
            </div>
        </div>
        {% comment %}
        <div id="task_obsolete_menu" class="small content f-dropdown" data-dropdown-content>
            <div class="small-12 large-12 columns">
                <div class="row">
                    <div class="small-12 columns text-center bodyfont-color">
                        <br>
                        <label> Obsoletion of done/finished tasks </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-9 large-9 columns">
                        <label for="btn_do_obsolete" class="right inline bodyfont-color">
                            Tasks selected:&nbsp;
                            <span id="selected_count_obsolete">0</span>
                        </label>
                    </div>
                    <div class="small-3 columns">
                        <a class="button postfix secondary" id="btn_do_obsolete">Go</a>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
        <div id="task_change_parameters_menu" class="medium content f-dropdown" data-dropdown-content>
            <div class="small-12 large-12 columns panel" id="priority_panel">
                <div class="row">
                    <div class="small-4 large-4 columns">
                        <label for="new_priority" class="inline"> JEDI task priority </label>
                    </div>
                    <div class="small-4 large-4 columns">
                        <input type="text" id="new_priority"placeholder="100-900">
                    </div>
                    <div class="small-4 large-4 columns">
                        <a class="button postfix" id="btn_do_set_priority">Set</a>
                    </div>

                    <p> &nbsp; </p>
                </div>

                <div class="row">
                    <div class="small-6 large-6 columns text-center bodyfont-color">
                        <a class="button postfix" id="btn_do_increase_priority">Increase priority level</a>
                    </div>
                    <div class="small-6 large-6 columns text-center bodyfont-color">
                        <a class="button postfix" id="btn_do_decrease_priority">Decrease priority level</a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns text-center bodyfont-color">
                        <p> <label> If no level configured for the step, priority change delta is <i>20</i>. </label> </p>
                    </div>
                </div>
            </div>

            <div class="small-12 large-12 columns panel" id="ramcount_panel">
                <div class="row">
                    <div class="small-4 large-4 columns">
                        <p> <label for="new_ramcount" class="inline"> RAM count </label> </p>
                    </div>
                    <div class="small-4 large-4 columns">
                        <input type="text" id="new_ramcount" placeholder="RAM count">
                    </div>
                    <div class="small-4 large-4 columns">
                        <a class="button postfix" id="btn_do_set_ramcount">Set</a>
                    </div>
                </div>
            </div>

            <div class="small-12 large-12 columns panel" id="walltime_panel">
                <div class="row">
                    <div class="small-4 large-4 columns">
                        <p> <label for="new_walltime" class="inline"> Walltime </label> </p>
                    </div>
                    <div class="small-4 large-4 columns">
                        <input type="text" id="new_walltime" placeholder="Walltime">
                    </div>
                    <div class="small-4 large-4 columns">
                        <a class="button postfix" id="btn_do_set_walltime">Set</a>
                    </div>
                </div>
            </div>

            <div class="small-12 large-12 columns panel" id="attempts_panel">
                <div class="row">
                    <div class="small-4 large-4 columns">
                        <p> <label for="increase_attempt_num" class="inline"> Increase attempts </label> </p>
                    </div>
                    <div class="small-4 large-4 columns">
                        <input type="text" id="increase_attempt_num" placeholder="Increase by">
                    </div>
                    <div class="small-4 large-4 columns">
                        <a class="button postfix" id="btn_do_increase_attempt">Set</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns text-center bodyfont-color">
                    <label> Tasks selected:&nbsp; <span id="selected_count_params">0</span> </label>
                </div>
            </div>
        </div>

        <div id="task_reassign_menu" class="medium content f-dropdown" data-dropdown-content>
            <div class="small-12 large-12 columns bodyfont-color">
                <div class="row">
                    <div class="small-10 large-10 columns">
                        <select name="cloud_select" id="cloud_select">
                            <option value="" selected>Select cloud</option>
                        {% for entry in clouds %}
                            <option value="{{ entry }}">{{ entry }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="small-2 large-2 columns">
                        <a class="button postfix" id="btn_do_reassign_cloud">Go</a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-10 large-10 columns text-center">
                        <label> or </label>
                    </div>
                    <div class="small-10 large-10 columns">

                    </div>
                </div>

                <div class="row">
                    <div class="small-10 large-10 columns">
                        <select name="site_select" id="site_select" class="medium">
                            <option value="" selected>Select site</option>
                        {% for entry in sites %}
                            <option value="{{ entry }}">{{ entry }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="small-2 large-2 columns">
                        <a class="button postfix" id="btn_do_reassign_site">Go</a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 large-12 columns text-center bodyfont-color">
                        <label>
                            Tasks selected:&nbsp;
                            <span id="selected_count_reassign">0</span>
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div id="task_obsolete_menu" class="medium content f-dropdown" data-dropdown-content>
         <div class="small-12 large-12 columns bodyfont-color">

            <div class="small-12 large-12 columns panel" id="all_outputs_panel">

                <div class="row">
                            <div class="small-6 large-6 columns">
                                <p> <label class="inline"> Obsoletion of done/finished tasks</label> </p>
                            </div>
                            <div class="small-3 large-3 columns">
                                <a class="button postfix" id="btn_do_obsolete">Go</a>
                            </div>
                </div>
            </div>

            <div class="small-12 large-12 columns panel" id="outputs_panel">

                <div class="row">



                      {% if  not outputs %}
                            <div class="small-3 large-3 columns">

                                <p> <label class="inline"> Obsolete output formats</label> </p>
                            </div>
                            <div class="small-6 large-6 columns">
                                <input type="text" id="output">
                            </div>

                      {% else %}
                            <div class="small-6 large-6 columns">
                      <ul class="list-group checked-list-box" >

                            {% for entry in outputs %}
                            <div class="checkbox">
                                <label><input type="checkbox" name="outputs" value="{{ entry }}">{{ entry }}</label>
                            </div>
                            {% endfor %}
                      </ul>
                            </div>
                      {% endif %}

                            <div class="small-3 large-3 columns">
                                <a class="button postfix" id="btn_do_delete_output">Go</a>
                            </div>
                </div>


            </div>

                <div class="row">
                    <div class="small-12 large-12 columns text-center bodyfont-color">
                        <label>
                            Tasks selected:&nbsp;
                            <span id="selected_count_obsolete">0</span>
                        </label>
                    </div>
                </div>
         </div>

        </div>

        <div id="task_kill_jobs_menu" class="medium content f-dropdown" data-dropdown-content>
         <div class="small-12 large-12 columns bodyfont-color">

            <div class="small-12 large-12 columns panel" id="kill_job_panel">
                <div class="row">
                            <div class="small-6 large-6 columns">
                                <p> <label class="inline"> Kill jobs</label> </p>
                            </div>
                            <div class="small-3 large-3 columns">
                                <a class="button postfix" id="btn_do_kill_jobs">Go</a>
                            </div>
                </div>

            </div>

            <div class="small-12 large-12 columns panel" id="kill_job_panel">



                <div class="row">

                    <div class="small-3 large-3 columns">
                        <p> <label class="inline"> Kill job ID</label> </p>
                    </div>
                    <div class="small-6 large-6 columns">
                        <input type="text" id="kill_job">
                    </div>

                    <div class="small-3 large-3 columns">
                        <a class="button postfix" id="btn_do_kill_job">Go</a>
                    </div>
                </div>


            </div>

             <div class="small-12 large-12 columns panel" id="kill_job_file">
                <div class="row">


                                <input type="file" id="file" name="file" style="color: black"/>
                                <output id="list" style="color: black"></output>


                </div>

            </div>

         </div>

               <div class="row">
                    <div class="small-12 large-12 columns text-center bodyfont-color">
                        <label>
                            Tasks selected:&nbsp;
                            <span id="selected_count_kill_jobs">0</span>
                        </label>
                    </div>
                </div>

        </div>

    </div>

    <div class="bottom" id="request_status_container"></div>

</div>


<input type="hidden" id="selected_tasks" value="{{task.id}}">

{%  csrf_token %}


<script type="text/javascript">

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
        }
    }
});

function makeAlertBox(content, box_id, text_id) {
    return $( "<div/>", { id: box_id, "class": "alert-box info radius", "data-alert": ""} )
    .append( $( "<span/>", { id: text_id, html: content} ) )
    .append( $( "<a/>", {href: "#", "class": "close", text: '×'} ) );
}



// Get list of tasks selected with checkboxes
function getSelectedTasksList() {
    var tasks = $("#selected_tasks").val().split(',');
    if (tasks.length == 1 && !tasks[0]) {
        tasks.length = 0;
    }
    return tasks;
}


// Perform specified action with given parameters on the list of tasks
function doTasksAction(action, tasks, parameters) {

    if (tasks.length == 0) {
        return;
    }

    var postData = { 'tasks': tasks };

    if (parameters.length !== 0) {
        postData['parameters'] = parameters;
    }

    var ajaxUrl =  Django.url('prodtask:tasks_action', action);

    $("#req_status_box").remove();
    $("#request_status_container").append(
        makeAlertBox("Request status: sending", "req_status_box", "req_status_text")
    );

    var request_error = false;
    var request_done = false;

    $.ajax({
        url: ajaxUrl,
        type: "POST",
        data: $.toJSON(postData),
        dataType: "json",
        complete: function (jqXHR, textStatus) {
            var response = JSON.parse(jqXHR.responseText);
            request_done = true;
            if (textStatus == 'success') {
                if (!response.exception || response.exception === "") {
                    $("#req_status_text").html("Request status: Done");
                } else {
                    $("#req_status_text").html("Request status: Denied, reason: " + response.exception);
                }
            } else {
                request_error = true;
                $("#req_status_text").html("Request status: '" + textStatus + "', details: '" + jqXHR.statusText + "'");
            }
        } // 'complete' event handler

    });

    if ( !(request_error && request_done) ) {
        $("#req_status_text").html("Request status: accepted and is being processed");
    }
}


// Perform action on the selected tasks
function doTasksActionSelected(action) {
    var tasks = getSelectedTasksList();

    if (tasks.length == 0) {
        return;
    }

    var parameters = [];

    // fill action parameters from inputs
    if (action == "finish") {
        parameters = [$("#cbx_soft_finish").attr("checked") ? 1 : 0];
    } else if (action == "change_priority") {
        parameters = [$("#new_priority").val()];
    } else if (action == "reassign_to_site") {
        parameters = [$("#site_select").val()];
    } else if (action == "reassign_to_cloud") {
        parameters = [$("#cloud_select").val()];
    } else if ((action == 'increase_priority') && (action=='decrease_priority')) {
        parameters = [20];
    } else if (action == "change_ram_count") {
        parameters = [$("#new_ramcount").val()];
    } else if (action == "change_wall_time") {
        parameters = [$("#new_walltime").val()];
    } else if (action == "increase_attempt_number") {
        parameters = [$("#increase_attempt_num").val()];
    } else if (action == "delete_output") {
        var checkboxes = document.getElementsByName("outputs");
        if (checkboxes.length==0){

            parameters = $("#output").val().split(" ");
        }
        //console.log(checkboxes.length);
          for (var i=0; i<checkboxes.length; i++) {
            // And stick the checked ones onto an array...
            if (checkboxes[i].checked) {
                parameters.push(checkboxes[i].value);
            }
          }
    } else if (action == "kill_job") {
        parameters = [$("#kill_job").val()];
    }

    tasks.sort();

    doTasksAction(action, tasks, parameters);

} // doTasksActionSelected



  function handleFileSelect(evt) {
    var f = evt.target.files[0]; // File object
    var reader = new FileReader();

    var output = [];
    //for (var i = 0, f; f = files[i]; i++) {
    output.push('<li><strong>', f.name, '</strong> (', f.type || 'n/a', ') - ',
                  'last modified: ',
                  f.lastModifiedDate.toLocaleDateString(), '</li>');

    //}

    reader.onload = function(e) {
            var contents = e.target.result;

            alert(contents);
    };

    reader.readAsText(f);

    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
  }

document.getElementById('file').addEventListener('change', handleFileSelect, false);




$(document).ready(function () {
    // Make management buttons the same size
    {
        var max_width = "0";
        $("#manage_buttons_group").find('.button').each(function () {
            max_width = Math.max($(this).width(), max_width);
        });
        $("#manage_buttons_group").find('.button').each(function () {
            $(this).width(max_width);
        });

    }

    // Setting buttons handlers
    var button_action_map = {
        "abort": "abort",
        "finish": "finish",
        "obsolete": "obsolete",
        "set_priority": "change_priority",
        "increase_priority": "increase_priority",
        "decrease_priority": "decrease_priority",
        "reassign_cloud": "reassign_to_cloud",
        "reassign_site": "reassign_to_site",
        "retry": "retry",
        "set_ramcount": "change_ram_count", "set_walltime": "change_wall_time",
        "increase_attempt": "increase_attempt_number",
        "kill_jobs": "abort_unfinished_jobs",
        "delete_output": "delete_output",
        "kill_job": "kill_job",
    };

    $.each(button_action_map, function(name, action) {
        $("#btn_do_" +name).click(function(){
            $('[id^="task_"][id$="_menu"]').hide(); // hide actions menus
            doTasksActionSelected( button_action_map[name] );
            $("#select_all_tasks").prop("checked", false); // un-check tasks after action
            $("#select_all_tasks").change();
        }); // on click
    }); // $.each


    {% if not user.is_authenticated %}
        $("#management_panel").find("[id^=btn_]").addClass("disabled");
        // disable "disabled" buttons
        $("a.button.disabled").click(function(event) {
            event.stopImmediatePropagation();
            return(false);
        });
    {% endif %}


    $("#selected_tasks").change(function () {
        var tasks = getSelectedTasksList();

        $("[id^=selected_count_]").html( tasks.length );

        if (tasks.length) {
            $("[id^=btn_do_]").removeClass("secondary");
        } else {
            $("[id^=btn_do_]").addClass("secondary");
        }
    });

    $("#selected_tasks").change();
});


</script>

