{% extends parent_template %}
{% load url from future %}
{% load static from staticfiles %}
{% load js %}

{% block extra_css %}
{{ block.super }}
    <style type="text/css" title="currentStyle">
	    @import "{% static "css/jquery-ui-1.10.3.custom.min.css" %}";
	</style>
	<style type="text/css" title="currentStyle">
	</style>
{% endblock %}

{% block subtitle %}
{{pre_form_text|safe}}
{% endblock %}
{% block base_js %}
{{ block.super }}

{%  django_js %}
<script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.json-2.4.min.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>

{% endblock %}

{% block body %}


<script>
    function prepare_pattern(pattern){
        var result_pattern = [];
        //console.log(pattern);
        for(var i=0;i<pattern.length;i++){
            var current_slice = {};
            current_slice['slice']=pattern[i][0];
            current_slice['selected']=false;
            current_slice['outputs']=[];
            for(var j=0;j<pattern[i][1].length;j++){
                var current_output = {};
                current_output['name'] =  pattern[i][1][j];
                current_output['selected']=false;
                current_slice['outputs'].push(current_output);
            }
            result_pattern.push(current_slice);
        }
        return result_pattern
    }
    var groupList = [];
    var currentUser = '{{ request.user.username }}';
    var train_id = '{{ train.id }}';
    //var pattern_request = prepare_pattern($.evalJSON('{{ train.pattern_output }}'));
    {% for group  in groups %}
        groupList.push('{{ group }}');
    {% endfor %}
    {% autoescape off %}
    var parsed_pattern_origin = prepare_pattern($.evalJSON('{{ train.outputs }}'));
    {% endautoescape %}

    {% verbatim %}




 //   var parsed_pattern = [{slice:'0',selected:false,outputs:[{slice:'0',name:'DAOD',selected:false},{slice:'0',name:'ESD',selected:false}]},
   //     {slice:'1',selected:false,outputs:[{slice:'1',name:'DESD',selected:false},{slice:'1',name:'DESD1',selected:false},{slice:'1',name:'DESD2',selected:false}]}];
    var trainServices = angular.module('trainServices', ['ngResource']);
    trainServices.run(run);

    run.$inject = ['$http'];
/**
* @name run
* @desc Update xsrf $http headers to align with Django's defaults
*/
    function run($http) {
      $http.defaults.xsrfHeaderName = 'X-CSRFToken';
      $http.defaults.xsrfCookieName = 'csrftoken';
    }
    trainServices.factory('TrainLoads', ['$resource',
      function($resource){
        return $resource(Django.url('prodtask:trainloads'), {}, {
          query: {method:'GET',  isArray:true},
            save: {method:'POST'}
        });
      }]);
        trainServices.factory('TrainCreateLoads', ['$resource',
      function($resource){
        return $resource(Django.url('prodtask:traincreateloads'), {}, {
            save: {method:'POST'}
        });
      }]);

    trainServices.factory('TrainLoad', ['$resource',
      function($resource){
        return $resource(Django.url('prodtask:trainloads')+':id', {}, {
          get: {method:'GET'},
          save:   {method:'POST'},
          update: { method:'PUT' }
        });
      }]);

    function change_pattern(pattern,selected_slices_text){
        var result_pattern = $.evalJSON($.toJSON(pattern));

        if ((selected_slices_text != undefined)&&(selected_slices_text != '')){
            var selected_slices = $.evalJSON(selected_slices_text);
            for(var i=0;i<selected_slices.length;i++){
                for(var j=0;j<result_pattern.length;j++){

                    if (result_pattern[j].slice == selected_slices[i][0]){
                        console.log(result_pattern[j].outputs,selected_slices[i][1]);
                        for(var k=0;k<result_pattern[j].outputs.length;k++){
                            if($.inArray(result_pattern[j].outputs[k].name,selected_slices[i][1]) != -1){
                                result_pattern[j].outputs[k].selected = true;
                                result_pattern[j].selected = true;
                            }
                        }
                        break;
                    }
                }
            }
        }
        return result_pattern
    }





    var trainApp = angular.module('trainApp',['ngRoute','trainServices']);
    trainApp.config(function($resourceProvider) {
        $resourceProvider.defaults.stripTrailingSlashes = false;
    });
    trainApp.controller('TrainCtrl',['$scope','$http','TrainLoads', function (scope, http, trainLoads){
        scope.trainLoads = trainLoads.query();
            scope.train_id = train_id;
    }]);
    trainApp.controller('TrainLoadCtrl',['$scope','$http', '$routeParams','TrainLoad', '$location',
        function (scope, http, routeParams, trainLoad,  location ){
        var editTrainLoad = this;
            var currentTrainLoad =  trainLoad.get({id:routeParams.loadID}).$promise.then(function(load) {
            console.log(load.outputs);
            scope.parsed_pattern = change_pattern(parsed_pattern_origin,load.outputs);
            $id = load.id;

            scope.groups = groupList;
            editTrainLoad.trainLoad = load;
        });


        scope.change_slice = function(slice_number,is_selected){
          for(var j=0;j<scope.parsed_pattern.length;j++){
              if (scope.parsed_pattern[j].slice==slice_number){
                  for(var i=0;i<scope.parsed_pattern[j].outputs.length;i++){
                      scope.parsed_pattern[j].outputs[i].selected = is_selected;
                  }
                  break;
              }
          }
        };
          editTrainLoad.save = function() {
                editTrainLoad.trainLoad.manager = currentUser;
                var result_outputs = [];
                for(var j=0;j<scope.parsed_pattern.length;j++){
                         var slice_outputs = [];
                          for(var i=0;i<scope.parsed_pattern[j].outputs.length;i++) {
                              if (scope.parsed_pattern[j].outputs[i].selected) {
                                  slice_outputs.push(scope.parsed_pattern[j].outputs[i].name);
                              }
                          }
                          if (slice_outputs.length>0){
                               result_outputs.push([scope.parsed_pattern[j].slice,slice_outputs]);

                          }

                      }

                    editTrainLoad.trainLoad.outputs = $.toJSON(result_outputs);
                trainLoad.update({id:editTrainLoad.trainLoad.id},editTrainLoad.trainLoad,function(data) {
                location.path('/');
        });
    };
    }]);

     trainApp.controller('NewTrainLoadCtrl',['$scope','$http', '$routeParams','TrainLoads', 'TrainLoad','$location',
        function (scope, http, routeParams, trainLoads, trainLoad, location ){

        var editTrainLoad = this;

            scope.groups = groupList;

        scope.parsed_pattern = $.evalJSON($.toJSON(parsed_pattern_origin));
        console.log(scope.parsed_pattern);
        scope.change_slice = function(slice_number,is_selected){
          for(var j=0;j<scope.parsed_pattern.length;j++){
              if (scope.parsed_pattern[j].slice==slice_number){
                  for(var i=0;i<scope.parsed_pattern[j].outputs.length;i++){
                      scope.parsed_pattern[j].outputs[i].selected = is_selected;
                  }
                  break;
              }
          }
        };
    editTrainLoad.save = function() {
        editTrainLoad.trainLoad.manager = currentUser;
        editTrainLoad.trainLoad.train = train_id;
        var result_outputs = [];
        var hasDAOD_TRUTH = false;
        var nonTRUTH = false;
        var hasEVNT = false;
        var hasAOD = false;
        for(var j=0;j<scope.parsed_pattern.length;j++){
                 var slice_outputs = [];
                  for(var i=0;i<scope.parsed_pattern[j].outputs.length;i++) {
                      if (scope.parsed_pattern[j].outputs[i].selected) {
                          slice_outputs.push(scope.parsed_pattern[j].outputs[i].name);
                          if (scope.parsed_pattern[j].outputs[i].name.indexOf('_TRUTH')>-1){
                             hasDAOD_TRUTH = true;
                          } else {
                              nonTRUTH = true
                          }
                      }
                  }
                  if (slice_outputs.length>0){
                       result_outputs.push([scope.parsed_pattern[j].slice,slice_outputs]);

                  }

              }

            editTrainLoad.trainLoad.outputs = $.toJSON(result_outputs);
        hasEVNT = editTrainLoad.trainLoad.datasets.indexOf('EVNT')>-1;
        hasAOD = editTrainLoad.trainLoad.datasets.indexOf('AOD')>-1;
        if ((hasDAOD_TRUTH&&nonTRUTH)||(hasDAOD_TRUTH&&hasAOD)||(nonTRUTH&&hasEVNT)){
            alert('Only EVNT could be used with DAOD_TRUTH*, only xAOD with the rests');
        } else{
            console.log(editTrainLoad.trainLoad.outputs);
            if (editTrainLoad.trainLoad.datasets.length<1000){
                trainLoads.save(editTrainLoad.trainLoad,function(data) {
                    console.log(data);
                   location.path('/');
                });
            } else {
                var temp_datasets = editTrainLoad.trainLoad.datasets;
                editTrainLoad.trainLoad.datasets = 'ongoing_transaction';
                trainLoads.save(editTrainLoad.trainLoad,function(data) {
                     editTrainLoad.trainLoad.datasets=temp_datasets;


                   trainLoad.update({id:data.id},editTrainLoad.trainLoad,function(data2) {
                    location.path('/');
                    });
                });
            }
        }

    };
    }]);
    trainApp.controller('AssemblerTrainCtrl',['$scope','$http', function (scope, http){
            http.get(Django.url('prodtask:assembled_train',train_id)).
              success(function(data, status, headers, config) {
                scope.assembled_train = data;
              }).
              error(function(data, status, headers, config) {
                console.log(status);
              });
    }]);
    trainApp.config(function($routeProvider) {
          $routeProvider.
            when('/', {
              templateUrl:'/static/html/_ng_train_carrige.html',
              controller: 'TrainCtrl'
            }).
          when('/new', {
              templateUrl: '/static/html/_ng_train_load_details.html',
              controller: 'NewTrainLoadCtrl as editTrainLoad'
            }).
          when('/assembler', {
              templateUrl: '/static/html/_ng_train_assembler.html',
              controller: 'AssemblerTrainCtrl'
            }).
          when('/:loadID', {
              templateUrl: '/static/html/_ng_train_load_details.html',
              controller: 'TrainLoadCtrl as editTrainLoad'
            }).
            otherwise({
              redirectTo: '/'
            });
    });
</script>
{% endverbatim %}

<div class="row">
<div class="columns large-4" style="border: solid">Train: {{ train.description }}</div>
<div class="columns large-2" style="border: solid">Status: {{ train.status }}</div>
<div class="columns large-3" style="border: solid">pattern request: <u><a href='{% url 'prodtask:input_list_approve' train.pattern_request.reqid %}'>{{ train.pattern_request.reqid  }}</a><u/></div>
<div class="columns large-3" style="border: solid">Departure: {{ depart_date }}</div>
{% if allow_assemble %}
    {% ifnotequal train.status 'Closed' %}
        <a class='button' href="{%  url 'prodtask:create_request_from_train' train.id %}">Assemble</a>
        {% if allow_close %}
            <a class='button' href="{%  url 'prodtask:close_train' train.id %}">Close</a>
        {% endif %}
   {% else %}
         <a class='button' href="{%  url 'prodtask:reopen_train' train.id %}">Open</a>
    {% endifnotequal %}

{% endif %}
</div>
    <p/>
<div ng-app="trainApp">
    <div ng-view></div>

</div>

{% endblock %}