<div class="sliceCell">
  <div  >    <a  style="color: #43a047; cursor: pointer" (click)="showSlice()"><mat-icon class="more">more</mat-icon></a>
  @if (parentStep !== null) {
    <a  href="/prodtask/inputlist_with_request/{{parentStep.request}}/#inputList{{parentStep.slice}}">
    Child to {{parentStep.request}} - {{parentStep.slice}}</a>
  }
  <span style="padding: 1px 1px; margin-left: 5px">{{analysisSlice.slice.dataset}}</span></div>
  <div>@if (analysisSlice.slice_error) {
    <span style="color: red; margin-right: 5px"><mat-icon class="error">
      error
    </mat-icon>{{analysisSlice.slice_error}}</span>
    }<span >Templates:</span>
    @for (step of analysisSlice.steps; track step) {
      <span style="background-color: gold">{{step.analysis_step.template_name}}</span>
    } - Status: {{currentStatus}}</div>
    <div>
      <span >Tasks:</span>@for (step of analysisSlice.steps; track step) {
      (<app-step-tasks [step]="step"></app-step-tasks> )
    }</div>

  </div>
