<div class="container">
<div id="header{{  taskMeta.taskid }}"  ng-click="showStuff(taskMeta)" style="cursor: pointer;" >
  <span class="taskheader {{ taskMeta.status }}" > {{  taskMeta.taskid }} </span><span >{{  taskMeta.taskname }}</span>
<span><b>{{  taskMeta.processed_events }}</b></span></div>

    <div id="body{{ taskMeta.taskid }}" class="total" ng-show="taskMeta.show">
    <table border="1" class="table-datasets" >
    <tbody>
        <tr>
            <th colspan="2" style="width:40%; background-color: rgb(124,112,107); text-align: center;">TASK</th>
            <th colspan="2" style="width:30%; background-color: rgb(209,213,216); text-align: center;">EXPERIMENT</th>
            <th colspan="2" style="background-color: rgb(243,121,52); text-align: center;">CONFIGURATION</th>
        </tr>
        <tr>
            <th >taskID</th> <td><a href="/prodtask/task/{{ taskMeta.taskid }}">{{ taskMeta.taskid }}</a><a href="https://bigpanda.cern.ch/task/{{ taskMeta.taskid }}"> BigPanda</a></td>
            <th >AMI tag</th> <td>{{ taskMeta.ctag }}</td>
            <th >Step Name</th> <td>{{ taskMeta.step_name }}</td>
        </tr>
        <tr>
            <th >Request</th> <td><a href="/prodtask/inputlist_with_request/{{ taskMeta.pr_id }}">{{ taskMeta.pr_id }}</a></td>
            <th >Campaign</th> <td>{{ taskMeta.campaign }}</td>
            <th >ticket_id</th> <td>{{ taskMeta.ticket_id }}</td>
        </tr>
        <tr>
            <th >status</th> <td>{{ taskMeta.status }}</td>
            <th >Subcampaign</th> <td>{{ taskMeta.subcampaign }}</td>
            <th >Architecture</th> <td>{{ taskMeta.architecture }}</td>
        </tr>
        <tr>
            <th >Description</th> <td>{{ taskMeta.description }}</td>
            <th >Project</th> <td>{{ taskMeta.project }}</td>
            <th >Core Number</th> <td>{{ taskMeta.core_count }}</td>
        </tr>
         <tr>
            <th >User</th> <td>{{ taskMeta.user_name }}</td>
            <th >Energy</th> <td>{{ taskMeta.energy_gev }}</td>
            <th >ATLAS Geometry</th> <td>{{ taskMeta.geometry_version }}</td>
        </tr>
         <tr>
            <th >timestamp</th> <td>{{ taskMeta.task_timestamp }}</td>
            <th >Physics Group</th> <td>{{ taskMeta.phys_group }}</td>
            <th >Conditions Tags</th> <td>{{ taskMeta.conditions_tags }}</td>
        </tr>
         <tr>
            <th >start - end time</th> <td>{{ taskMeta.start_time }} {{ taskMeta.end_time }}</td>
            <th >Physics Category</th> <td>{{ taskMeta.phys_category }}</td>
            <th >trigger_config</th> <td>{{ taskMeta.trigger_config }}</td>
        </tr>
          <tr>
            <th >HS06 per event</th> <td>{{ taskMeta.hs06 }}</td>
            <th >Hashtags</th> <td>{{ taskMeta.hashtag_list }}</td>
            <th >transPath</th> <td>{{ taskMeta.trans_path }}</td>
        </tr>
          <tr>
            <th >Outputs</th> <td>{{ taskMeta.output_formats}}</td>
            <th ></th> <td></td>
            <th >transUses</th> <td>{{ taskMeta.trans_home }}</td>
        </tr>
          <tr>
            <th colspan=2>

                        EVENTS Requested / Processed <p/>
                        {{ taskMeta.requested_events }} / {{ taskMeta.processed_events }}

            </th>
            <th ></th> <td></td>
            <th >run number</th> <td colspan=3>{{ taskMeta.run_number }}</td>
        </tr>
          <tr>
            <th colspan=8 style="background-color: rgb(44,130,201); text-align: center;">Datasets</th>
        </tr>
          <tr>
             <th colspan=1>Input Datasets</th>
            <td colspan=4 >{{ taskMeta.primary_input }}</td>
            <td colspan=3 >{{ taskMeta.input_bytes }}</td>


         </tr>
        <tr ><th colspan=5>Output Datasets</th><th colspan=3 >Size(bytes)</th></tr>
          <tbody ng-repeat="output in taskMeta.output_dataset ">
            <tr  >
                <td colspan=5 >{{ output.datasetname }}</td>
                  <td colspan=3 >{{ output.bytes }}</td>
            </tr>
              <tr>

                <td colspan=1 >cross section:</td> <td colspan=1 >{{ output.cross_section }}</td>
                  <td colspan=1 >filt eff:</td> <td colspan=1 >{{ output.gen_filt_eff }}</td>
                  <td colspan=1> events:</td> <td colspan=3 >{{ output.events }}</td>

            </tr>
         </tbody>
    </tbody>
</table>
</div>
</div>