
<h5>{{ search_string }}</h5>
  <div  ng-show="is_loading"> Loading...</div>
<a href="{{ manage_url }}">
<table>
     <thead>
     <tr> <td ng-repeat="status in status_stat " ><span class=" rstat tstat {{ status.name }}">{{ status.name }}</span></td></tr>
     </thead>
     <tbody>
     <tr> <td ng-repeat="status in status_stat " >{{ status.count }}</td></tr>
     </tbody>
    </table>
</a>
  <div  > Tasks with at least 'ready' status('staging' and 'registered' are not included):</div>
<table>
        <tbody>
        <td style="margin: 0px"><table><tbody><tr><td>Step Name</td></tr>  <tr><td> Tasks</td></tr>
        <tr><td> Input events</td></tr>
        <tr><td> Processed events</td></tr>
        <tr><td> Output events</td> </tr>
        <tr><td> Running/Pending</td></tr>
        <tr><td> Input bytes</td></tr>
        <tr><td> Output bytes</td></tr>
        <tr><td> Average HS06 per event</td></tr>
  <!--   <tr><td> Total Failed HS06</td></tr> -->
        <tr><td> Duration (finished tasks)</td></tr>
        </tbody></table>
        </td>
            <td style="margin: 0px;padding: 0px" ng-repeat="step in steps ">
                <table><tbody>
                <tr><td><b>{{ step.name }} <span class="{{  step.step_status }}">{{ step.percent_done | number:2}}%</span>
                </b></td></tr>
                <tr><td>{{ step.total_tasks | number:0 }}</td></tr>
                <tr><td><span  ng-show="step.input_not_removed_tasks!=step.total_tasks">~</span>{{ step.input_events | number:0 }}</td></tr>
                <tr><td>{{ step.processed_events | number:0 }}</td></tr>
                <tr><td>{{ step.total_events | number:0 }}</td></tr>
                <tr><td>{{ step.percent_runnning | number:0 }}%/{{ step.percent_pending | number:0 }}%</td></tr>
                <tr><td>{{ step.input_bytes | myfilesize }}  ( {{ step.input_not_removed_tasks}} tasks)</td></tr>
                <tr><td>{{ step.output_bytes | myfilesize }}  ( {{ step.output_not_removed_tasks}} tasks)</td></tr>
                <tr><td>{{ step.hs06  }}</td></tr>
<!--              <tr><td>{{ step.cpu_failed | bignumber }}</td></tr> -->
                <tr><td>{{ step.duration | number:2 }} days</td></tr>
                </tbody></table>
            </td>
        </tbody>
    </table>