<div style="display: flex">
  @for (status of possibleStatus; track status) {
    @if (statusDescription[status].url) {
      @if (stats[status]>0) {
        <a
     [style]="{'background-color': statusDescription[status].color, 'flex-grow': stats[status], 'height':'10px',
      'cursor': 'pointer'}"
          [matTooltip]="statusDescription[status].descr + ' ' + (stats[status]*100).toFixed(2).toString() +'%'"
          [href]="statusDescription[status].url">
        </a>
      }
    } @else {
      @if (stats[status]>0) {
        <div
          [style]="{'background-color': statusDescription[status].color, 'flex-grow': stats[status], 'height':'10px' }"
          [matTooltip]="statusDescription[status].descr + ' ' + (stats[status]*100).toFixed(2).toString() +'%'">
        </div>
      }
    }
  }
</div>
