<mat-sidenav-container
  class="example-container" xmlns="http://www.w3.org/1999/html">
  <mat-sidenav #sidenav  [(opened)]="opened">
<p>Total selected: {{totalSelected}}</p>
          <p>Size:{{totalSelectedSize | datasetSize }}</p>
<form *ngIf="opened">
 <mat-form-field class="send-size-form">
   <mat-label>Number of extensions      </mat-label>
     <input matInput type="number" [(ngModel)]="extendNumbers"  [ngModelOptions]="{standalone: true}" placeholder="1">
 </mat-form-field>

  <mat-form-field class="send-size-form">
    <mat-label>Message </mat-label>
     <textarea matInput  #extentMessage [(ngModel)]="extendMessage" maxlength="256" [ngModelOptions]="{standalone: true}"
               placeholder="Put a reason or a JIRA ticket"></textarea>
    <mat-hint align="end">{{extentMessage.value.length}} / 256</mat-hint>
  </mat-form-field>
  </form>

    <p><button mat-button [disabled]="sendClicked" (click)="sendExtension()">Send</button></p>
    <p><button mat-button (click)="sidenav.close()">Close</button></p>



  </mat-sidenav>

  <mat-sidenav-content>


   <p><a mat-raised-button  [routerLink]="['/gp-stats']" [queryParams]="{type: dataType}" >Back to overview</a></p>
<p>Superseded datasets {{outputType}}</p>
    <p>Total: {{totalFiltered}} containers, {{totalFilteredSize|datasetSize}};
      Expired:  {{totalFilteredExpired}} containers, {{totalFilteredExpiredSize|datasetSize}} </p>

<div class="links">
  <ul>
    <li *ngFor="let containerByTag of containersByTagTables">
      <a [routerLink]='"."' [queryParamsHandling]="'merge'" [fragment]="containerByTag.amiTag">{{containerByTag.amiTag}}</a>
    </li>
  </ul>
</div>

<button mat-raised-button  color="primary" (click)="sidenav.open()" >Extend selected</button><p>
    <span>Show: </span>
    <mat-radio-group  [(ngModel)]="expiredFilter"  (ngModelChange)="changeExpiredFilter()"  aria-label="Select">
      <mat-radio-button [value]="null">All</mat-radio-button>
      <mat-radio-button [value]="'expired'" style="padding-left: 10px">Expired</mat-radio-button>
    </mat-radio-group><br>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput [ngModel]="mainFilter" (keyup)="applyFilterEvent($event)" placeholder="" #input>
    </mat-form-field>
  <section>


<div class="section" *ngFor="let containerByTag of containersByTagTables" [attr.id]='containerByTag.amiTag' >
   <div *ngIf="amiTagsDescription[containerByTag.amiTag] as value; else elseBlock"><h5>{{containerByTag.amiTag}}
     {{value.cache}},
     <span *ngIf="value.skim === 's'; else elseBlock2">skim</span><ng-template #elseBlock2><span>no skim</span></ng-template></h5></div>
  <ng-template #elseBlock><h5> {{containerByTag.amiTag}}</h5></ng-template>

<table mat-table [dataSource]="containerByTag.dataSource"  multiTemplateDataRows >
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle(containerByTag.dataSource, containerByTag.selection) : null"
                    [checked]="containerByTag.selection.hasValue() && isAllSelected(containerByTag.dataSource, containerByTag.selection)"
                    [indeterminate]="containerByTag.selection.hasValue() && !isAllSelected(containerByTag.dataSource, containerByTag.selection)"
                    [aria-label]="checkboxLabel(containerByTag.dataSource, containerByTag.selection)">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selectRowWithCounting(containerByTag.selection, row) : null"
                    [checked]="containerByTag.selection.isSelected(row)"
                    [aria-label]="checkboxLabel(containerByTag.dataSource, containerByTag.selection, row)">
      </mat-checkbox>
    </td>
  </ng-container>
    <!-- Container Column -->
  <ng-container matColumnDef="container">
    <th mat-header-cell *matHeaderCellDef > Container </th>
    <td mat-cell *matCellDef="let element" [attr.id]='element.id'> <a [routerLink]="['/gp-container-details', element.container ]" > {{element.container}} </a></td>
  </ng-container>

   <!-- Version Column -->
  <ng-container matColumnDef="available_tags">
    <th mat-header-cell *matHeaderCellDef > Available tags </th>
    <td mat-cell *matCellDef="let element"> {{element.available_tags}} </td>
  </ng-container>

    <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef > Age </th>
    <td mat-cell *matCellDef="let element"  [ngClass]="element.is_expired" > {{element.age | number:'1.0-0'}} </td>
  </ng-container>

  <ng-container matColumnDef="extensions_number">
    <th mat-header-cell *matHeaderCellDef > # ext </th>
    <td mat-cell *matCellDef="let element"> {{element.extensions_number}} </td>
  </ng-container>

  <ng-container matColumnDef="extended_till">
    <th mat-header-cell *matHeaderCellDef > Extended up to </th>
    <td mat-cell *matCellDef="let element"> {{element.expended_till| date}} </td>
  </ng-container>

    <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

        <table mat-table [dataSource]="selectedContainerDetailsDataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="container">
            <th mat-header-cell *matHeaderCellDef> Container </th>
            <td mat-cell *matCellDef="let element">  <a [routerLink]="['/gp-container-details', element.container ]" >{{element.container}} </a></td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Size </th>
            <td mat-cell *matCellDef="let element"> {{element.size| datasetSize}} </td>
          </ng-container>

          <ng-container matColumnDef="rucio">
            <th mat-header-cell *matHeaderCellDef> Rucio </th>
            <td mat-cell *matCellDef="let element"> <a href="{{element.container | rucioURL}}" >rucio</a> </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="['container', 'name', 'rucio']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['container', 'name', 'rucio'];"></tr>
        </table>
      </div>

    </td>

  </ng-container>



  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
        class="example-element-row"
      [class.example-expanded-row]="expandedElement === row"
      (click)="extend(row)"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
</div>
</section>

<button class="sticked" mat-fab color="primary" (click)="sidenav.open()" >Extend</button>
  </mat-sidenav-content>
</mat-sidenav-container>
