.links {
  text-align: center;
  margin-bottom: 2rem;
}
ul {
  list-style: none;
  font-size: 1.5em;
  display: inline-block;
  padding-left: 0;
}
ul li{
  float: left;
  padding-right: 10px;
}

.send-size-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

table.mat-table {
}

td.mat-cell {
  padding-left: 5px;
}

th.mat-header-cell {
  padding-left: 5px;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.sticked{
  position: fixed;
    bottom: 40px;
    right: 20px;
}

.mat-sidenav-content {
  /*display: flex;*/
  /*height: 100%;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  flex-direction: column;
  align-items: flex-start;
}


/*.example-sidenav {*/
/*  padding: 40px;*/
/*}*/

.mat-cell.expired, span.expired{
  background-color: red;
}

.mat-cell.not_expired, span.not_expired{
  background-color: orange;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
