<form name="validShortForm">
        <div class="row">
        <div class="large-12 columns">
          <label> Dataset:
            <textarea  name="dataset" ng-model="validShortModel.request.dataset" required > </textarea>
               <span ng-show="validShortForm.dataset.$error.required && !validShortForm.dataset.$pristine" >
                Required </span>
          </label>
        </div>
        </div>
        <div class="row">
        <div class="large-12 columns">
          <label> Short description(request title):
            <input type="text" name="short_description" ng-model="validShortModel.request.short_description" required >
               <span ng-show="validShortForm.short_description.$error.required && !validShortForm.short_description.$pristine" >
                Required </span>
          </label>
        </div>
        </div>
        <div class="row">
        <div class="large-12 columns">
          <label> Link to JIRA ticket:
            <input type="text" name="ref_link" ng-model="validShortModel.request.ref_link"  >
          </label>
        </div>
        </div>

        <div class="row">
        <div class="large-6 columns">
            <span>Additional outputs:</span><br>
            <label>
                <input type="checkbox" ng-model="validShortModel.request.doNTUP" /> NTUP_PHYSVAL
            </label>
            <label> *AOD* format:
            <input type="text" name="aod_format" ng-model="validShortModel.request.aod_format" required >
               <span ng-show="validShortForm.aod_format.$error.required && !validShortForm.aod_format.$pristine" >
                Required </span>
          </label>
        <label> *ESD* format:
            <input type="text" name="esd_format" ng-model="validShortModel.request.esd_format" required >
               <span ng-show="validShortForm.esd_formatt.$error.required && !validShortForm.esd_formatt.$pristine" >
                Required </span>
          </label>
        </div>
            <div class="large-4 columns">
               <label> Reco tag:
                    <input type="text" name="recoTag" ng-model="validShortModel.request.recoTag" amitag required >
                   <span ng-show="validShortForm.recoTag.$error.amitag">The value is not a valid amitag!</span>
                   <span ng-show="validShortForm.recoTag.$error.required && !validShortForm.recoTag.$pristine" >
                    Required </span>
              </label>

                <label> *AOD* merge tag:
                    <input type="text" name="aodTag" ngRequired="false" ng-model="validShortModel.request.aodTag"   required >
                   <span ng-show="validShortForm.aodTag.$error.amitag">The value is not a valid amitag!</span>
                    <span ng-show="validShortForm.aodTag.$error.required && !validShortForm.aodTag.$pristine" >
                    Required </span>
              </label>
               <label> NTUP_PHYSVAL  tag:
                    <input type="text" name="ntupTag" ngRequired="false" ng-model="validShortModel.request.ntupTag" required >
                   <span ng-show="validShortForm.ntupTag.$error.amitag">The value is not a valid amitag!</span>
                   <span ng-show="validShortForm.ntupTag.$error.required && !validShortForm.ntupTag.$pristine" >
                    Required </span>
              </label>
            </div>


</div>
        <div class="row">
            <div class="large-3 columns">
              <label> Priority:
                <input type="number" name="priority" ng-model="validShortModel.request.priority" required >
                   <span ng-show="validShortForm.priority.$error.required && !validShortForm.priority.$pristine" >
                    Required </span>
              </label>
            </div>

        </div>
            <div class="row">

            <div class="large-12 columns">
              <label> Reco  project mode :
                <input type="text" name="recoProjectMode" ng-model="validShortModel.request.recoProjectMode" required >
                   <span ng-show="validShortForm.recoProjectMode.$error.required && !validShortForm.recoProjectMode.$pristine" >
                    Required </span>
              </label>
            </div>
            <div class="large-12 columns">
              <label> AOD merge project mode:
                <input type="text" name="AODMergeProjectMode" ng-model="validShortModel.request.AODMergeProjectMode"  >

              </label>
            </div>
            <div class="large-12 columns">
              <label> NTUP merge project mode:
                <input type="text" name="ntupProjectMode" ng-model="validShortModel.request.ntupProjectMode"  >

              </label>
            </div>
        </div>
                <div class="row">

        </div>
</form>

<button ng-click="validShortModel.proceed()" ng-disabled="validShortForm.$invalid" class="btn btn-primary">Proceed</button>