
<div style="height: 300px" >
  <app-pattern-selection [patterns]="mockPatterns" ></app-pattern-selection>

    <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" (click)="reShuffle()">
      shuffle
    </button>
<input [(ngModel)]="scrollIndex" type='number' placeholder="Index" class="border border-gray-300 p-1 rounded-lg" >
<button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" (click)="scrollTo(scrollIndex)">
  Scroll to index
</button>
</div>
  <div class="sticky top-0 z-10"><span >Header</span>
    <button (click)="scrollTo(0)">Top</button> <button (click)="scrollTo(-1)">Bottom</button>
    <input [(ngModel)]="filterString" type='text' placeholder="Filter" class="border border-gray-300 p-1 rounded-lg" (keyup)="filterRows()">{{currentIndex()}}
  </div>
  <!-- Infinite Scroll Viewport -->
  <cdk-virtual-scroll-viewport itemSize="50" #scrollViewport  scrollWindow>
    <div *cdkVirtualFor="let myRow of rowsDatasource; let rowIndex = index;" class="flex items-center h-16 border-b">
      <!-- Columns within a row -->
      @if(myRow.checkbox !== undefined){
      <div class="flex items-center justify-center" style="width: 50px">
        <input type="checkbox" [checked]="myRow.checkbox" (change)="handleCheckboxChange(rowIndex)">
      </div>
      } @else {
        <div class="flex items-center justify-center" style="width: 50px">
        </div>
      }
      @for(column of myRow.columns; track $index){
      <div
        [class]="column.cssClasses"
        [style.flex]="column.span"
        (click)="handleColumnClick(myRow.myIndex, $index)"
        class="flex items-center justify-center">
        {{ column.text }}
      </div>
      }
    </div>
  </cdk-virtual-scroll-viewport>

<div style="height: 220px" >
</div>
<!--</div>-->


