<div class="row">
     <div class="columns large-2"><span>Selected:</span>{{ hashtag_formula }}</div>
</div>
<div class="row">
          <button ng-click="showTasks()" class="btn btn-primary">Manage tasks</button>
          <a href="#/hashtags/{{ hashtag_formula }}" class="button">Show statistic</a>
            <a href="/dkb/#/steps_stat/?hashtag={{ hashtag_formula }}" class="button">DKB steps</a>
     <a href="/dkb/#/output_stat/?hashtag={{ hashtag_formula }}" class="button">DKB outputs</a>
</div>
<div class="row">
    <div class="columns large-6">
        <input type="text" ng-model="hashtags.search" class="search-query" id="hashtag_search"
               placeholder="Filter">
    </div>
 </div>
<div class="row">
            <div class="columns large-1">
               <span>Main</span>
            </div>
            <div class="columns large-1">
                <span>Filter</span>
            </div>
            <div class="columns large-1">
                <span>Exclude</span>
            </div>
           <div class="columns large-3">
                <span>HashTag</span>
           </div>

            <div class="columns large-3">
                <span>N tasks</span>
            </div>
            <div class="columns large-6">

            </div>

 </div>
<div ng-repeat="hashtag in hashTags| filter:hashtags.search " class="row">
            <div class="columns large-1">
                <input type="checkbox" ng-change="change_hashtag_formula(hashtag.hashtag,hashtag.and_selected, 'and_selected', $index)" ng-model="hashtag.and_selected">
            </div>
            <div class="columns large-1">
                <input type="checkbox" ng-change="change_hashtag_formula(hashtag.hashtag,hashtag.or_selected, 'or_selected', $index)" ng-model="hashtag.or_selected">
            </div>
            <div class="columns large-1">
                <input type="checkbox" ng-change="change_hashtag_formula(hashtag.hashtag,hashtag.not_selected, 'not_selected', $index)" ng-model="hashtag.not_selected">
            </div>
           <div class="columns large-3">
                <span>{{ hashtag.hashtag }}</span>
           </div>

            <div class="columns large-3">
            {{ hashtag.tasks }}
            </div>
            <div class="columns large-6">

            </div>

 </div>