   <div class="spinner" ng-show="loading"> test Loading...</div>
   <div ng-repeat="entry in requestProgressData.steps ">
   <h5 class="hashtags">{{ entry.hashtags }}</h5>
       <table>
        <tbody>
        <td>Step Name % <br> Processed/Input events</td>
            <td ng-repeat="step in entry.step_statistic ">
                <div class="{{  step.step_status }}"><b>{{ step.step_name }} {{ step.percent }}</b> <p/> {{ step.statistic.processed_events }}/{{ step.statistic.input_events }}</div>

             </td>
        </tbody>
    </table>
       </div>
