
   <style type="text/css">
 	div.StepDone	{ background-color : forestgreen;}
	div.Unknown 	{ background-color : gray;	}
	div.StepProgressing	{ background-color : yellowgreen;		}
	div.StepNotStarted	{ background-color : orangered;		}
 	div.obsolete	{ background-color : lightblue;}
	div.holding 	{ background-color : black;	}
	div.pending	{ background-color : blue;		}
	div.waiting	{ background-color : blue;	}
	div.submitting	{ background-color : blue;	}
	div.archived 	{ background-color : magenta;	}
	div.failed 	{ background-color : red;	}
	div.aborted 	{ background-color : red;	}
	div.broken		{ background-color : red;	}

	div.running 	{ background-color : LightGreen;	}

	div.done 		{ background-color : darkgreen;	}
    div.finished 		{ background-color : darkgreen;	}
    div.registered {  background-color : blue;}
  </style>

   <div class="spinner" ng-show="loading"> Loading...</div>
      <div class="row">

    <table>
        <tbody>
        <td>Step Name % <br> Processed/Input events <br> running/pending/finished</td>
            <td ng-repeat="step in requestProgressData.steps ">
                <div ><b>{{ step.step_name }} <div class="{{  step.step_status }}">{{ step.percent }}</div>
                </b> <p/> {{ step.statistic.processed_events | number:0 }} / {{ step.statistic.input_events | number:0 }}
                 <br>{{ step.percent_status  }}</div>

             </td>
        </tbody>
    </table>
          </div>
      <div class="row">

          <div class="columns large-1">
           <label>Show tag/taskID<input type="checkbox"  ng-model="showTag"></label>
           </div>
          </div>
       <div class="row">
     <table >
        <tbody>
        <tr ng-repeat="chain_requests in requestProgressData.chains ">
            <td style="border:1px solid black"><span>{{ chain_requests.chain_name  }}</span><div ng-repeat="request_id in chain_requests.requests" ><a href="{{ request_base }}{{ request_id }}">{{ request_id}}</a><br></div></td>
            <td ng-repeat="task in chain_requests.chain " style="border:1px solid black">
                <div class="{{  task.status }}"><a href="http://bigpanda.cern.ch/task/{{ task.task_id }}">
                    <div ng-show="!showTag">{{ task.task_id }}</div>
                    <div ng-show="showTag">{{ task.tag }}</div>
                    </a></div>
                    <br>{{ task.input_events }}/{{ task.processed_events }}

             </td>
        </tr>

        </tbody>
    </table>
          </div>
         <a href="#/" class="button">Back</a>