

<h5>Trains:</h5>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Dataset</th>
            <th>Outputs</th>
            <th>Groups</th>

        </tr>
    </thead>
    <tbody>

     <tr ng-repeat="carriage in assembled_train ">

            <td>{{ carriage.carriage_number }}</td>
            <td>{{ carriage.dataset }}</td>
            <td>{{ carriage.outputs }}</td>
            <td>
                <div  ng-repeat="item in carriage.group">
                    {{item}}
                </div>

            </td>
     </tr>

</tbody>
    </table>
<a href="#/" class="btn">Cancel</a>