<form name="hltShortForm">
        <div class="row">
        <div class="large-12 columns">
          <label> Dataset:
            <input type="text" name="dataset" ng-model="hltShortModel.request.dataset" required >
               <span ng-show="hltShortForm.dataset.$error.required && !hltShortForm.dataset.$pristine" >
                Required </span>
          </label>
        </div>
        </div>
        <div class="row">
        <div class="large-12 columns">
          <label> Short description(request title):
            <input type="text" name="short_description" ng-model="hltShortModel.request.short_description" required >
               <span ng-show="hltShortForm.short_description.$error.required && !hltShortForm.short_description.$pristine" >
                Required </span>
          </label>
        </div>
        </div>
        <div class="row">
        <div class="large-12 columns">
          <label> Link to JIRA ticket:
            <input type="text" name="ref_link" ng-model="hltShortModel.request.ref_link"  >
          </label>
        </div>
        </div>
        <div class="row">
        <div class="large-3 columns">
          <label> Two step reco:
            <input type="checkbox" ng-model="hltShortModel.request.twoStep" />
          </label>
        </div>
        </div>
        <div class="row">
        <div class="large-6 columns">
            <span>Outputs:</span><br>
            <label ng-repeat="(output,enabled) in hltShortModel.outputs">
                <input type="checkbox" ng-model="hltShortModel.outputs[output]" /> {{output}}
            </label>

        </div>
            <div class="large-4 columns">
               <label> Reco tag:
                    <input type="text" name="recoTag" ng-model="hltShortModel.request.recoTag" amitag required >
                   <span ng-show="hltShortForm.recoTag.$error.amitag">The value is not a valid amitag!</span>
                   <span ng-show="hltShortForm.recoTag.$error.required && !hltShortForm.recoTag.$pristine" >
                    Required </span>
              </label>
                <label ng-show="hltShortModel.request.twoStep" > Reco 2 tag:
                    <input ng-show="hltShortModel.request.twoStep"  type="text" name="recoTag" ng-model="hltShortModel.request.reco2Tag" amitag  >
                   <span ng-show="hltShortForm.reco2Tag.$error.amitag">The value is not a valid amitag!</span>
              </label>
               <label> HIST* merge tag:
               <input type="text" name="mergeTag" ngRequired="false" ng-model="hltShortModel.request.mergeTag"  >
                   <span ng-show="hltShortForm.mergeTag.$error.amitag">The value is not a valid amitag!</span>
              </label>
                <label> AOD merge tag:
                    <input type="text" name="aodTag" ngRequired="false" ng-model="hltShortModel.request.aodTag"   >
                   <span ng-show="hltShortForm.aodTag.$error.amitag">The value is not a valid amitag!</span>
              </label>
               <label> NTUP_* merge tag:
                    <input type="text" name="ntupTag" ngRequired="false" ng-model="hltShortModel.request.ntupTag"  >
                   <span ng-show="hltShortForm.ntupTag.$error.amitag">The value is not a valid amitag!</span>
              </label>
            </div>

        <div class="large-2 columns">
               <label> Reco ramcount:
                    <input type="number" name="recoRam" ng-model="hltShortModel.request.ram.recoRam"  required >
                   <span ng-show="hltShortForm.recoRam.$error.required && !hltShortForm.recoRam.$pristine" >
                    Required </span>
              </label>
               <label> HIST*  ramcount:
               <input type="number" name="mergeRam" ngRequired="false" ng-model="hltShortModel.request.ram.mergeRam"  >

              </label>
                <label> AOD  ramcount:
                    <input type="number" name="aodRam" ngRequired="false" ng-model="hltShortModel.request.ram.aodRam"   >

              </label>
               <label> NTUP_*  ram:
                    <input type="number" name="ntupRam" ngRequired="false" ng-model="hltShortModel.request.ram.ntupRam"  >

              </label>
            </div>
</div>
        <div class="row">
            <div class="large-3 columns">
              <label> Priority:
                <input type="number" name="priority" ng-model="hltShortModel.request.priority" required >
                   <span ng-show="hltShortForm.priority.$error.required && !hltShortForm.priority.$pristine" >
                    Required </span>
              </label>
            </div>
            <div class="large-9 columns">
              <label> Sites:
                <input type="text" name="sites" ng-model="hltShortModel.request.sites" required >
                   <span ng-show="hltShortForm.sites.$error.required && !hltShortForm.sites.$pristine" >
                    Required </span>
              </label>
            </div>
        </div>
            <div class="row">

            <div class="large-12 columns">
              <label> Common project mode:
                <input type="text" name="commonProjectMode" ng-model="hltShortModel.request.commonProjectMode" required >
                   <span ng-show="hltShortForm.commonProjectMode.$error.required && !hltShortForm.commonProjectMode.$pristine" >
                    Required </span>
              </label>
            </div>
        </div>
                <div class="row">

            <div class="large-12 columns">
              <label> Reco specific project mode addition:
                <input type="text" name="recoProjectMode" ng-model="hltShortModel.request.recoProjectMode" required >
                   <span ng-show="hltShortForm.recoProjectMode.$error.required && !hltShortForm.recoProjectMode.$pristine" >
                    Required </span>
              </label>
            </div>
        </div>
</form>

<button ng-click="hltShortModel.proceed()" ng-disabled="hltShortForm.$invalid" class="btn btn-primary">Proceed</button>
