<a class='button' href="#/new">New load</a> <a class='button' href="#/assembler">Show trains</a>
<div ng-repeat="trainOneLoad in trainLoads | filter:{ train: train_id }">
     <fieldset>
      <legend>Load #{{ $index  }}</legend>
     <div class="row">

           <div class="columns large-3">
                <span>Group: {{ trainOneLoad.group }}</span>
                {{ trainOneLoad.skim }}
           </div>





            <div class="columns large-3">
            Submitted by:{{ trainOneLoad.manager }}
            </div>


            <div class="columns large-3">
                 Modify: <a ng-href="#/{{trainOneLoad.id}}">edit</a>
            </div>
            <div class="columns large-3"></div>
         </div>
     <div class="row">
       <div class="columns large-12">
           <span>
                Outputs: {{ trainOneLoad.outputs }}
           </span>

       </div>
      <div class="row">
       <div class="columns large-12">
           <span>
                Datasets:
           </span>
           <ul>
           <div ng-repeat="item in trainOneLoad.datasets.split('\n')">

               <li>
               {{item}}
               </li>

           </div>
            </ul>
            </span>

       </div>

        </div>
    </fieldset>
 </div>