<div class="row">
    <label>
        Tasks ID or datasets name:
        <textarea  style="height: 200px" ng-model="tasks_text" ></textarea>
    </label>

</div>

<div class="row">
    <div class="column large-3">
    <label>
        Hashtag:
        <input ng-model="hashtag" />
    </label>
    </div>
    <div class="column large-1">
        <label> Use container names
         <input type="checkbox"  ng-model="use_containers">
            </label>
    </div>
    <div class="column large-2">
        <div ng-show="loading"><span>LOADING...</span></div>
        <button ng-click="set_hahtag()" ng-disabled="loading "> Set</button>
    </div>
</div>