@if(isLoading()){
  <mat-spinner></mat-spinner>
}
@if(errorMessage()){
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Error!</strong>
        <span class="block sm:inline">{{ errorMessage() }}</span>
  </div>
}
@if(datasetRecreated()){
    <div class="bg-violet-100 border border-violet-400 text-violet-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Dataset has been requested for re-creation</strong>
      <div>
        <span class="block sm:inline" >Status: {{datasetRecreated().status}}</span
        >
        @if(datasetRecreated().task_id){
            <a class='ml-5' [routerLink]="['/task',datasetRecreated().task_id]" >Recreation task: {{datasetRecreated().task_id}}</a>
        }
          </div>

      @if (datasetRecreated().dataset) {
        Recreated Dataset: <a href="{{datasetRecreated().dataset | rucioURL}}">{{datasetRecreated().dataset}}</a>
      }
  </div>

}
@if(datasetExists()){
<div class="task-grid mat-elevation-z8">
      <!--    Row-->
  <div>Name:</div><div style="grid-column: 2 / -1"><a href="{{datasetInfo()?.dataset.name | rucioURL}}">{{datasetInfo()?.dataset.name}}</a></div>
      <!--    Row-->
  <div>Length:</div><div>{{datasetInfo()?.dataset.length}}</div>
  <div>Size:</div><div>{{datasetInfo()?.dataset.bytes|datasetSize}}</div>
  <div>Events:</div><div>{{datasetInfo()?.dataset.events}}</div>
         <!--    Row-->
  <div>Scope:</div><div>{{datasetInfo()?.dataset.scope}}</div>
  <div>Account:</div><div>{{datasetInfo()?.dataset.account}}</div>
  <div>Campaign:</div><div>{{datasetInfo()?.dataset.campaign}}</div>
        <!--    Row-->
  <div>Created:</div><div>{{datasetInfo()?.dataset.created_at | date}}</div>
  <div>Updated:</div><div>{{datasetInfo()?.dataset.updated_at | date}}</div>
  <div>Expired:</div><div>{{datasetInfo()?.dataset.expired_at | date}}</div>


          <!--    Row-->
  <div>Last Accessed:</div><div>{{datasetInfo()?.dataset.accessed_at | date}}</div>
  <div>Access number:</div><div>{{datasetInfo()?.dataset.access_cnt}}</div>
  <div>TaskID:</div><div><a [routerLink]="['/task',datasetInfo()?.dataset.task_id]" >{{datasetInfo()?.dataset.task_id}}</a></div>

</div>
  <mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Rules and replicas</mat-card-title>
  </mat-card-header>

<div class="mat-elevation-z8">
  <mat-table
    [dataSource]="dataSource"
    matSort
    matSortActive="ruleAccount"
    matSortDirection="asc"
  >
    <!-- RSE Expression Column -->
    <ng-container matColumnDef="ruleRSEExpression">
      <mat-header-cell *matHeaderCellDef>
        RSE (Rule or Replica)
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if(element.rule?.rse_expression){
          <a href="https://rucio-ui.cern.ch/rule?rule_id={{element.rule?.id}}" >{{element.rule?.rse_expression}}</a>
        } @else {
          {{ element.replica?.rse }}
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="files">
      <mat-header-cell *matHeaderCellDef>
        Files: OK(repl/stuck)
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if(element.rule?.rse_expression){
          <b>{{element.rule?.locks_ok_cnt}}</b>/<span [style]="  element.rule?.locks_replicating_cnt>0 ? 'color:darkgoldenrod;font-weight: bold' : ''" >{{element.rule?.locks_replicating_cnt}}</span>
          /<span [style]="  element.rule?.locks_stuck_cnt>0 ? 'color:red;font-weight: bold' : ''" >{{element.rule?.locks_stuck_cnt}}</span>
        } @else {
          <b>{{ element.replica?.available_length }}</b>
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ruleStatus">
      <mat-header-cell *matHeaderCellDef>
        State
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span [class]="element.rule?.state">{{ element.rule?.state || 'N/A' }}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ruleActivity">
      <mat-header-cell *matHeaderCellDef>
        Activity
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.rule?.activity || 'N/A' }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ruleAccount">
      <mat-header-cell *matHeaderCellDef>
        Rule Account
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.rule?.account || 'N/A' }}
      </mat-cell>
    </ng-container>

    <!-- Replica RSE Column -->
    <ng-container matColumnDef="sourceRSE">
      <mat-header-cell *matHeaderCellDef>
        Source RSE
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if(element.rule?.activity.toLowerCase() === 'staging'){
          {{ element.rule?.source_replica_expression || 'N/A' }}
        }
      </mat-cell>
    </ng-container>

    <!-- Replica Available Length Column -->
    <ng-container matColumnDef="expiresAt">
      <mat-header-cell *matHeaderCellDef >
        Expires
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.rule?.expires_at | date }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>



</div>
@if(stuckReasons().length > 0){
  <h5 style="color: red">Stuck reasons:</h5>
  @for(stuckReason of stuckReasons(); track stuckReason){
    <div>{{stuckReason}}</div>
  }
}</mat-card>
  @if(datasetInfo().staging_dataset){
    <mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Staging request</mat-card-title>
  </mat-card-header>
<div class="task-grid mat-elevation-z8">
      <!--    Row-->
    <div>Status:</div><div>{{datasetInfo()?.staging_dataset.status}}</div>

  <div>Rule:</div><div style="grid-column: 4 / -1; overflow-wrap: anywhere">
  <a href="https://rucio-ui.cern.ch/rule?rule_id={{datasetInfo().staging_dataset.rse}}" >{{datasetInfo().staging_dataset.rse}}</a>
</div>
      <!--    Row-->
  <div>Source Tape:</div><div>{{datasetInfo()?.staging_dataset.source}}</div>
  <div>Destination:</div><div>{{datasetInfo()?.staging_dataset.destination}}</div>
  <div>Staged Files:</div><div>{{datasetInfo()?.staging_dataset.staged_files}}
({{(datasetInfo()?.staging_dataset.staged_files * 100 / datasetInfo()?.staging_dataset.total_files )| number:'1.0-3'
}}% )</div>
         <!--    Row-->
  <div>Started:</div><div>{{datasetInfo()?.staging_dataset.start_time | date}} </div>
  <div>Since last file:</div><div>{{datasetInfo()?.staging_dataset.update_time | date}}</div>
  <div>Updated:</div><div>{{datasetInfo()?.staging_dataset.modification_time | date}}</div>

</div>
    <app-rule-action [datasets]="[datasetInfo()?.staging_dataset.dataset]" ></app-rule-action>
       </mat-card>
  }


}
@if(datasetDeletedInfo()){
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">{{datasetDeletedInfo()?.dataset_name}} - {{datasetDeletedInfo()?.error}}</strong>
  </div>
}
@if(actionLog$ | async; as actionLog){
  @if(actionLog.length > 0){
    <mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Action logs</mat-card-title>
  </mat-card-header>
<section class="logTable" style="margin-top: 1em; margin-bottom: 1em">
  <mat-table [dataSource]="actionLog" [fixedLayout]="true" class="mat-elevation-z8">
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.action}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="timestamp">
    <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.timestamp|date}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef>username </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="message">
    <mat-header-cell *matHeaderCellDef>JEDI message </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.return_message}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef>Return code </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.return_code}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="params">
    <mat-header-cell *matHeaderCellDef>Params</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.params}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="comment">
    <mat-header-cell *matHeaderCellDef>Comment</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.comment}} </mat-cell>
  </ng-container>
    <mat-header-row *matHeaderRowDef="['action', 'timestamp', 'username','message','code','params','comment']" class="header-row"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['action', 'timestamp', 'username','message','code','params','comment']"></mat-row>
  </mat-table>
</section>
    </mat-card>
}
}
  @if (stuckStaging()  ) {
    @if(stuckFilesMessage()){
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Error!</strong>
        <span class="block sm:inline">{{ stuckFilesMessage() }}</span>
  </div>
    }
    @if(stuckFilesLoading()){
      <mat-spinner></mat-spinner>
    }
    @if(stuckFiles()){
<div class="p-4 bg-gray-50 min-h-screen">
    <mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Stuck files(up to 3 files sample)</mat-card-title>
  </mat-card-header>
    <!-- Loop through each file name (top layer) -->
    @for (fileName of Object.keys(stuckFiles()); track fileName) {
      <div class="mb-8 p-6 bg-white rounded-lg shadow-md border border-gray-200">
        <h2 class="text-2xl font-semibold text-indigo-700 mb-4">File: <a [href]="formDashboardURL(fileName)"> {{ fileName }}</a></h2>

        <!-- Loop through each src_endpoint for the current file name -->
        @for (srcEndpoint of Object.keys(stuckFiles()?.[fileName]); track srcEndpoint) {
          <div class="ml-4 mb-6 p-5 bg-indigo-50 rounded-lg border border-indigo-200">
            <h3 class="text-xl font-medium text-indigo-800 mb-3">
              Source Endpoint: <span class="font-bold">{{ srcEndpoint }}</span>
            </h3>
            <p class="text-gray-700 mb-4">
              <span class="font-semibold">Last FTS:</span>
              @if(stuckFiles()?.[fileName][srcEndpoint].fts_link){
                <a [href]="stuckFiles()?.[fileName][srcEndpoint].fts_link" target="_blank" class="text-blue-600 hover:underline break-all">
                  Link to FTS job
                </a>
              }
              <span class="font-semibold">State: </span>
              {{ stuckFiles()?.[fileName][srcEndpoint].fts_state }}
              <span class="font-semibold">Created at: </span>
              {{ stuckFiles()?.[fileName][srcEndpoint].fts_submitted | date }}
            </p>
            <p class="text-gray-700 mb-4 flex items-center"> <!-- Added flex and items-center for vertical alignment -->
              <span class="font-semibold flex-shrink-0 mr-2">Source:</span> <!-- flex-shrink-0 to keep label from shrinking -->
              <span class="overflow-x-auto whitespace-nowrap text-blue-600 hover:underline"> <!-- Apply scroll and no-wrap here -->
                {{ stuckFiles()?.[fileName][srcEndpoint].src_url }}
              </span>
            </p>
                        <p class="text-gray-700 mb-4">
              <span class="font-semibold">First time created at: </span>
              {{ stuckFiles()?.[fileName][srcEndpoint].first_attempt_start_time | date }}
              <span class="font-semibold">Last attemp failed at: </span>
              {{ stuckFiles()?.[fileName][srcEndpoint].last_attempt_end_time | date }}
            </p>
            <!-- Loop through each dst_endpoint for the current src_endpoint -->
            @for (dstEndpoint of Object.keys(stuckFiles()?.[fileName][srcEndpoint].dst_endpoints); track dstEndpoint) {
              <div class="ml-4 mt-4 p-4 bg-white rounded-md shadow-sm border border-gray-200">
                <h4 class="text-lg font-medium text-gray-800 mb-3">
                  Destination Endpoint: <span class="font-bold">{{ dstEndpoint }}</span>
                </h4>

                <p class="text-sm font-semibold text-gray-600 mb-2">Reason Texts and Counts:</p>
                <ul class="list-disc list-inside space-y-1">
                  <!-- Loop through each reason_text and its count -->
                  @for (reasonText of Object.keys(stuckFiles()?.[fileName][srcEndpoint].dst_endpoints[dstEndpoint]); track reasonText) {
                    <li>
                      <span class="font-medium text-gray-700">{{ reasonText }}</span>:
                      <span class="text-red-600 font-bold">
                        {{ stuckFiles()?.[fileName][srcEndpoint].dst_endpoints[dstEndpoint][reasonText] }}
                      </span> occurrences
                    </li>
                  } @empty {
                    <p class="text-gray-500 text-sm italic">No specific failure reasons recorded for this destination.</p>
                  }
                </ul>
              </div>
            } @empty {
              <p class="text-gray-500 italic mt-3">No destination endpoints recorded for this source.</p>
            }
          </div>
        } @empty {
          <p class="text-gray-500 italic">No source endpoints recorded for this file.</p>
        }
      </div>
    }
    </mat-card>
  </div>
    }
  }
@if(taskLoading){
  <mat-spinner></mat-spinner>
}
@if(tasksToShow.length > 0){
    <app-production-task-table [tasks]="tasksToShow"  [showOwner]="true" >
  </app-production-task-table>
}
@if(datasetExists()){
<!--  recover lost files-->
    <button [routerLink]="['/files-recovery',datasetInfo()?.dataset.name]">Check lost files</button>
}
