.task-table-header, .filters-top-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.action-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
