<p>Active staging rules (both Production and Analysis)</p>
@if(ruleLoading()){
  <mat-spinner></mat-spinner>
}
    <app-select-with-search
      [formControl]="filters.source.selectedValues"
      [filterBase]="filters.source"
      [multiple]="true"
      (selectionChange)="filterChanged$.next(1)">
    </app-select-with-search>
    <app-select-with-search
      [formControl]="filters.destination.selectedValues"
      [filterBase]="filters.destination"
      [multiple]="true"
      (selectionChange)="filterChanged$.next(1)"
      >

    </app-select-with-search>


    <app-select-with-search
      [formControl]="filters.username.selectedValues"
      [filterBase]="filters.username"
      [multiple]="true"
      (selectionChange)="filterChanged$.next(1)">
    </app-select-with-search>
    <app-select-with-search
      [formControl]="filters.status.selectedValues"
      [filterBase]="filters.status"
      [multiple]="true"
      (selectionChange)="filterChanged$.next(1)">
    </app-select-with-search>
    <mat-slide-toggle [formControl]="showOnlyFullRSEs" > Only Full RSEs</mat-slide-toggle>
    <mat-slide-toggle [formControl]="showOnlyStuckRules" >Stuck</mat-slide-toggle>

<div>
<mat-form-field appearance="fill" style="width: 79%;">
    <mat-label>Filter by dataset and rule id</mat-label>
      <input matInput [formControl]="generalFilter" (change)="filterChanged$.next(1)" >
    </mat-form-field>
  <span>|</span>
  <mat-form-field appearance="fill" style="width: 19%;">
    <mat-label>Task id(s)</mat-label>
      <input matInput [formControl]="taskids" (change)="filterChanged$.next(1)" >
    </mat-form-field>
  </div>
@if(showOnlyStuckRules.value){
      <app-task-stats  [taskStatus]="stuckErrors"  [formControl]="stuckErrorsControl"
                [statusOrder]="stuckErrorOrder" [orientation]="'vertical'"></app-task-stats>
}
<div class="task-table-wrapper">
<div class="task-table-header">

  <div>
  <button mat-raised-button color="primary" (click)="selectFiltered()">Select Filtered</button>
  <button mat-raised-button color="primary" (click)="clearSelection()">Clear selection</button>
  </div>
</div>
               <ag-grid-angular
                 #agGrid
          style="width: 100%; "
          class="ag-theme-alpine"
          [rowData]="stagingRules()"
          [columnDefs]="columnDefs"
              [gridOptions]="gridOptions"
                 (selectionChanged)="onSelectionChanged($event)"
    [rowSelection]="'multiple'"
            [pagination]="true"
          [paginationPageSize]="20"
     [domLayout]="'autoHeight'"
    [rowHeight]="22"
                 (gridReady)="onGridReady($event)"
                 (filterChanged)="adjustColumns($event)"
                  ></ag-grid-angular>
</div>
<div><h5>{{selectedRulesString}}</h5></div>
<div class="action-row">
        <button  (click)="showTasks()" [disabled]="taskLoading" >Show tasks</button>
     <span>Actions: </span>
  <app-rule-action [datasets]="selectedDatasets"></app-rule-action>


</div>
@if(taskLoading){
  <mat-spinner></mat-spinner>
}
@if(tasksToShow.length > 0){
    <app-production-task-table [tasks]="tasksToShow"  [showOwner]="true" >
  </app-production-task-table>
}
